<template>
  <div class="wrap-beneficiary-data">
    <base-navbar title="Isi Data untuk Polis" />

    <div class="text-center px-5">
      <div class="font-bold text-app-title pt-5 pb-4 text-lg">
        Data Ahli Waris
      </div>

      <div class="text-sm">
        Setiap Tertanggung dapat memiliki maksimal lima Ahli Waris untuk
        menerima kompensasi. Total Benefit % dari semua Ahli Waris untuk setiap
        Tertanggung maks 100%.
      </div>

      <!-- step introducer components -->
      <div class="py-4">
        <step-introducer :datas="stepData" :active="3" />
      </div>
      <!-- end step introducer components -->
    </div>

    <div class="divider"></div>

    <div v-if="renderComponent">
      <div v-for="(data, index) in form" :key="index">
        <div class="px-5">
          <div class="wrap-input pb-5">
            <div>
              <div class="font-bold mt-4">
                Ahli Waris untuk Tertanggung {{ index + 1 }}
              </div>

              <!-- children tertanggung -->
              <div v-for="(ahliwaris, subIndex) in data.heirs" :key="subIndex">
                <div class="flex justify-between items-center">
                  <div class="font-bold my-4">#{{ subIndex + 1 }}</div>
                  <img
                    class="h-6"
                    src="@/assets/img/general/icon-trash.png"
                    @click="deleteBeneficary(index, subIndex)"
                  />
                </div>

                <!-- full name -->
                <form-group
                  label="Nama Lengkap"
                  :validator="
                    $v.form.$each.$iter[index].heirs.$each.$iter[subIndex]
                      .fullName
                  "
                >
                  <input
                    type="text"
                    class="input"
                    v-model="ahliwaris.fullName"
                    placeholder="Nama Lengkap"
                    :error="
                      $v.form.$each.$iter[index].heirs.$each.$iter[subIndex]
                        .fullName.$error
                    "
                  />
                </form-group>

                <!-- Jenis Kelamin -->
                <form-group
                  label="Jenis Kelamin"
                  :validator="
                    $v.form.$each.$iter[index].heirs.$each.$iter[subIndex]
                      .gender
                  "
                >
                  <div
                    class="input-choice mt-4"
                    :error="
                      $v.form.$each.$iter[index].heirs.$each.$iter[subIndex]
                        .gender.$error
                    "
                  >
                    <span class="placeholder">
                      Jenis Kelamin
                    </span>

                    <div class="flex w-1/2 justify-center items-center">
                      <div
                        class="w-1/2 flex items-center cursor-pointer"
                        @click="clickRadioGender(1, index, subIndex)"
                      >
                        <div
                          class="radio-button"
                          :class="ahliwaris.gender === 1 ? 'active' : ''"
                        >
                          <img
                            src="@/assets/img/general/icon-checklist-radio.svg"
                            alt="icon checklist radio"
                          />
                        </div>
                        <span class="ml-3 font-bold text-sm">Pria</span>
                      </div>
                      <div
                        class="w-1/2 flex items-center cursor-pointer"
                        @click="clickRadioGender(2, index, subIndex)"
                      >
                        <div
                          class="radio-button"
                          :class="ahliwaris.gender === 2 ? 'active' : ''"
                        >
                          <img
                            src="@/assets/img/general/icon-checklist-radio.svg"
                            alt="icon checklist radio"
                          />
                        </div>
                        <span class="ml-3 font-bold text-sm">Wanita</span>
                      </div>
                    </div>
                  </div>
                </form-group>

                <!-- no telepon -->
                <form-group
                  label="No Telepon"
                  :validator="
                    $v.form.$each.$iter[index].heirs.$each.$iter[subIndex]
                      .phoneNumber
                  "
                >
                  <input
                    type="text"
                    class="input mt-4"
                    v-model="ahliwaris.phoneNumber"
                    placeholder="No Telepon"
                    :error="
                      $v.form.$each.$iter[index].heirs.$each.$iter[subIndex]
                        .phoneNumber.$error
                    "
                  />
                </form-group>

                <!-- tanggal lahir -->
                <div class="text-sm py-3">Tanggal Lahir</div>

                <div class="flex">
                  <!-- hari -->
                  <div class="w-1/3 mr-2">
                    <form-group
                      label="Tanggal"
                      :validator="
                        $v.form.$each.$iter[index].heirs.$each.$iter[subIndex]
                          .hari
                      "
                    >
                      <input
                        type="text"
                        v-model="ahliwaris.hari"
                        class="input"
                        placeholder="HH"
                        :error="
                          $v.form.$each.$iter[index].heirs.$each.$iter[subIndex]
                            .hari.$error
                        "
                      />
                    </form-group>
                  </div>
                  <!-- bulan -->
                  <div class="w-1/3 mr-2">
                    <form-group
                      label="Bulan"
                      :validator="
                        $v.form.$each.$iter[index].heirs.$each.$iter[subIndex]
                          .bulan
                      "
                    >
                      <input
                        type="text"
                        v-model="ahliwaris.bulan"
                        class="input"
                        placeholder="BB"
                        :error="
                          $v.form.$each.$iter[index].heirs.$each.$iter[subIndex]
                            .bulan.$error
                        "
                      />
                    </form-group>
                  </div>
                  <!-- tahun -->
                  <div class="w-1/3">
                    <form-group
                      label="Tahun"
                      :validator="
                        $v.form.$each.$iter[index].heirs.$each.$iter[subIndex]
                          .tahun
                      "
                    >
                      <input
                        type="text"
                        v-model="ahliwaris.tahun"
                        class="input"
                        placeholder="TTTT"
                        :error="
                          $v.form.$each.$iter[index].heirs.$each.$iter[subIndex]
                            .tahun.$error
                        "
                      />
                    </form-group>
                  </div>
                </div>

                <!-- relation -->
                <form-group
                  label="Hubungan"
                  :validator="
                    $v.form.$each.$iter[index].heirs.$each.$iter[subIndex]
                      .relation
                  "
                >
                  <div
                    class="input-choice mt-4"
                    @click="showModal(index, subIndex, ahliwaris.relation)"
                    :error="
                      $v.form.$each.$iter[index].heirs.$each.$iter[subIndex]
                        .relation.$error
                    "
                  >
                    <span class="text-app-label" v-if="ahliwaris.relation">
                      {{ RelationItemsData[ahliwaris.relation - 1] }}
                    </span>
                    <span class="placeholder" v-else>
                      Hubungan dengan Tertanggung
                    </span>
                    <img
                      src="@/assets/img/general/icon-chevron-right.svg"
                      alt="icon right"
                    />
                  </div>
                </form-group>

                <!-- benefit -->
                <form-group
                  label="Benefit"
                  :validator="
                    $v.form.$each.$iter[index].heirs.$each.$iter[subIndex]
                      .percentage
                  "
                >
                  <div class="wrap-input-icon relative mt-4">
                    <span class="pr-3 font-bold text-app-placeholder">%</span>
                    <input
                      type="text"
                      class="input-icon"
                      v-model="ahliwaris.percentage"
                      placeholder="Benefit"
                      :error="
                        $v.form.$each.$iter[index].heirs.$each.$iter[subIndex]
                          .percentage.$error
                      "
                    />
                  </div>
                </form-group>
              </div>
              <!-- end children tertanggung -->

              <!--  -->
              <div class="wrap-add-data">
                <div class="add-data" @click="addBeneficary(index)">
                  <img
                    src="@/assets/img/asuransi/pedulicare/icon-person-add.svg"
                    alt="icon person add"
                  />
                  <span>Tambah Ahli Waris Lain</span>
                </div>
              </div>
              <div class="text-sm text-app-label-2 text-center">
                Maks 5 Orang
              </div>
            </div>
          </div>
        </div>

        <div
          class="divider"
          v-if="form.length > 1 && index < form.length - 1"
        ></div>
      </div>
    </div>

    <div class="divider"></div>

    <div class="py-3 px-5">
      <button class="btn-fill mr-2 sm:mr-3 xl" @click="next">
        Ajukan
      </button>
    </div>

    <modal title="Orang ini adalah" v-if="activeModal" @close="closeModal">
      <div>
        <relation-items
          :datas="RelationItemsData"
          :choosed="choosedModal"
          @choosedItems="choosedItems"
        />
      </div>
    </modal>
  </div>
</template>
<script>
// plugins
import { map } from "lodash";
// utils
import { getAge, isValidDate } from "@/mixins/utils";

// vuelidate
import {
  required,
  minLength,
  maxLength,
  numeric,
  between,
  maxValue
} from "vuelidate/lib/validators";

// base
import BaseNavbar from "@/components/Base/Navbar.vue";
import StepIntroducer from "@/components/Base/StepIntroducer.vue";
import Modal from "@/components/Base/Modal.vue";
import FormGroup from "@/components/Base/FormGroup.vue";

// components
import RelationItems from "@/components/Asuransi/Pedulicare/RelationItems.vue";

export default {
  name: "PedulicareBeneficiaryDataForm",

  components: {
    BaseNavbar,
    StepIntroducer,
    Modal,
    FormGroup,
    RelationItems
  },

  data: () => ({
    stepData: ["Data Pemegang Polis", "Data Tertanggung", "Data Ahli Waris"],
    RelationItemsData: [
      "Istri",
      "Suami",
      "Anak",
      "Ayah",
      "Ibu",
      "Kakak",
      "Adik"
    ],
    activeModal: false,
    choosedModal: "",
    targetModal: {},
    form: null,
    isLoading: false,
    renderComponent: true
  }),

  validations: {
    form: {
      $each: {
        heirs: {
          required,
          minLength: minLength(1),
          $each: {
            relation: {
              required
            },
            fullName: {
              required
            },
            gender: {
              required
            },
            phoneNumber: {
              numeric,
              required,
              minLength: minLength(10)
            },
            hari: {
              required,
              numeric,
              minLength: minLength(2),
              maxLength: maxLength(2),
              between: between(1, 31)
            },
            bulan: {
              required,
              numeric,
              minLength: minLength(2),
              maxLength: maxLength(2),
              between: between(1, 12)
            },
            tahun: {
              required,
              numeric,
              minLength: minLength(4),
              maxLength: maxLength(4)
            },
            percentage: {
              required,
              numeric,
              maxValue: maxValue(100)
            }
          }
        }
      }
    }
  },

  mounted() {
    if (this.form[0].heirs[0].fullName === "") {
      map(this.form, (item, index) => {
        this.form[index].heirs.length = 1;
      });

      this.forceRerender();
    }
  },

  methods: {
    initData() {
      const form = this.$store.getters["policy/insured"];
      this.form = form;

      this.isLoading = true;
    },

    clickRadioGender(value, index, subIndex) {
      this.form[index].heirs[subIndex].gender = value;

      this.forceRerender();
    },

    showModal(index, subIndex, val) {
      this.targetModal = {
        index,
        subIndex
      };
      this.choosedModal = Number(val);
      this.activeModal = true;
    },

    closeModal() {
      this.activeModal = false;
    },

    choosedItems(val) {
      let index = this.targetModal.index;
      let subIndex = this.targetModal.subIndex;
      let countPasangan = 0;

      map(this.form[index].heirs, item => {
        // istri or suami
        if (item.relation == 1 || item.relation == 2) {
          countPasangan++;
        }
      });

      // relation istri or suami tidak boleh lebih dari 1
      if (countPasangan < 1) {
        // set value relation
        this.form[index].heirs[subIndex].relation = val;
      } else {
        // jika ingin edit dari suami or istri ke yang lain
        if (
          this.form[index].heirs[subIndex].relation == 1 ||
          this.form[index].heirs[subIndex].relation == 2
        ) {
          this.form[index].heirs[subIndex].relation = val;
        } else {
          if (val == 1 || val == 2) {
            this.$showNotification(
              "Tertanggung tidak boleh mempunyai Pasangan lebih dari 1"
            );
          } else {
            this.form[index].heirs[subIndex].relation = val;
          }
        }
      }

      // close modal when after choosed
      this.closeModal();
    },

    joinDateOfBirth() {
      map(this.form, (item, index) => {
        map(item.heirs, (subItem, subIndex) => {
          // join date of birth
          this.form[index].heirs[
            subIndex
          ].dateOfBirth = `${subItem.hari}/${subItem.bulan}/${subItem.tahun}`;

          this.form[index].heirs[subIndex].percentage = Number(
            subItem.percentage
          );
        });
      });
    },

    forceRerender() {
      // remove the my-component component from the DOM
      this.renderComponent = false;

      this.$nextTick(() => {
        // add my-component component in DOM
        this.renderComponent = true;
      });
    },

    addBeneficary(index) {
      if (this.form[index].heirs.length < 5) {
        this.form[index].heirs.push({
          fullName: "",
          hari: "",
          bulan: "",
          tahun: "",
          dateOfBirth: "",
          relation: null,
          gender: null,
          percentage: null,
          phoneNumber: ""
        });
      }

      this.forceRerender();
    },

    deleteBeneficary(index, subIndex) {
      if (this.form[index].heirs.length > 1) {
        this.form[index].heirs.splice(subIndex, 1);
        this.forceRerender();
      }
    },

    checkError() {
      let result = false;
      map(this.form, (item, index) => {
        map(item.heirs, (subItem, subIndex) => {
          let fullName = this.$v.form.$each.$iter[index].heirs.$each.$iter[
            subIndex
          ].fullName.$error;

          let hari = this.$v.form.$each.$iter[index].heirs.$each.$iter[subIndex]
            .hari.$error;

          let bulan = this.$v.form.$each.$iter[index].heirs.$each.$iter[
            subIndex
          ].bulan.$error;

          let tahun = this.$v.form.$each.$iter[index].heirs.$each.$iter[
            subIndex
          ].tahun.$error;

          let phoneNumber = this.$v.form.$each.$iter[index].heirs.$each.$iter[
            subIndex
          ].phoneNumber.$error;

          let relation = this.$v.form.$each.$iter[index].heirs.$each.$iter[
            subIndex
          ].relation.$error;

          let percentage = this.$v.form.$each.$iter[index].heirs.$each.$iter[
            subIndex
          ].percentage.$error;

          if (
            fullName ||
            hari ||
            bulan ||
            tahun ||
            phoneNumber ||
            relation ||
            percentage
          ) {
            result = true;
          }
        });
      });

      return result;
    },

    validationBenefit() {
      let result = false;
      let totalPercentage = 0;
      let totalInsured = 0;

      map(this.form, item => {
        totalInsured += 1;
        map(item.heirs, subItem => {
          totalPercentage += Number(subItem.percentage);
        });
      });

      if (totalPercentage === totalInsured * 100) {
        result = true;
      }

      return result;
    },

    // usia 18 - 64
    validateAge() {
      let result = 0;

      map(this.form, item => {
        map(item.heirs, subItem => {
          // join date of birth
          let dateOfBirth = `${subItem.tahun}/${subItem.bulan}/${subItem.hari}`;
          // jika kurang dari 18 tahun maka tidak bisa
          if (getAge(dateOfBirth) < 18) {
            result++;
          }
        });
      });

      return result;
    },

    // check is valid date ex: 29/02/2000 = false
    checkIsValidDate() {
      let result = 0;

      map(this.form, item => {
        map(item.heirs, subItem => {
          if (
            isValidDate(
              subItem.tahun,
              Number(subItem.bulan - 1),
              subItem.hari
            ) == false
          ) {
            result++;
          }
        });
      });

      return result;
    },

    next() {
      this.$v.$touch();

      // check all error validate (vuelidate)
      if (!this.checkError()) {
        if (this.checkIsValidDate() < 1) {
          if (this.validateAge() < 1) {
            // check validate benefit expect 100%
            if (this.validationBenefit()) {
              // set tanggal lahir
              this.joinDateOfBirth();
              // set data form
              this.$store.commit("policy/SET_INSURED", this.form);

              // go to summary
              this.$router.push({ name: "PedulicareSummary" });
            } else {
              this.$showNotification("Kalkulasi Benefit Harus 100%");
            }
          } else {
            this.$showNotification("Usia minimal ahli waris adalah 18 tahun");
          }
        } else {
          this.$showNotification("Tanggal lahir tidak valid");
        }
      }
    }
  },

  created() {
    this.initData();
  }
};
</script>
<style lang="scss" scoped>
.wrap-beneficiary-data {
  @apply min-h-screen;
  box-shadow: #ccc 0 2px 4px 0;

  .wrap-add-data {
    @apply flex;
    @apply justify-center;
    @apply items-center;

    .add-data {
      @apply flex;
      @apply justify-center;
      @apply items-center;
      @apply bg-white;
      @apply border border-app-primary;
      @apply py-2 px-7;
      @apply mt-6 mb-2;
      @apply rounded-3xl;
      @apply cursor-pointer;

      img {
        @apply w-5;
        @apply inline;
        @apply mr-3;
      }

      span {
        @apply text-app-primary;
        @apply font-bold;
        @apply text-sm;
      }
    }
  }

  .wrap-input-icon span {
    @apply leading-5;
    @apply absolute;
    @apply right-0;
    @apply p-3;
    @apply pointer-events-none;
  }
}
</style>
