<template>
  <div class="wrap-benefit">
    <base-navbar title="Deskripsi dari Manfaat" />

    <div class="px-5">
      <div class="font-bold text-app-title py-5">Deskripsi dari Manfaat</div>
      <div>
        <div class="numb-title">
          1. Santunan Rawat Inap, per hari maks 31 hari
        </div>
        <div class="no-description">
          Apabila Tertanggung harus menjalani perawatan inap di Rumah Sakit
          karena penyakit Covid-19 yang terjadi di dalam masa berlakunya Polis
          ini maka Penanggung akan membayar Santunan Tunai Harian sesuai plan
          yang dipilih setiap hari selama Tertanggung dirawat di Rumah Sakit.
          Jumlah maksimum hari yang dijamin oleh Polis ini adalah 31 (tiga puluh
          satu) hari untuk setiap perawatan.
        </div>
      </div>

      <div class="pt-5">
        <div class="numb-title">
          2. Santunan Tunai Perawatan ICU/ICCU/NICU/PICU
        </div>
        <div class="no-description">
          Apabila Tertanggung harus menjalani perawatan inap di Rumah Sakit
          karena penyakit Covid-19 yang terjadi di dalam masa berlakunya Polis
          ini maka Penanggung akan membayar Santunan Tunai sesuai plan yang
          dipilih dengan syarat Tertanggung dirawat inap minimal 5 (lima) hari
          di kamar ICU/ICCU/NICU/PICU di Rumah Sakit.
        </div>
      </div>

      <div class="text-app-label text-sm pt-5">
        Periode pertanggungan yang berlaku untuk produk ini yaitu 6 (enam) bulan
        dan 1 (satu) tahun.
      </div>
    </div>

    <div class="divider my-4"></div>

    <div class="wrap-description">
      <div class="px-5">
        <div class="font-bold text-app-title pt-1 pb-5">
          Ketentuan Manfaat Khusus
        </div>
        <div>
          <div class="numb-title">
            1. Santunan Rawat Inap dan Santunan Tunai Perawatan
            ICU/ICCU/NICU/PICU hanya tersedia karena Penyakit Covid-19
          </div>
        </div>

        <div class="pt-5">
          <div class="numb-title">
            2. Polis ini mengecualikan klaim apapun yang berhubungan dengan
            Kondisi yang Sudah Ada Sebelumnya (PEC), yang didefinisikan sebagai
            berikut:
          </div>
        </div>

        <div class="text-app-label text-sm pt-2">
          - Telah dinasehati dan / atau menjalani karantina karena dari setiap
          paparan COVID-19
        </div>

        <div class="text-app-label text-sm pt-2">
          - Telah disarankan untuk melakukan tes COVID-19 atau sedang menunggu
          untuk hasil tes COVID-19
        </div>

        <div class="text-app-label text-sm pt-2">
          - Telah dites positif terinfeksi COVID-19
        </div>

        <div class="text-app-label text-sm pt-2">
          - Pernah bepergian ke luar negeri atau di negara yang merupakan suatu
          daerah dengan insiden infeksi COVID-19 yang tinggi
        </div>

        <div class="pt-5 pb-3">
          <div class="numb-title">
            3. Santunan Rawat Inap tidak termasuk pengobatan rawat inap yang
            tidak dilakukan di RS / Klinik DTP / Puskesmas DTP
          </div>
        </div>
      </div>
      <div class="divider"></div>
    </div>

    <div class="wrap-agree">
      <button class="btn-fill xl" @click="agree">
        Mengerti
      </button>
    </div>
  </div>
</template>
<script>
// base
import BaseNavbar from "@/components/Base/Navbar.vue";

export default {
  name: "PedulicareBenefits",
  components: {
    BaseNavbar
  },

  methods: {
    agree() {
      this.$router.go(-1);
    }
  }
};
</script>
<style lang="scss" scoped>
.wrap-benefit {
  @apply min-h-screen;
  box-shadow: #ccc 0 2px 4px 0;

  .numb-title {
    @apply font-bold text-app-title text-sm;
    @apply pb-2;
  }

  .no-description {
    @apply text-app-label text-sm;
  }

  .wrap-description {
    padding-bottom: 73px;
  }

  .wrap-agree {
    @apply flex;
    @apply justify-center;
    @apply items-center;
    @apply bg-white;
    @apply py-3 px-4;
    @apply border-t;
    @apply border-app-border;
    @apply absolute;
    @apply bottom-0;
    @apply w-full;
    @apply max-w-screen-sm;
    box-shadow: #ccc 0 2px 4px 0;
  }
}
</style>
