<template>
  <div class="wrap-documents-claim">
    <base-navbar title="Detail Dokumen untuk Klaim" />

    <div class="px-5 pt-5">
      <div class="highlight">
        Untuk Pengajuan Klaim Manfaat Santunan Tunai Harian atau Santunan Tunai
        Perawatan ICU/ICCU/NICU/PICU (yang disebabkan karena penyakit Covid-19)
      </div>

      <div class="font-bold text-app-title py-5">
        Detail Dokumen untuk Klaim
      </div>

      <div class="text-description">
        1. Asli Formulir Klaim Asuransi
      </div>

      <div class="text-description pt-4">
        2. Foto copy Sertifikat Polis
      </div>

      <div class="text-description pt-4">
        3. Foto copy KTP
      </div>

      <div class="text-description pt-4">
        4. Foto copy Kwitansi dari Rumah Sakit beserta perincian dari
        biaya-biaya yang dikeluarkan
      </div>

      <div class="text-description pt-4">
        5. Foto copy resume medis
      </div>

      <div class="text-description pt-4">
        6. Hasil pemeriksaan penunjang berupa hasil PCR (Polymerase Chain
        Reaction) Test yang menyatakan positif Covid-19
      </div>

      <div class="text-description pt-4">
        7. Surat-surat Keterangan lain yang diperlukan menurut pertimbangan
        Penanggung.
      </div>
    </div>

    <div class="wrap-agree">
      <button class="btn-fill xl" @click="agree">
        Mengerti
      </button>
    </div>
  </div>
</template>
<script>
// base
import BaseNavbar from "@/components/Base/Navbar.vue";

export default {
  name: "PedulicarePolicyExclusions",

  components: {
    BaseNavbar
  },

  methods: {
    agree() {
      this.$router.go(-1);
    }
  }
};
</script>
<style lang="scss" scoped>
.wrap-documents-claim {
  @apply min-h-screen;
  box-shadow: #ccc 0 2px 4px 0;

  .highlight {
    @apply text-xs;
    @apply rounded-lg;
    @apply p-4;
    @apply font-bold;
    @apply text-center;
    background-color: #fcebce;
    color: #4a254c;
  }

  .text-description {
    @apply text-app-label text-sm;
  }

  .wrap-agree {
    @apply flex;
    @apply justify-center;
    @apply items-center;
    @apply bg-white;
    @apply py-3 px-4;
    @apply border-t;
    @apply border-app-border;
    @apply absolute;
    @apply bottom-0;
    @apply w-full;
    @apply max-w-screen-sm;
  }
}
</style>
