<template>
  <div class="wrap-completed-payment">
    <base-navbar title="" :route="getGoBack()" />

    <!-- status berhasil -->
    <div
      class="flex flex-col justify-center items-center"
      v-if="completedStatus === 'success'"
    >
      <img
        src="@/assets/img/general/payment-success.svg"
        alt="payment success"
      />

      <div class="font-bold text-center">
        <div class="text-2xl pt-6 pb-3">Pembayaran Berhasil!</div>
        <div class="text-lg">
          Silakan <span class="text-app-primary">tekan tombol</span>
          untuk melihat polis Anda.
        </div>
      </div>

      <button class="btn-fill xl mt-10" @click="backToAsurance">
        Cek Polis Ku
      </button>
    </div>
    <!-- end status berhasil -->

    <!-- status gagal -->
    <div class="flex flex-col justify-center items-center" v-else>
      <img
        src="@/assets/img/general/payment-failed.svg"
        alt="payment success"
      />

      <div class="font-bold text-center">
        <div class="text-2xl pt-6 pb-3">Pembayaran Gagal!</div>
        <div class="text-lg">
          Silakan hubungi
          <span class="text-app-primary">customer service</span> kami untuk
          masalah ini.
        </div>
      </div>

      <button class="btn-fill xl mt-10" @click="backToAsurance">
        Coba Lagi
      </button>
    </div>
    <!-- end status gagal -->
  </div>
</template>
<script>
// base
import BaseNavbar from "@/components/Base/Navbar.vue";

export default {
  name: "PedulicareBenefits",
  components: {
    BaseNavbar
  },

  data: () => ({
    completedStatus: null
  }),

  methods: {
    getGoBack() {
      let urlStr = location.host;
      let result;
      if (urlStr.indexOf("pre.pedulisehat.id") != -1) {
        result = "https://asuransi-pre.pedulisehat.id/myInsurance.html";
      } else {
        result = "https://asuransi.pedulisehat.id/myInsurance.html";
      }

      return result;
    },
    backToAsurance() {
      location.href = this.getGoBack();
    }
  },

  created() {
    this.completedStatus = this.$route.params.status;
    // reset all form
    localStorage.removeItem("pedulisehat-asuransi");
  }
};
</script>
<style lang="scss" scoped>
.wrap-completed-payment {
  @apply px-4;
  @apply flex;
  @apply flex-col;
  @apply items-center;
  @apply justify-center;
  min-height: calc(100vh - 56px);
  box-shadow: #ccc 0 2px 4px 0;

  img {
    width: 250px;
  }
}
</style>
