<template>
  <div class="pedulicare-index">
    <!-- navbar -->
    <base-navbar
      title="Pedulicare Anti Corona"
      color="bg-app-primary text-white"
    />
    <!-- end navbar -->

    <!-- hero -->
    <div class="hero">
      <img src="@/assets/img/asuransi/pedulicare/banner.png" alt="banner" />
    </div>
    <!-- end hero -->

    <!-- section-wrapper -->
    <div class="section-wrapper">
      <!-- section 1 -->
      <card-box class="section-1">
        <div class="title-wrapper">
          <div class="rectange"></div>
          <div class="title">Monitored By</div>
          <div class="rectange"></div>
        </div>
        <div class="sponsored-wrapper">
          <img
            src="@/assets/img/asuransi/pedulicare/kementrian-sosial.svg"
            alt="kementrian-sosial"
            class="kementrian-sosial custom-w-28"
          />
          <div class="line-horizontal"></div>
          <img
            src="@/assets/img/asuransi/pedulicare/kominfo.svg"
            alt="kominfo"
            class="kominfo"
          />
        </div>
      </card-box>
      <!-- end section 1 -->

      <!-- section 2 -->
      <card-box title="Pedulicare Anti Corona" class="section-2">
        <div class="text">
          Daftar sekarang bersama keluarga untuk mendapatkan Harga Khusus
        </div>
      </card-box>
      <!-- end section 2 -->

      <!-- section 3 -->
      <card-box title="Deskripsi Produk" class="section-3">
        <!-- no 1 -->
        <div class="no-1">
          <div class="title">
            1. Premi tahunan yang terjangkau
          </div>
          <div class="description">
            Rp. 240.000 setahun atau setara/senilai Rp. 20 ribu sebulannya
          </div>
        </div>
        <!-- end no 1 -->

        <!-- no 2 -->
        <div class="no-2">
          <div class="title">
            2. Jaminan
          </div>
          <div class="wrap-card">
            <div class="card card-1">
              <div>
                Santunan Rawat Inap, per hari maks 31 hari
              </div>
            </div>
            <div class="card card-2">
              Rp 900.000
            </div>
            <div class="card card-3">
              <div>
                Santunan Tunai Perawatan ICU/ICCU/
                <!--  -->
                NICU/PICU
              </div>
            </div>
            <div class="card card-4">
              Rp 10.000.000
            </div>
          </div>
          <div class="wrap-button">
            <button class="btn-outlined mr-1 sm:mr-2" @click="goToBenefits">
              Deskripsi dari <br />
              Manfaat
            </button>
            <button class="btn-fill ml-1 sm:ml-2" @click="goToPolicyExclusions">
              Informasi <br />
              Pengecualian Polis
            </button>
          </div>
        </div>
        <!-- end no 2 -->

        <!-- no 3 -->
        <div class="no-3">
          <div class="title">
            3. Batasan Usia
          </div>
          <div class="description">
            <p class="pb-1">Pemegang Polis : 18 - 59 tahun (punya KTP)</p>
            <p>Peserta : 6 bulan - 59 tahun</p>
          </div>
        </div>
        <!-- end no 3 -->
      </card-box>
      <!-- end section 3 -->

      <!-- section 4 -->
      <card-box title="Proses Klaim" class="section-4">
        <div class="pb-3">
          Jika terjadi pengajuan, berikut proses untuk pengajuan klaim
        </div>
        <div class="processes">
          <p class="procs procs-1">
            <span class="number">1</span>
            <span>
              Hubungi telepon atau email layanan pelanggan (Customer Service)
              Asuransi Sinar Mas (ASM) untuk melaporkan kasus tersebut.
            </span>
            <br />
            <span>• Telepon: (021) - 2356 7888 (24 jam)</span><br />
            <span>• email: cs_simassehat@sinarmas.co.id</span>
          </p>

          <p class="procs procs-2">
            <span class="number">2</span>
            <span>
              Kumpulkan semua informasi klaim sesuai dengan panduan layanan
              pelanggan.
            </span>
          </p>

          <p class="procs procs-3">
            <span class="number">3</span>
            <span>
              Menyerahkan materi klaim ke Asuransi Sinar Mas untuk direview.
            </span>
          </p>

          <p class="procs procs-4">
            <span class="number">4</span>
            <span>
              Setelah peninjauan selesai, perusahaan asuransi akan menyelesaikan
              klaim tersebut.
            </span>
          </p>
        </div>

        <button class="btn-fill lg" @click="goToClaimDocuments">
          Detail Dokumen untuk Klaim
        </button>

        <div class="text-xs text-app-error font-bold pt-2">
          *Asuransi Sinar Mas terdaftar dan diawasi oleh OJK (Otoritas Jasa
          Keuangan)
        </div>
      </card-box>
      <!-- end section 4 -->
    </div>
    <!-- section wrapper -->

    <!-- footer -->
    <div class="footer">
      <div class="wrap-whatsapp">
        <div class="whatsapp" @click="goToWhatsapp">
          <img
            src="@/assets/img/general/icon-whatsapp.svg"
            alt="icon whatsapp"
          />
          <span>Kontak WhatsApp</span>
        </div>
      </div>

      <!-- share -->
      <div class="wrap-share">
        <button class="btn-outlined mr-2 sm:mr-3 xl" @click="modalShare = true">
          Bagikan
        </button>
        <button class="btn-fill ml-2 sm:ml-3 xl" @click="goToJoin">
          Bergabung
        </button>
      </div>
      <!-- end share -->
    </div>
    <!-- end footer -->

    <!-- modal share social -->
    <modal
      title="Just One Click to Share Your Care"
      titleCenter
      v-if="modalShare"
      @close="modalShare = false"
    >
      <div class="px-4 pb-4">
        <share-social />
      </div>
    </modal>
    <!-- end modal share social -->
  </div>
</template>
<script>
// base
import BaseNavbar from "@/components/Base/Navbar.vue";
import ShareSocial from "@/components/Base/ShareSocial.vue";
import Modal from "@/components/Base/Modal.vue";

// components
import CardBox from "@/components/Asuransi/Pedulicare/CardBox.vue";

export default {
  name: "PedulicareIndex",

  components: {
    BaseNavbar,
    CardBox,
    ShareSocial,
    Modal
  },

  data: () => ({
    modalShare: false
  }),

  methods: {
    goToBenefits() {
      this.$router.push({ name: "PedulicareBenefits" });
    },
    goToPolicyExclusions() {
      this.$router.push({ name: "PedulicarePolicyExclusions" });
    },
    goToClaimDocuments() {
      this.$router.push({ name: "PedulicareClaimDocuments" });
    },
    goToJoin() {
      this.$router.push({ name: "PedulicarePolicyHolderForm" });
    },
    goToWhatsapp() {
      window.open(
        "https://api.whatsapp.com/send?phone=6281230009479&text=Halo%20,%20Saya%20mau%20konsultasi%20asuransi%20di%20pedulisehat.id",
        "_blank"
      );
    }
  }
};
</script>
<style lang="scss" scoped>
.section-wrapper {
  @apply bg-app-orange;
  @apply px-3;
  @apply pt-6;
  @apply pb-4;

  // section 1
  .section-1 {
    .title-wrapper {
      @apply flex;
      @apply items-center;
      @apply justify-center;
      @apply pt-2;
      @apply pb-4;

      .title {
        @apply mx-4;
      }

      .rectange {
        @apply w-3;
        @apply h-3;
        @apply bg-app-secondary;
      }
    }

    .sponsored-wrapper {
      @apply flex;
      @apply justify-center;
      @apply items-center;

      .line-horizontal {
        width: 1px;
        @apply h-6;
        @apply bg-app-border;
        @apply mx-4;
      }

      img.kominfo {
        @apply w-1/2;
      }
    }
  }
  // end section 1

  // section 2
  .section-2 {
    @apply mt-6;

    .text {
      @apply text-xl;
      @apply sm:text-2xl;
      @apply mx-5;
      @apply sm:mx-16;
      @apply text-app-primary;
      @apply font-bold;
      @apply text-center;
    }
  }
  // end section 2

  // section 3
  .section-3 {
    @apply mt-6;
    @apply px-4;
    @apply sm:px-7;

    .title {
      @apply text-app-label-2;
      @apply pb-1;
    }

    .no-1 {
      @apply mb-5;

      .description {
        @apply text-app-label;
        @apply font-bold;
        @apply mx-5;
      }
    }

    .no-2 {
      @apply mb-5;

      .title {
        @apply pb-2;
      }

      .wrap-card {
        @apply mx-5;
        @apply flex;
        @apply flex-wrap;
        @apply justify-center;
        @apply items-center;
        @apply border;
        @apply border-app-border;
        @apply rounded-xl;

        .card {
          @apply flex;
          @apply justify-center;
          @apply items-center;
          @apply px-2;
          @apply sm:px-5;
          @apply h-24;
          @apply w-1/2;
          @apply text-sm;
          @apply border;
          @apply border-app-border;
        }

        .card-2,
        .card-4 {
          @apply font-bold;
          @apply text-center;
        }

        .card-1 {
          @apply border-t-0;
          @apply border-l-0;
        }

        .card-2 {
          @apply border-t-0;
          @apply border-l-0;
          @apply border-r-0;
        }

        .card-3 {
          @apply border-t-0;
          @apply border-b-0;
          @apply border-l-0;
        }

        .card-4 {
          @apply border-0;
        }
      }

      .wrap-button {
        @apply mx-5;
        @apply flex;
        @apply mt-4;

        button {
          @apply w-1/2;
        }
      }
    }

    .no-3 {
      .description {
        @apply text-app-label;
        @apply mx-5;
      }
    }
  }
  // end section 3

  // section 4
  .section-4 {
    @apply mt-6;
    @apply px-4;
    @apply sm:px-7;
    @apply text-app-label-2;

    .processes {
      @apply ml-2;
      @apply relative;

      &::before {
        content: "";
        @apply pr-3;
        @apply absolute;
        @apply left-0;
        @apply top-1.5;
        @apply inline-block;
        @apply border-l;
        @apply border-app-primary;
        height: 80%;
      }

      .procs {
        @apply relative;
        @apply pl-6;
        @apply pb-5;

        .number {
          @apply rounded-full;
          @apply text-white;
          @apply text-center;
          @apply font-bold;
          @apply text-xs;
          @apply leading-5;
          @apply inline-block;
          @apply w-5 h-5;
          @apply absolute;
          left: -9px;
          top: 2px;
          background: linear-gradient(
            45deg,
            rgba(0, 149, 0, 1) 0%,
            rgba(81, 219, 0, 1) 50%
          );
        }
      }
    }
  }
  // end section 4
}

// footer
.footer {
  background: #f8f8f8;

  .wrap-whatsapp {
    @apply flex;
    @apply justify-center;
    @apply items-center;
    padding-bottom: 83px;

    .whatsapp {
      @apply bg-white;
      @apply py-2 px-7;
      @apply my-7;
      @apply rounded-3xl;
      @apply cursor-pointer;

      img {
        @apply w-5;
        @apply inline;
        @apply mr-3;
      }

      span {
        @apply text-app-primary;
        @apply font-bold;
        @apply text-sm;
      }
    }
  }

  .wrap-share {
    @apply flex;
    @apply justify-center;
    @apply items-center;
    @apply bg-white;
    @apply py-3 px-4;
    @apply border-t;
    @apply border-app-border;
    @apply fixed;
    @apply bottom-0;
    @apply w-full;
    @apply max-w-screen-sm;
    transition: 0.3s;

    button {
      @apply w-1/2;
    }
  }
}
// end footer
</style>
