<template>
  <div class="wrap-insured-data">
    <base-navbar title="Isi Data untuk Polis" />

    <div class="text-center px-5">
      <div class="font-bold text-app-title pt-5 pb-4 text-lg">
        Data Tertanggung
      </div>

      <div class="text-sm">
        Data peserta yang diasuransikan. Tertanggung adalah pihak yang akan
        menerima santunan asuransi.
      </div>

      <!-- step introducer components -->
      <div class="py-4">
        <step-introducer :datas="stepData" :active="2" />
      </div>
      <!-- end step introducer components -->
    </div>

    <div class="divider"></div>

    <div v-for="(data, index) in form" :key="index">
      <div class="px-5" v-if="renderComponent">
        <div class="wrap-input pb-5">
          <!-- tertanggung -->
          <div>
            <div class="flex justify-between items-center mt-4">
              <div class="text-sm font-bold text-gray-400">
                Tertanggung No {{ index + 1 }}
              </div>
              <img
                class="h-6 cursor-pointer"
                src="@/assets/img/general/icon-trash.png"
                @click="deleteInsured(index)"
              />
            </div>

            <!-- hubungan dengan tertanggung -->
            <form-group
              label="Hubungan dengan Tertanggung"
              :validator="$v.form.$each.$iter[index].relation"
            >
              <div
                class="input-choice mt-4"
                :error="$v.form.$each.$iter[index].relation.$error"
                @click="showModal(index, data.relation)"
              >
                <span class="text-app-label" v-if="data.relation">
                  {{ relationItemsData[data.relation - 1] }}
                </span>
                <span class="placeholder" v-else>
                  Hubungan dengan Tertanggung
                </span>
                <img
                  src="@/assets/img/general/icon-chevron-right.svg"
                  alt="icon right"
                />
              </div>
            </form-group>
          </div>
          <!-- end tertanggung -->

          <!-- informasi personal -->
          <div>
            <div class="font-bold text-app-title py-5">
              Informasi Personal
            </div>

            <!-- full name -->
            <form-group
              label="Nama Lengkap"
              :validator="$v.form.$each.$iter[index].fullName"
            >
              <input
                type="text"
                class="input"
                v-model="data.fullName"
                :disabled="index === 0"
                placeholder="Nama Lengkap"
                :error="$v.form.$each.$iter[index].fullName.$error"
              />
            </form-group>

            <!-- no telpon -->
            <form-group
              label="No Telepon"
              :validator="$v.form.$each.$iter[index].phoneNumber"
            >
              <input
                type="text"
                class="input mt-4"
                v-model="data.phoneNumber"
                :disabled="index === 0"
                placeholder="No Telepon"
                :error="$v.form.$each.$iter[index].phoneNumber.$error"
              />
            </form-group>

            <!-- email -->
            <form-group
              label="E-mail"
              :validator="$v.form.$each.$iter[index].email"
            >
              <input
                type="email"
                class="input mt-4"
                v-model="data.email"
                :disabled="index === 0"
                placeholder="E-mail"
                :error="$v.form.$each.$iter[index].email.$error"
              />
            </form-group>

            <!-- Jenis Kelamin -->
            <form-group
              label="Jenis Kelamin"
              :validator="$v.form.$each.$iter[index].gender"
            >
              <div
                class="input-choice mt-4"
                :error="$v.form.$each.$iter[index].gender.$error"
              >
                <span class="placeholder">
                  Jenis Kelamin
                </span>

                <div class="flex w-1/2 justify-center items-center">
                  <div
                    class="w-1/2 flex items-center cursor-pointer"
                    @click="clickRadioGender(1, index)"
                  >
                    <div
                      class="radio-button"
                      :class="data.gender === 1 ? 'active' : ''"
                    >
                      <img
                        src="@/assets/img/general/icon-checklist-radio.svg"
                        alt="icon checklist radio"
                      />
                    </div>
                    <span class="ml-3 font-bold text-sm">Pria</span>
                  </div>
                  <div
                    class="w-1/2 flex items-center cursor-pointer"
                    @click="clickRadioGender(2, index)"
                  >
                    <div
                      class="radio-button"
                      :class="data.gender === 2 ? 'active' : ''"
                    >
                      <img
                        src="@/assets/img/general/icon-checklist-radio.svg"
                        alt="icon checklist radio"
                      />
                    </div>
                    <span class="ml-3 font-bold text-sm">Wanita</span>
                  </div>
                </div>
              </div>
            </form-group>

            <!-- tanggal lahir -->
            <div class="text-sm py-3">Tanggal Lahir</div>

            <div class="flex">
              <!-- hari -->
              <div class="w-1/3 mr-2">
                <form-group
                  label="Hari"
                  :validator="$v.form.$each.$iter[index].hari"
                >
                  <input
                    type="text"
                    v-model="data.hari"
                    class="input"
                    placeholder="HH"
                    :disabled="index === 0"
                    :error="$v.form.$each.$iter[index].hari.$error"
                  />
                </form-group>
              </div>
              <!-- bulan -->
              <div class="w-1/3 mr-2">
                <form-group
                  label="Bulan"
                  :validator="$v.form.$each.$iter[index].bulan"
                >
                  <input
                    type="text"
                    v-model="data.bulan"
                    class="input"
                    placeholder="BB"
                    :disabled="index === 0"
                    :error="$v.form.$each.$iter[index].bulan.$error"
                  />
                </form-group>
              </div>
              <!-- tahun -->
              <div class="w-1/3">
                <form-group
                  label="Tahun"
                  :validator="$v.form.$each.$iter[index].tahun"
                >
                  <input
                    type="text"
                    v-model="data.tahun"
                    class="input"
                    placeholder="TTTT"
                    :disabled="index === 0"
                    :error="$v.form.$each.$iter[index].tahun.$error"
                  />
                </form-group>
              </div>
            </div>

            <!-- nomor nik -->
            <form-group
              label="Nomor KTP"
              :validator="$v.form.$each.$iter[index].identityNumber"
            >
              <input
                type="text"
                class="input mt-4"
                v-model="data.identityNumber"
                :disabled="index === 0"
                placeholder="Nomor KTP"
                :error="$v.form.$each.$iter[index].identityNumber.$error"
              />
            </form-group>

            <!-- status pernikahan -->
            <form-group
              label="Status Pernikahan"
              :validator="$v.form.$each.$iter[index].maritalStatus"
            >
              <div
                class="input-choice mt-4"
                :error="$v.form.$each.$iter[index].maritalStatus.$error"
                @click="showModalMarital(index, data.maritalStatus)"
              >
                <span class="text-app-label" v-if="data.maritalStatus">
                  {{ MaritalItemsData[data.maritalStatus - 1] }}
                </span>
                <span class="placeholder" v-else>
                  Status Pernikahan
                </span>
                <img
                  src="@/assets/img/general/icon-chevron-right.svg"
                  alt="icon right"
                />
              </div>
            </form-group>

            <!-- ktp -->
            <div>
              <div class="font-bold text-app-title text-sm py-4">
                Upload Ktp
              </div>
              <!-- photo not available -->
              <div
                class="wrap-upload"
                v-if="data.documents[0].file === ''"
                @click="openFileBrowser(index)"
              >
                <!-- if loading upload to api -->
                <div class="loading-bar" v-if="loadingUpload">
                  <div class="progress-bar"></div>
                </div>
                <!-- default -->
                <div class="flex flex-col justify-center items-center" v-else>
                  <img
                    src="@/assets/img/asuransi/pedulicare/upload.svg"
                    alt="upload"
                    class="upload"
                  />
                  <span class="text-xs">Upload</span>
                </div>
              </div>
              <!-- photo available -->
              <div class="wrap-upload" v-else @click="openFileBrowser(index)">
                <div class="loading-bar" v-if="loadingUpload">
                  <div class="progress-bar"></div>
                </div>
                <div class="w-full h-full" v-else>
                  <img
                    :src="data.documents[0].base64"
                    alt="foto ktp"
                    class="file"
                  />
                </div>
              </div>
              <!-- Input file -->
              <input
                type="file"
                style="display: none"
                ref="fileImage"
                accept=".png, .jpg, .jpeg"
                @change="onFilePickedImage"
              />
            </div>
            <div class="pt-2 text-xs">
              *Format file .jpg, .jpeg, .png
            </div>
            <div class="text-xs">
              *Maks 2MB
            </div>
          </div>
          <!-- end informasi personal -->
        </div>
      </div>

      <div
        class="divider"
        v-if="form.length > 1 && index < form.length - 1"
      ></div>
    </div>

    <div class="wrap-add-data">
      <div class="add-data" @click="addInsured">
        <img
          src="@/assets/img/asuransi/pedulicare/icon-person-add.svg"
          alt="icon person add"
        />
        <span>Tambah Tertanggung Lain</span>
      </div>
    </div>

    <div class="py-3 px-5">
      <button class="btn-fill mr-2 sm:mr-3 xl" @click="next">
        Berikutnya
      </button>
    </div>

    <modal title="Orang ini adalah" v-if="activeModal" @close="closeModal">
      <div>
        <relation-items
          access="tertanggung"
          :datas="relationItemsData"
          :choosed="choosedModal"
          @choosedItems="choosedItems"
        />
      </div>
    </modal>

    <modal
      title="Status Pernikahan"
      v-if="activeModalMarital"
      @close="closeModalMarital"
    >
      <div>
        <marital-items
          :datas="MaritalItemsData"
          :choosed="choosedModalMarital"
          @choosedItems="choosedItemsMarital"
        />
      </div>
    </modal>
  </div>
</template>
<script>
// plugins
import { map } from "lodash";
import { monthDiff, isValidDate } from "@/mixins/utils";

// vuelidate
import {
  required,
  minLength,
  maxLength,
  email,
  numeric,
  between
} from "vuelidate/lib/validators";

// base
import BaseNavbar from "@/components/Base/Navbar.vue";
import StepIntroducer from "@/components/Base/StepIntroducer.vue";
import Modal from "@/components/Base/Modal.vue";
import FormGroup from "@/components/Base/FormGroup.vue";

// components
import RelationItems from "@/components/Asuransi/Pedulicare/RelationItems.vue";
import MaritalItems from "@/components/Asuransi/Pedulicare/MaritalItems.vue";

export default {
  name: "PedulicareInsuredDataForm",

  components: {
    BaseNavbar,
    StepIntroducer,
    Modal,
    FormGroup,
    RelationItems,
    MaritalItems
  },

  data: () => ({
    stepData: ["Data Pemegang Polis", "Data Tertanggung", "Data Ahli Waris"],
    relationItemsData: ["Tertanggung", "Pasangan", "Anak"],
    MaritalItemsData: ["Belum Menikah", "Menikah", "Janda", "Duda"],
    activeModal: false,
    activeModalMarital: false,
    choosedModal: "",
    choosedModalMarital: "",
    targetModal: null,
    form: null,
    renderComponent: true,
    formData: new FormData(),
    indexTarget: 0,
    loadingUpload: false
  }),

  validations: {
    form: {
      required,
      minLength: minLength(1),
      $each: {
        documents: {
          $each: {
            file: {
              required
            }
          }
        },
        relation: {
          required
        },
        fullName: {
          required
        },
        phoneNumber: {
          numeric,
          required,
          minLength: minLength(10)
        },
        email: {
          email
        },
        identityNumber: {
          required,
          numeric,
          minLength: minLength(16),
          maxLength: maxLength(16)
        },
        hari: {
          required,
          numeric,
          minLength: minLength(2),
          maxLength: maxLength(2),
          between: between(1, 31)
        },
        bulan: {
          required,
          numeric,
          minLength: minLength(2),
          maxLength: maxLength(2),
          between: between(1, 12)
        },
        tahun: {
          required,
          numeric,
          minLength: minLength(4),
          maxLength: maxLength(4)
        },
        gender: {
          required
        },
        maritalStatus: {
          required
        }
      }
    }
  },

  methods: {
    // initial data
    initData() {
      let form = this.$store.getters["policy/insured"];
      this.form = form;

      // check alamat
      map(form, (item, index) => {
        if (
          item.fullAddress === item.fullAddressNow &&
          item.provinceName === item.provinceNameNow
        ) {
          // add radio alamat
          this.form[index].radioAlamat = true;
        } else {
          this.form[index].radioAlamat = false;
        }
      });

      // copy policy holder data
      this.copyPolicyHolderData();
    },

    // set gender
    clickRadioGender(value, index) {
      // disabled from index 0 (data pemegang polis)
      if (index > 0) {
        // jika relation = pasangan maka gender tidak boleh sama
        if (this.form[index].relation == 2) {
          if (this.form[0].gender == value) {
            this.$showNotification("Pasangan tidak bisa sesama jenis");
          } else {
            this.form[index].gender = value;
          }
        } else {
          this.form[index].gender = value;
        }
      }
    },

    // copy policy holder data for tertanggung index 0
    copyPolicyHolderData() {
      let formPolicy = this.$store.getters["policy/policyHolder"];

      this.form[0].fullName = formPolicy.firstName + " " + formPolicy.lastName;
      this.form[0].phoneNumber = formPolicy.phoneNumber;
      this.form[0].email = formPolicy.email;
      this.form[0].identityNumber = formPolicy.identityNumber;
      this.form[0].hari = formPolicy.hari;
      this.form[0].bulan = formPolicy.bulan;
      this.form[0].tahun = formPolicy.tahun;
      this.form[0].dateOfBirth = formPolicy.dateOfBirth;
      this.form[0].maritalStatus = formPolicy.maritalStatus;
      this.form[0].gender = formPolicy.gender;
    },

    // show modal relation
    showModal(index, value) {
      if (value !== 1) {
        this.targetModal = index;
        this.choosedModal = value;
        this.activeModal = true;
      }
    },

    // close modal relation
    closeModal() {
      this.activeModal = false;
    },

    // set value relation
    choosedItems(val) {
      let indexArray = this.targetModal;
      // set value relation
      // tidak boleh pasangan lebih dari 1
      let countPasangan = 0;
      map(this.form, (item, index) => {
        if (index > 0) {
          if (this.form[index].relation == 2) {
            countPasangan++;
          }
        }
      });

      // jika pemegang polis tidak mempunyai pasangan maka tertanggung tidak bisa pasangan
      if (this.form[0].maritalStatus != 2) {
        if (val == 2) {
          this.$showNotification("Tertanggung tidak mempunyai Pasangan");
        } else {
          this.form[indexArray].relation = val;
        }
      } else {
        // if the relationship = children then set status not married
        // relation 3 = anak
        if (val === 3) {
          this.form[indexArray].maritalStatus = 1;
        }

        if (countPasangan > 0 && val == 2) {
          this.$showNotification(
            "Tertanggung tidak boleh mempunyai Pasangan lebih dari 1"
          );
        } else {
          this.form[indexArray].relation = val;
        }
      }

      // close modal when after choosed
      this.closeModal();
    },

    // show modal marital
    showModalMarital(index, value) {
      if (index > 0) {
        this.targetModal = index;
        this.choosedModalMarital = value;
        this.activeModalMarital = true;
      }
    },

    // close modal marital
    closeModalMarital() {
      this.activeModalMarital = false;
    },

    // set value marital
    choosedItemsMarital(val) {
      let indexArray = this.targetModal;
      if (indexArray > 0) {
        // if the couple relationship then status only married
        // relation 2 = pasangan
        // val 2 = married
        if (this.form[indexArray].relation == 2) {
          if (val === 2) {
            this.form[indexArray].maritalStatus = val;
          } else {
            this.$showNotification("Hanya bisa memilih Menikah");
          }
        }

        // if the relationship = children then status only not married
        // relation 3 = anak
        // val 1 = not married
        if (this.form[indexArray].relation == 3) {
          if (val === 1) {
            this.form[indexArray].maritalStatus = val;
          } else {
            this.$showNotification("Hanya bisa memilih Belum Menikah");
          }
        }
      }
      // close modal when after choosed
      this.closeModalMarital();
    },

    // join date for input to api
    joinDateOfBirth() {
      map(this.form, (item, index) => {
        this.form[
          index
        ].dateOfBirth = `${item.hari}/${item.bulan}/${item.tahun}`;
      });
    },

    // add insured
    addInsured() {
      this.form.push({
        documents: [
          {
            category: "KTP",
            file: "",
            memo: "",
            ext: "",
            base64: ""
          }
        ],
        fullName: "",
        phoneNumber: "",
        identityNumber: "",
        hari: "",
        bulan: "",
        tahun: "",
        dateOfBirth: "",
        gender: null,
        maritalStatus: null,
        relation: null,
        email: "",
        heirs: [
          {
            fullName: "",
            hari: "",
            bulan: "",
            tahun: "",
            dateOfBirth: "",
            relation: null,
            gender: null,
            percentage: null,
            phoneNumber: ""
          }
        ]
      });
    },

    // delete insured
    deleteInsured(index) {
      if (index > 0) {
        if (this.form.length > 1) {
          this.form.splice(index, 1);
        }
      }
    },

    // force rereder component
    forceRerender() {
      // remove the my-component component from the DOM
      this.renderComponent = false;

      this.$nextTick(() => {
        // add my-component component in DOM
        this.renderComponent = true;
      });
    },

    // resize and get base64 file
    resizeFile(files) {
      const fr = new FileReader();
      let self = this;
      fr.onload = function(readerEvent) {
        let image = new Image();
        image.onload = function() {
          let canvas = document.createElement("canvas");
          let maxSize = 544;
          let width = image.width;
          let height = image.height;
          if (width > height) {
            if (width > maxSize) {
              height *= maxSize / width;
              width = maxSize;
            }
          } else {
            if (height > maxSize) {
              width *= maxSize / height;
              height = maxSize;
            }
          }
          canvas.width = width;
          canvas.height = height;
          canvas.getContext("2d").drawImage(image, 0, 0, width, height);
          let dataUrl = canvas.toDataURL("image/jpeg");

          self.form[self.indexTarget].documents[0].base64 = dataUrl;
          self.form[self.indexTarget].documents[0].ext =
            "." + files.type.split("/")[1];
        };
        image.src = readerEvent.target.result;
      };
      fr.readAsDataURL(files);
    },

    // triggered open file browser
    openFileBrowser(index) {
      this.indexTarget = index;
      this.$refs.fileImage[index].click();
    },

    // setFormData
    onFilePickedImage(e) {
      let files = e.target.files[0];

      if (files.size / 1000000 > 2) {
        this.$showNotification("Ukuran File Maksimal 2 Mb");
      } else {
        this.formData.append("file", files);
        this.uploadFile(files);
      }
    },

    // upload file to api
    uploadFile(files) {
      this.loadingUpload = true;
      this.$store
        .dispatch("policy/uploadFile", this.formData)
        .then(res => {
          // resize file and get base64
          this.resizeFile(files);
          this.form[this.indexTarget].documents[0].file = res.id;

          this.formData = new FormData();
        })
        .catch(e => {
          this.$showNotification("Upload File Gagal");
          console.error(e);
        })
        .finally(() => {
          this.loadingUpload = false;
        });
    },

    // validate age child and couple
    validateAge() {
      let result = 0;
      map(this.form, item => {
        let dateOfBirth = `${item.tahun}/${item.bulan}/${item.hari}`;
        // jika anak kurang dari 6 bulan maka tidak bisa
        if (monthDiff(dateOfBirth, new Date()) < 6) {
          result++;
        }
      });

      return result;
    },

    // check is valid date ex: 29/02/2000 = false
    checkIsValidDate() {
      let result = 0;

      map(this.form, item => {
        if (
          isValidDate(item.tahun, Number(item.bulan - 1), item.hari) == false
        ) {
          result++;
        }
      });

      return result;
    },

    next() {
      this.$v.$touch();

      if (!this.$v.$invalid) {
        // is valid date
        if (this.checkIsValidDate() < 1) {
          // validate age min 6 bulan
          if (this.validateAge() < 1) {
            // set tanggal lahir
            this.joinDateOfBirth();
            // set data form
            if (this.form[0].heirs[0].fullName === "") {
              // initialitation heirs data max 5 for vuelidate (wtf bugs)
              map(this.form, (item, index) => {
                this.form[index].heirs = [
                  {
                    fullName: "",
                    hari: "",
                    bulan: "",
                    tahun: "",
                    dateOfBirth: "",
                    relation: null,
                    gender: null,
                    percentage: null,
                    phoneNumber: ""
                  },
                  {
                    fullName: "",
                    hari: "",
                    bulan: "",
                    tahun: "",
                    dateOfBirth: "",
                    relation: null,
                    gender: null,
                    percentage: null,
                    phoneNumber: ""
                  },
                  {
                    fullName: "",
                    hari: "",
                    bulan: "",
                    tahun: "",
                    dateOfBirth: "",
                    relation: null,
                    gender: null,
                    percentage: null,
                    phoneNumber: ""
                  },
                  {
                    fullName: "",
                    hari: "",
                    bulan: "",
                    tahun: "",
                    dateOfBirth: "",
                    relation: null,
                    gender: null,
                    percentage: null,
                    phoneNumber: ""
                  },
                  {
                    fullName: "",
                    hari: "",
                    bulan: "",
                    tahun: "",
                    dateOfBirth: "",
                    relation: null,
                    gender: null,
                    percentage: null,
                    phoneNumber: ""
                  }
                ];
              });
            }
            this.$store.commit("policy/SET_INSURED", this.form);
            // next
            this.$router.push({ name: "PedulicareBeneficiaryDataForm" });
          } else {
            this.$showNotification("Usia minimal tertanggung adalah 6 bulan");
          }
        } else {
          this.$showNotification("Tanggal lahir tidak valid");
        }
      }
    }
  },

  created() {
    this.initData();
  }
};
</script>
<style lang="scss" scoped>
.wrap-insured-data {
  @apply min-h-screen;
  box-shadow: #ccc 0 2px 4px 0;

  .wrap-add-data {
    @apply flex;
    @apply justify-center;
    @apply items-center;
    background: #f8f8f8;

    .add-data {
      @apply flex;
      @apply justify-center;
      @apply items-center;
      @apply bg-white;
      @apply border border-app-primary;
      @apply py-2 px-7;
      @apply my-7;
      @apply rounded-3xl;
      @apply cursor-pointer;

      img {
        @apply w-5;
        @apply inline;
        @apply mr-3;
      }

      span {
        @apply text-app-primary;
        @apply font-bold;
        @apply text-sm;
      }
    }
  }

  .wrap-input-icon span {
    @apply leading-5;
    @apply absolute;
    @apply right-0;
    @apply p-3;
    @apply pointer-events-none;
  }
}
</style>
