<template>
  <div class="wrap-policy-holder">
    <base-navbar title="Isi Data untuk Polis" />

    <div class="text-center px-5">
      <div class="font-bold text-app-title pt-5 pb-4 text-lg">
        Data Pemegang Polis
      </div>

      <div class="text-sm">
        Pemegang Polis adalah orang yang bertugas memegang dan mengklaim
        asuransi jika tertanggung membutuhkannya.
        <b>Pemegang Polis berumur 18-59 tahun dan memiliki KTP</b>
      </div>

      <!-- step introducer components -->
      <div class="py-4">
        <step-introducer :datas="stepData" :active="1" />
      </div>
      <!-- end step introducer components -->
    </div>

    <div class="divider"></div>

    <div class="px-5">
      <div class="wrap-input pb-5">
        <div class="font-bold text-app-title py-5">
          Informasi Personal
        </div>

        <!-- first name -->
        <form-group label="Nama Depan" :validator="$v.form.firstName">
          <input
            type="text"
            class="input"
            v-model="form.firstName"
            placeholder="Nama Depan"
            :error="$v.form.firstName.$error"
          />
        </form-group>

        <!-- lastname -->
        <form-group label="Nama Belakang">
          <input
            type="text"
            class="input mt-4"
            v-model="form.lastName"
            placeholder="Nama Belakang"
          />
        </form-group>

        <!-- nomor KTP -->
        <div class="flex">
          <form-group
            label="Nomor KTP"
            class="w-full"
            :validator="$v.form.identityNumber"
          >
            <input
              type="text"
              class="input mt-4"
              v-model="form.identityNumber"
              placeholder="Nomor KTP"
              :error="$v.form.identityNumber.$error"
            />
          </form-group>
          <button
            class="bg-app-primary ml-3 mt-4 px-3 py-1 text-white rounded-md"
            @click="parsingKtp()"
            :disabled="!form.identityNumber"
          >
            cek
          </button>
        </div>

        <!-- Jenis Kelamin -->
        <form-group label="Jenis Kelamin">
          <div class="input-choice mt-4">
            <span class="placeholder">
              Jenis Kelamin
            </span>

            <div class="flex w-1/2 justify-center items-center">
              <div
                class="w-1/2 flex items-center cursor-pointer"
                @click="clickRadioGender(1)"
              >
                <div
                  class="radio-button"
                  :class="form.gender === 1 ? 'active' : ''"
                >
                  <img
                    src="@/assets/img/general/icon-checklist-radio.svg"
                    alt="icon checklist radio"
                  />
                </div>
                <span class="ml-3 font-bold text-sm">Pria</span>
              </div>
              <div
                class="w-1/2 flex items-center cursor-pointer"
                @click="clickRadioGender(2)"
              >
                <div
                  class="radio-button"
                  :class="form.gender === 2 ? 'active' : ''"
                >
                  <img
                    src="@/assets/img/general/icon-checklist-radio.svg"
                    alt="icon checklist radio"
                  />
                </div>
                <span class="ml-3 font-bold text-sm">Wanita</span>
              </div>
            </div>
          </div>
        </form-group>

        <!-- Tempat Lahir -->
        <form-group label="Tempat Lahir" :validator="$v.form.placeOfBirth">
          <input
            type="text"
            class="input mt-4"
            v-model="form.placeOfBirth"
            placeholder="Tempat Lahir"
            :error="$v.form.placeOfBirth.$error"
          />
        </form-group>

        <!-- tanggal lahir -->
        <div class="text-sm py-3">Tanggal Lahir</div>
        <div class="flex">
          <!-- hari -->
          <div class="w-1/3 mr-2">
            <form-group label="Hari" :validator="$v.form.hari">
              <input
                type="text"
                v-model="form.hari"
                class="input"
                placeholder="HH"
                :error="$v.form.hari.$error"
              />
            </form-group>
          </div>
          <!-- bulan -->
          <div class="w-1/3 mr-2">
            <form-group label="Bulan" :validator="$v.form.bulan">
              <input
                type="text"
                v-model="form.bulan"
                class="input"
                placeholder="BB"
                :error="$v.form.bulan.$error"
              />
            </form-group>
          </div>
          <!-- tahun -->
          <div class="w-1/3">
            <form-group label="Tahun" :validator="$v.form.tahun">
              <input
                type="text"
                v-model="form.tahun"
                class="input"
                placeholder="TTTT"
                :error="$v.form.tahun.$error"
              />
            </form-group>
          </div>
        </div>

        <!-- status pernikahan -->
        <form-group
          label="Status Pernikahan"
          :validator="$v.form.maritalStatus"
        >
          <div
            class="input-choice mt-4"
            :error="$v.form.maritalStatus.$error"
            @click="showModal(form.maritalStatus)"
          >
            <span class="text-app-label" v-if="form.maritalStatus">
              {{ MaritalItemsData[form.maritalStatus - 1] }}
            </span>
            <span class="placeholder" v-else>
              Status Pernikahan
            </span>
            <img
              src="@/assets/img/general/icon-chevron-right.svg"
              alt="icon right"
            />
          </div>
        </form-group>

        <div class="font-bold text-app-title py-5">
          Informasi Alamat
        </div>

        <div>
          <!-- alamat tinggal -->
          <form-group
            label="Alamat Lengkap"
            :validator="$v.daftarAlamat.$each.$iter[0].address"
          >
            <input
              type="text"
              class="input"
              v-model="daftarAlamat[0].address"
              placeholder="Alamat lengkap (Tinggal)"
              :error="$v.daftarAlamat.$each.$iter[0].address.$error"
            />
          </form-group>
          <!-- postalCode -->
          <form-group
            label="Kode Pos"
            class="mt-4"
            :validator="$v.daftarAlamat.$each.$iter[0].postalCode"
          >
            <input
              type="text"
              class="input"
              v-model="daftarAlamat[0].postalCode"
              placeholder="Kode Pos"
              :error="$v.daftarAlamat.$each.$iter[0].postalCode.$error"
            />
          </form-group>
          <!-- kelurahan -->
          <form-group
            label="Kelurahan"
            class="mt-4"
            :validator="$v.daftarAlamat.$each.$iter[0].kelurahan"
          >
            <input
              type="text"
              class="input"
              v-model="daftarAlamat[0].kelurahan"
              placeholder="Kelurahan"
              :error="$v.daftarAlamat.$each.$iter[0].kelurahan.$error"
            />
          </form-group>
          <!-- Kecamatan -->
          <form-group
            label="Kecamatan"
            class="mt-4"
            :validator="$v.daftarAlamat.$each.$iter[0].kecamatan"
          >
            <input
              type="text"
              class="input"
              v-model="daftarAlamat[0].kecamatan"
              placeholder="Kecamatan"
              :error="$v.daftarAlamat.$each.$iter[0].kecamatan.$error"
            />
          </form-group>
          <!-- Kota / Kabupaten -->
          <form-group
            label="Kota / Kabupaten"
            class="mt-4"
            :validator="$v.daftarAlamat.$each.$iter[0].kota"
          >
            <input
              type="text"
              class="input"
              v-model="daftarAlamat[0].kota"
              placeholder="Kota / Kabupaten"
              :error="$v.daftarAlamat.$each.$iter[0].kota.$error"
            />
          </form-group>
          <!-- province -->
          <form-group
            label="Provinsi"
            class="mt-4"
            :validator="$v.daftarAlamat.$each.$iter[0].province"
          >
            <input
              type="text"
              class="input"
              v-model="daftarAlamat[0].province"
              :error="$v.daftarAlamat.$each.$iter[0].province.$error"
              placeholder="Provinsi"
            />
          </form-group>
          <!-- country -->
          <form-group
            label="Negara"
            class="mt-4"
            :validator="$v.daftarAlamat.$each.$iter[0].country"
          >
            <input
              type="text"
              class="input"
              v-model="daftarAlamat[0].country"
              :error="$v.daftarAlamat.$each.$iter[0].country.$error"
              placeholder="Negara"
            />
          </form-group>

          <!-- phone number -->
          <form-group label="No Telepon" :validator="$v.form.phoneNumber">
            <input
              type="text"
              class="input mt-4"
              v-model="form.phoneNumber"
              placeholder="No Telepon"
              :error="$v.form.phoneNumber.$error"
            />
          </form-group>

          <!-- email -->
          <form-group label="E-mail" :validator="$v.form.email">
            <input
              type="email"
              class="input mt-4"
              v-model="form.email"
              placeholder="E-mail"
              :error="$v.form.email.$error"
            />
          </form-group>

          <!-- kartu keluarga -->
          <form-group label="Kartu Keluarga" :validator="$v.familyCard.file">
            <div class="font-bold text-app-title text-sm py-4">
              Upload Kartu Keluarga
            </div>
            <!-- photo not available -->
            <div
              class="wrap-upload"
              :error="$v.familyCard.file.$error"
              v-if="familyCard.file === ''"
              @click="openFileBrowser"
            >
              <!-- if loading upload to api -->
              <div class="loading-bar" v-if="loadingUpload">
                <div class="progress-bar"></div>
              </div>
              <!-- default -->
              <div class="flex flex-col justify-center items-center" v-else>
                <img
                  src="@/assets/img/asuransi/pedulicare/upload.svg"
                  alt="upload"
                  class="upload"
                />
                <span class="text-xs">Upload</span>
              </div>
            </div>
            <!-- photo available -->
            <div class="wrap-upload" v-else @click="openFileBrowser">
              <!-- if loading upload to api -->
              <div class="loading-bar" v-if="loadingUpload">
                <div class="progress-bar"></div>
              </div>
              <div class="w-full h-full" v-else>
                <img :src="familyCard.base64" alt="foto kk" class="file" />
              </div>
            </div>
            <!-- Input file -->
            <input
              type="file"
              style="display: none"
              ref="fileImage"
              accept=".png, .jpg, .jpeg"
              @change="onFilePickedImage"
            />
          </form-group>
          <div class="pt-2 text-xs">
            *Format file .jpg, .jpeg, .png
          </div>
          <div class="text-xs">
            *Maks 2MB
          </div>
        </div>
      </div>
    </div>

    <div class="divider"></div>

    <div class="py-3 px-5">
      <button class="btn-fill mr-2 sm:mr-3 xl" @click="next">
        Berikutnya
      </button>
    </div>

    <modal title="Status Pernikahan" v-if="activeModal" @close="closeModal">
      <div>
        <marital-items
          :datas="MaritalItemsData"
          :choosed="choosedModal"
          @choosedItems="choosedItems"
        />
      </div>
    </modal>

    <modal
      v-if="modalUnpaid"
      @close="modalUnpaid = false"
      :no-max-height="true"
    >
      <div class="text-center mb-4 px-4">
        <div class="text-xl text-app-primary font-bold pb-2">
          Nomor Polis Ditemukan
        </div>
        <div class="text-base text-app-primary font-bold pb-2">
          KTP ini sudah memiliki Nomor Polis, silahkan lanjutkan pembayaran
        </div>
        <img
          src="@/assets/img/general/unpaid-insurance.webp"
          alt="unpaid img"
          class="unpaid-img"
        />
        <button class="btn-fill lg mt-3" @click="goToSummaryFinal()">
          Lanjut Bayar
        </button>
      </div>
    </modal>
  </div>
</template>
<script>
// utils
import { getAge, isValidDate } from "@/mixins/utils";
// validation
import {
  required,
  minLength,
  maxLength,
  email,
  numeric,
  between
} from "vuelidate/lib/validators";

// base
import BaseNavbar from "@/components/Base/Navbar.vue";
import StepIntroducer from "@/components/Base/StepIntroducer.vue";
import FormGroup from "@/components/Base/FormGroup.vue";
import Modal from "@/components/Base/Modal.vue";

// components
import MaritalItems from "@/components/Asuransi/Pedulicare/MaritalItems.vue";

export default {
  name: "PedulicarepolicyForm",

  components: {
    BaseNavbar,
    StepIntroducer,
    FormGroup,
    Modal,
    MaritalItems
  },

  data: () => ({
    stepData: ["Data Pemegang Polis", "Data Tertanggung", "Data Ahli Waris"],
    MaritalItemsData: ["Belum Menikah", "Menikah", "Janda", "Duda"],
    radioAlamat: false,
    form: null,
    daftarAlamat: null,
    familyCard: null,
    choosedModal: "",
    activeModal: false,
    formData: new FormData(),
    loadingUpload: false,
    modalUnpaid: false,
    canNext: false,
    policyId: ""
  }),

  validations: {
    form: {
      firstName: {
        required
      },
      phoneNumber: {
        required,
        numeric,
        minLength: minLength(10)
      },
      email: {
        required,
        email
      },
      identityNumber: {
        required,
        numeric,
        minLength: minLength(16),
        maxLength: maxLength(16)
      },
      placeOfBirth: {
        required
      },
      hari: {
        required,
        numeric,
        minLength: minLength(2),
        maxLength: maxLength(2),
        between: between(1, 31)
      },
      bulan: {
        required,
        numeric,
        minLength: minLength(2),
        maxLength: maxLength(2),
        between: between(1, 12)
      },
      tahun: {
        required,
        numeric,
        minLength: minLength(4),
        maxLength: maxLength(4)
      },
      maritalStatus: {
        required
      }
    },
    daftarAlamat: {
      $each: {
        address: {
          required
        },
        postalCode: {
          required,
          numeric
        },
        kecamatan: {
          required
        },
        kelurahan: {
          required
        },
        kota: {
          required
        },
        province: {
          required
        },
        country: {
          required
        }
      }
    },
    familyCard: {
      file: {
        required
      }
    }
  },

  methods: {
    initData() {
      this.form = this.$store.getters["policy/policyHolder"];
      this.daftarAlamat = this.$store.getters["policy/daftarAlamat"];
      this.familyCard = this.$store.getters["policy/familyCard"];
    },

    parsingKtp() {
      this.$v.form.identityNumber.$touch();
      if (!this.$v.form.identityNumber.$error) {
        this.$showLoading();
        this.$store
          .dispatch("policy/ktpParsing", {
            identityNumber: this.form.identityNumber
          })
          .then(res => {
            // check ktp eligible
            this.checkKtpEligible(res.age);

            // set to state
            this.form.gender = res.gender;
            this.form.tahun = res.birthday.split("-")[0];
            this.form.bulan = res.birthday.split("-")[1];
            this.form.hari = res.birthday.split("-")[2];
            this.daftarAlamat[0].kota = res.kota;
            this.daftarAlamat[0].province = res.province;
          })
          .catch(e => {
            console.error(e);
          })
          .finally(() => {
            this.$hideLoading();
          });
      }
    },

    checkKtpEligible(age) {
      this.$showLoading();
      this.$store
        .dispatch("policy/checkKtpEligible", {
          identityNumber: this.form.identityNumber
        })
        .then(res => {
          // init
          if (res.data.status === "init") {
            let SummaryFinal = {
              noPolis: res.data.polisNo,
              urlIseller: res.data.iseller_url,
              policyPeriod: res.data.policy_period,
              totalAmount: res.data.total_amount,
              policyId: res.data.policy_id
            };
            this.$store.commit("policy/SET_SUMMARY_FINAL", SummaryFinal);
            this.modalUnpaid = true;
          }

          // paid
          else if (res.data.status === "paid") {
            this.$showNotification("Nomor KTP Sudah Terdaftar");
          }

          // not registered
          else {
            if (age) {
              if (age < 1) {
                this.$showNotification("Nomor KTP Tidak Ditemukan");
              } else {
                this.$showNotification("Nomor KTP Ditemukan");
              }
            }

            this.canNext = true;
          }
        })
        .catch(e => {
          console.error(e);
        })
        .finally(() => {
          this.$hideLoading();
        });
    },

    goToSummaryFinal() {
      this.$router.push({ name: "PedulicareSummaryFinal" });
    },

    showModal(val) {
      this.choosedModal = val;
      this.activeModal = true;
    },

    closeModal() {
      this.activeModal = false;
    },

    choosedItems(val) {
      // set value
      this.form.maritalStatus = val;

      // close modal when after choosed
      this.closeModal();
    },

    clickRadioGender(value) {
      this.form.gender = value;
    },

    resizeFile(files) {
      const fr = new FileReader();
      var self = this;
      fr.onload = function(readerEvent) {
        var image = new Image();
        image.onload = function() {
          var canvas = document.createElement("canvas");
          var maxSize = 544;
          var width = image.width;
          var height = image.height;
          if (width > height) {
            if (width > maxSize) {
              height *= maxSize / width;
              width = maxSize;
            }
          } else {
            if (height > maxSize) {
              width *= maxSize / height;
              height = maxSize;
            }
          }
          canvas.width = width;
          canvas.height = height;
          canvas.getContext("2d").drawImage(image, 0, 0, width, height);
          var dataUrl = canvas.toDataURL("image/jpeg");
          self.familyCard.base64 = dataUrl;
          self.familyCard.ext = "." + files.type.split("/")[1];
        };
        image.src = readerEvent.target.result;
      };
      fr.readAsDataURL(files);
    },

    // triggered open file browser
    openFileBrowser() {
      this.$refs.fileImage.click();
    },

    onFilePickedImage(e) {
      let files = e.target.files[0];

      if (files.size / 1000000 > 2) {
        this.$showNotification("Ukuran File Maksimal 2 Mb");
      } else {
        this.formData.append("file", files);
        this.uploadFile(files);
      }
    },

    uploadFile(files) {
      this.loadingUpload = true;
      this.$store
        .dispatch("policy/uploadFile", this.formData)
        .then(res => {
          // resize file and get base64
          this.resizeFile(files);
          // set to store
          this.familyCard.file = res.id;

          this.$store.commit("policy/SET_FAMILY_CARD", this.familyCard);

          this.formData = new FormData();
        })
        .catch(e => {
          this.$showNotification("Upload File Gagal");
          console.error(e);
        })
        .finally(() => {
          this.loadingUpload = false;
        });
    },

    next() {
      this.$v.$touch();
      // this.checkKtpEligible();

      let day = this.form.hari;
      let month = this.form.bulan;
      let year = this.form.tahun;

      // merge date
      let dateOfBirth = `${day}/${month}/${year}`;
      let dateOfBirth2 = `${year}/${month}/${day}`;

      if (!this.$v.$invalid) {
        // is valid date
        if (isValidDate(year, Number(month - 1), day)) {
          // usia 18 - 64 tahun
          if (getAge(dateOfBirth2) >= 18 && getAge(dateOfBirth2) <= 64) {
            // ktp not registered
            setTimeout(() => {
              if (this.canNext == true) {
                // set date of birth
                this.form.dateOfBirth = dateOfBirth;

                // set title by gender
                if (this.form.gender === 1 && this.form.gender === 2) {
                  this.form.title = "0" + this.form.gender;
                } else {
                  this.form.title = "99";
                }

                // set daftarAlamat phoneNumber
                this.daftarAlamat[0].telephones[0].number = this.form.phoneNumber;

                // set daftarAlamat email
                this.daftarAlamat[0].telephones[1].number = this.form.email;

                // set data form
                this.$store.commit("policy/SET_POLICY_HOLDER", this.form);

                // next
                this.$router.push({
                  name: "PedulicareInsuredDataForm",
                  params: {
                    policy_id: ""
                  }
                });
              }
            }, 500);
          } else {
            this.$showNotification(
              "Pemegang Polis harus berusia 18 - 64 tahun"
            );
          }
        } else {
          this.$showNotification("Tanggal lahir tidak valid");
        }
      }
    }
  },

  created() {
    this.initData();
  }
};
</script>
<style lang="scss" scoped>
.wrap-policy-holder {
  @apply min-h-screen;
  box-shadow: #ccc 0 2px 4px 0;

  .unpaid-img {
    width: 100%;
    max-width: 420px;
    margin: 0 auto;
  }

  .modal .content .content-inner {
    max-height: none;
  }
}
</style>
