<template>
  <div class="wrap-policy-exclusions">
    <base-navbar title="Informasi Pengecualian Polis" />

    <div class="px-5">
      <div class="font-bold text-app-title py-5">
        Informasi Pengecualian Polis
      </div>

      <div class="text-description">
        1. Semua jenis kerugian atau perawatan inap akibat penyakit kecuali
        COVID-19.
      </div>

      <div class="text-description pt-4">
        2. Semua jenis kerugian atau perawatan inap yang dimulai sebelum periode
        polis berlangsung atau Kondisi Yang Sudah Ada Sebelumnya.
      </div>

      <div class="text-description pt-4">
        3. 14 (empat belas) hari pertama untuk kerugian atau perawatan inap yang
        berhubungan dengan Covid-19.
      </div>

      <div class="text-description pt-4">
        4. Setiap kerugian akibat Tindakan melawan hukum.
      </div>

      <div class="text-description pt-4">
        5. Setiap kerugian yang tidak sesuai dengan ketentuan polis.
      </div>
    </div>

    <div class="wrap-agree">
      <button class="btn-fill xl" @click="agree">
        Mengerti
      </button>
    </div>
  </div>
</template>
<script>
// base
import BaseNavbar from "@/components/Base/Navbar.vue";

export default {
  name: "PedulicarePolicyExclusions",

  components: {
    BaseNavbar
  },

  methods: {
    agree() {
      this.$router.go(-1);
    }
  }
};
</script>
<style lang="scss" scoped>
.wrap-policy-exclusions {
  @apply min-h-screen;
  box-shadow: #ccc 0 2px 4px 0;

  .text-description {
    @apply text-app-label text-sm;
  }

  .wrap-agree {
    @apply flex;
    @apply justify-center;
    @apply items-center;
    @apply bg-white;
    @apply py-3 px-4;
    @apply border-t;
    @apply border-app-border;
    @apply absolute;
    @apply bottom-0;
    @apply w-full;
    @apply max-w-screen-sm;
  }
}
</style>
