<template>
  <div class="summary-final">
    <base-navbar title="Pembayaran" />
    <div class="text-center">
      <p class="text-xl font-bold py-3 pb-2">
        Ringkasan Pembayaran
      </p>
      <div class="text-app-label-4 font-bold text-sm pb-2">
        Biaya Premi yang harus dibayar:
      </div>
      <!-- 6 bulan -->
      <div v-if="policyPeriod === 'P2'">
        <div class="wrap-amount">Rp {{ amountFormat(amount) }}</div>
        <div class="text-app-label-4 font-bold text-sm pb-4 pt-1">
          untuk 6 (enam) bulan
        </div>
      </div>
      <!-- 12 bulan -->
      <div v-if="policyPeriod === 'P1'">
        <div class="wrap-amount">Rp {{ amountFormat(amount) }}</div>
        <div class="text-app-label-4 font-bold text-sm pb-4 pt-1">
          untuk 12 (dua belas) bulan
        </div>
      </div>
    </div>

    <div class="wrap-card">
      <div class="card card-1">
        <div>
          Santunan Rawat Inap, per hari maks 31 hari
        </div>
      </div>
      <div class="card card-2">
        Rp 900.000
      </div>
      <div class="card card-3">
        <div>
          Santunan Tunai Perawatan ICU/ICCU/
          <!--  -->
          NICU/PICU
        </div>
      </div>
      <div class="card card-4">
        Rp 10.000.000
      </div>
    </div>

    <div class="text-sm text-app-primary font-bold text-right px-4 pt-2">
      <div class="cursor-pointer" @click="openDocument('benefits')">
        Deskripsi dari Manfaat >
      </div>
      <div class="cursor-pointer" @click="openDocument('exclusions')">
        Informasi Pengecualian Polis >
      </div>
    </div>

    <!-- no polis -->
    <div class="mx-4 mt-5">
      <div class="wrap-no-polis">
        <div class="text-sm">No Polis</div>
        <div class="flex items-center justify-between">
          <div class="font-bold text-2xl">
            {{ noPolis }}
          </div>
          <button
            class="btn-not-full btn-primary px-4 py-1 mb-1"
            @click="copyPolis()"
          >
            Salin
          </button>
        </div>
      </div>
      <!-- salin -->
      <input type="text" class="hidden-polis" :value="noPolis" id="noPolis" />
    </div>
    <div class="wrap-button-buy">
      <button class="btn-fill xl" @click="next()">
        Lanjut
      </button>
    </div>
  </div>
</template>
<script>
import { amountFormat } from "@/mixins/utils";
// jquery
// import $ from "jquery";
// base
import BaseNavbar from "@/components/Base/Navbar.vue";

export default {
  name: "SummaryFinal",

  data: () => ({
    policyPeriod: "",
    datas: {},
    amount: {},
    index: 0,
    noPolis: "",
    policyId: "",
    urlIseller: "",
    showFrame: false
  }),

  components: {
    BaseNavbar
  },

  methods: {
    amountFormat,
    copyPolis() {
      let copyText = document.getElementById("noPolis");
      copyText.select();
      copyText.setSelectionRange(0, 99999);
      document.execCommand("copy");

      this.$showNotification("No Polis telah disalin.");
    },
    openDocument(val) {
      if (val === "benefits") {
        this.$router.push({ name: "PedulicareBenefits" });
      } else {
        this.$router.push({ name: "PedulicarePolicyExclusions" });
      }
    },
    next() {
      window.open(
        this.$store.getters["policy/summaryFinal"].urlIseller,
        "_blank"
      );
    },
    checkPaymentStatus() {
      this.$store
        .dispatch("policy/checkPaymentStatus", { policy_id: this.policyId })
        .then(res => {
          if (res.data.paid) {
            this.$router.push({
              name: "PedulicareCompletedPayment",
              params: {
                status: "success"
              }
            });
          } else {
            if (this.$route.path == "/pedulicare/summary-final") {
              setTimeout(() => {
                this.checkPaymentStatus();
              }, 10000);
            }
          }
        })
        .catch(e => {
          console.error(e);
        });
    }
  },

  created() {
    this.amount =
      this.$store.getters["policy/summaryFinal"].totalAmount ||
      this.$store.getters["policy/payment"].paymentTotal;
    this.noPolis = this.$store.getters["policy/summaryFinal"].noPolis;
    this.policyId = this.$store.getters["policy/summaryFinal"].policyId;
    this.policyPeriod = this.$store.getters["policy/summaryFinal"].policyPeriod;
    this.urlIseller = this.$store.getters["policy/summaryFinal"].urlIseller;

    this.checkPaymentStatus();
  }
};
</script>
<style lang="scss" scoped>
.summary-final {
  @apply min-h-screen;
  box-shadow: #ccc 0 2px 4px 0;

  .hidden-polis {
    position: absolute;
    left: -9999px;
  }

  .wrap-button-buy {
    @apply flex;
    @apply justify-center;
    @apply items-center;
    @apply bg-white;
    @apply py-3 px-4;
    @apply border-t;
    @apply border-app-border;
    @apply fixed;
    @apply bottom-0;
    @apply w-full;
    @apply max-w-screen-sm;
  }

  .wrap-amount {
    @apply text-app-primary;
    @apply bg-app-secondary;
    @apply py-2 px-4;
    @apply text-2xl;
    @apply font-bold;
    @apply inline-block;
    @apply rounded-lg;
  }

  .wrap-no-polis {
    @apply text-app-primary;
    @apply bg-app-secondary;
    @apply py-2 px-4;
    @apply inline-block;
    @apply rounded-lg;
    @apply w-full;
  }

  .wrap-card {
    @apply mx-4;
    @apply flex;
    @apply flex-wrap;
    @apply justify-center;
    @apply items-center;
    @apply border;
    @apply border-app-border;
    @apply rounded-xl;
    // @apply md:m-auto;
    // @apply max-w-sm;

    .card {
      @apply flex;
      @apply justify-center;
      @apply items-center;
      @apply px-2;
      @apply sm:px-5;
      @apply h-24;
      @apply w-1/2;
      @apply text-sm;
      @apply border;
      @apply border-app-border;
    }

    .card-2,
    .card-4 {
      @apply font-bold;
      @apply text-center;
    }

    .card-1 {
      @apply border-t-0;
      @apply border-l-0;
    }

    .card-2 {
      @apply border-t-0;
      @apply border-l-0;
      @apply border-r-0;
    }

    .card-3 {
      @apply border-t-0;
      @apply border-b-0;
      @apply border-l-0;
    }

    .card-4 {
      @apply border-0;
    }
  }

  .field-name {
    width: 110px;
  }

  .field-name-2 {
    width: 150px;
  }
}
</style>
