<template>
  <div class="wrap-summary" v-if="isLoading && amount">
    <base-navbar title="Pembayaran" />

    <div class="px-5 pb-5">
      <div class="font-bold text-app-title pt-5 pb-4 text-lg">
        Ringkasan Manfaat
      </div>

      <div class="summary-box-button pemegang" @click="modalPolicy = true">
        <span>
          Ringkasan Pemegang Polis
        </span>
        <img
          src="@/assets/img/general/icon-chevron-right-primary.svg"
          alt="icon right"
        />
      </div>

      <div class="border-b border-app-border mt-4"></div>

      <div
        class="summary-box-button tertanggung mt-4"
        v-for="(data, index) in insuredSummary"
        :key="index"
        @click="showModalTertanggung(index)"
      >
        <span> Ringkasan Tertanggung No {{ index + 1 }} </span>
        <img
          src="@/assets/img/general/icon-chevron-right.svg"
          alt="icon right"
        />
      </div>
    </div>

    <div class="divider"></div>

    <div class="px-5 pb-5">
      <div>
        <div class="font-bold text-app-title pt-5 text-lg">
          Tipe Pembayaran
        </div>

        <div class="text-app-label-2 text-sm pt-4">
          Bagaimana pembayaran ingin kamu lakukan?
        </div>

        <div>
          <div
            class="flex items-center cursor-pointer mt-3"
            @click="getAmount('P2')"
          >
            <div
              class="radio-button"
              :class="paymentType === 'P2' ? 'active' : ''"
            >
              <img
                src="@/assets/img/general/icon-checklist-radio.svg"
                alt="icon checklist radio"
              />
            </div>
            <span class="ml-5 font-medium text-sm">
              Pembayaran untuk 6 (enam) bulan
            </span>
          </div>
          <div
            class="flex items-center cursor-pointer mt-2"
            @click="getAmount('P1')"
          >
            <div
              class="radio-button"
              :class="paymentType === 'P1' ? 'active' : ''"
            >
              <img
                src="@/assets/img/general/icon-checklist-radio.svg"
                alt="icon checklist radio"
              />
            </div>
            <span class="ml-5 font-medium text-sm">
              Pembayaran untuk 12 (dua belas) bulan
            </span>
          </div>
        </div>

        <!-- <div class="text-app-label-2 text-sm pt-5">
          Pilih metode pembayaran
        </div> -->

        <!-- <div class="input-choice mt-2" @click="modalPayment = true">
          <span class="text-app-label" v-if="paymentMethod.bank_code">
            {{ paymentMethod.channel_name }}
          </span>
          <span class="placeholder" v-else>
            Metode Pembayaran
          </span>
          <img
            src="@/assets/img/general/icon-chevron-right.svg"
            alt="icon right"
          />
        </div> -->

        <div class="border-b border-app-border my-5"></div>
        <div>
          <div
            class="flex justify-between items-center text-app-label-3 text-sm mb-1"
          >
            <div class="font-bold">
              Total Pembayaran
            </div>
            <div>Rp {{ amountFormat(amount.premiTotal) }}</div>
          </div>
          <div
            class="flex justify-between items-center text-app-label-3 text-sm mb-1"
          >
            <div class="font-bold">
              Biaya Admin/Cetak Polis
            </div>
            <div>Rp 0</div>
          </div>
          <div
            class="flex justify-between items-center text-app-label-3 text-sm mb-1"
            v-if="
              insuredSummary.length > 1 &&
                amount.premiTotal !== amount.paymentTotal
            "
          >
            <div class="font-bold">
              5% Diskon Keluarga
            </div>
            <div>
              (Rp {{ amountFormat(amount.premiTotal - amount.paymentTotal) }})
            </div>
          </div>
        </div>

        <div
          class="p-5 bg-app-secondary text-2xl font-bold text-center mt-5 rounded-xl"
        >
          <div class="text-app-title">
            Total Pembayaran
          </div>
          <div class="text-app-primary">
            Rp {{ amountFormat(amount.paymentTotal) }}
          </div>
        </div>
      </div>
    </div>

    <div class="divider"></div>

    <div class="px-5 pb-2">
      <div class="text-xs text-app-error font-bold my-4">
        *Asuransi Sinar Mas terdaftar dan diawasi oleh OJK (Otoritas Jasa
        Keuangan)
      </div>

      <div class="flex mb-3">
        <div class="w-4">
          <div
            class="radio-button cursor-pointer"
            :class="{ active: terms }"
            @click="terms = !terms"
          >
            <img
              src="@/assets/img/general/icon-checklist-radio.svg"
              alt="icon checklist radio"
            />
          </div>
        </div>
        <span class="ml-5 text-xs text-app-placeholder">
          Saya untuk diri saya sendiri dan Pihak Tertanggung menyatakan telah
          membaca dan menyetujui
          <span class="text-app-blue-terms" @click="modalTermsConditions = true"
            >Syarat & Ketentuan Asuransi</span
          >
          dan
          <span class="text-app-blue-terms" @click="modalStatementHealth = true"
            >Persyaratan Kesehatan</span
          >
          berlaku.
        </span>
      </div>

      <div class="py-3">
        <button
          class="btn-fill mr-2 sm:mr-3 xl"
          :disabled="!terms"
          @click="next"
        >
          Bayar
        </button>
      </div>
    </div>

    <!-- modal payment -->
    <!-- <modal
      title="Metode Pembayaran"
      v-if="modalPayment"
      @close="modalPayment = false"
    >
      <div>
        <payment-list
          :datas="paymentMethodList"
          :choosed="paymentMethod.bank_code"
          @choosedItems="choosedPayment"
        />
      </div>
    </modal> -->
    <!-- end modal payment -->

    <!-- modal policy summary display -->
    <modal
      title="Ringkasan Pemegang Polis"
      v-if="modalPolicy"
      @close="modalPolicy = false"
    >
      <div>
        <policy-summary-display
          :datas="insuredSummary[0]"
          :address="daftarAlamat"
        />
      </div>
    </modal>
    <!-- end modal policy summary display -->

    <!-- modal insured summary display -->
    <modal
      :title="`Ringkasan Tertanggung No ${insuredIndex + 1}`"
      titleCenter
      v-if="modalInsured"
      @close="modalInsured = false"
    >
      <div>
        <insured-summary-display
          :datas="insuredSummary[insuredIndex]"
          :total-insured="insuredSummary.length"
          :amount="amount"
          :payment-type="paymentType"
          :index="insuredIndex"
          :list-relation="relationItemsData"
        />
      </div>
    </modal>
    <!-- end modal insured summary display -->

    <!-- modal syarat & ketentuan -->
    <modal
      title="Syarat & Ketentuan Pedulicare Anti Corona"
      v-if="modalTermsConditions"
      @close="modalTermsConditions = false"
    >
      <div class="px-4 pb-4">
        <div v-html="$t('asuransi.lang3')"></div>

        <button class="btn-fill xl mt-4" @click="modalTermsConditions = false">
          Mengerti
        </button>
      </div>
    </modal>
    <!-- end modal syarat & ketentuan -->

    <!-- modal pernyataan kesehatan -->
    <modal
      title="Persyaratan Kesehatan Pedulicare Anti Corona"
      v-if="modalStatementHealth"
      @close="modalStatementHealth = false"
    >
      <div class="px-4 pb-4">
        <div v-html="$t('asuransi.lang4')"></div>
        <button class="btn-fill xl mt-4" @click="modalStatementHealth = false">
          Mengerti
        </button>
      </div>
    </modal>
    <!-- end modal pernyataan kesehatan -->
  </div>
</template>
<script>
// lodash
import { map, cloneDeep } from "lodash";
// mixins
import { payPlatform } from "@/mixins/payment";
import { amountFormat } from "@/mixins/utils";

// base
import BaseNavbar from "@/components/Base/Navbar.vue";
import Modal from "@/components/Base/Modal.vue";
// import PaymentList from "@/components/Base/PaymentList.vue";

// components
import PolicySummaryDisplay from "@/components/Asuransi/Pedulicare/PolicySummaryDisplay.vue";
import InsuredSummaryDisplay from "@/components/Asuransi/Pedulicare/InsuredSummaryDisplay.vue";

export default {
  name: "PedulicareSummary",

  mixins: [payPlatform],

  components: {
    BaseNavbar,
    Modal,
    PolicySummaryDisplay,
    InsuredSummaryDisplay
    // PaymentList,
  },

  data: () => ({
    isLoading: false,
    relationItemsData: [
      "Pasangan",
      "Anak",
      "Orang Tua",
      "Saudara Kandung",
      "Legal Heirs"
    ],
    modalTermsConditions: false,
    modalStatementHealth: false,
    terms: false,
    amount: null,
    insuredIndex: 0,
    modalPayment: false,
    modalPolicy: false,
    modalInsured: false,
    paymentType: "",
    payment: null,
    paymentMethod: {},
    policyHolder: {},
    insuredSummary: [],
    paymentMethodList: [],
    daftarAlamat: null
  }),

  methods: {
    amountFormat,
    initSummary() {
      this.policyHolder = this.$store.getters["policy/policyHolder"];
      this.insuredSummary = this.$store.getters["policy/insured"];
      this.daftarAlamat = this.$store.getters["policy/daftarAlamat"];
      this.payment = this.$store.getters["policy/payment"];

      this.getAmount("P1");
      this.getPaymentMethodList();
    },
    showModalTertanggung(index) {
      this.insuredIndex = index;
      this.modalInsured = true;
    },
    choosedPayment(val) {
      // set value payment
      this.paymentMethod = val;

      // close modal when after choosed
      this.modalPayment = false;
    },
    getAmount(type) {
      if (this.paymentType !== type) {
        this.paymentType = type;

        this.$showLoading();
        let payload;

        // type  1
        let payload1 = {
          period: "A",
          policy_period: type,
          personList: []
        };

        map(this.insuredSummary, item => {
          payload1.personList.push({
            dateOfBirth: item.dateOfBirth,
            fullName: item.fullName,
            phone: item.phoneNumber,
            identityNumber: item.identityNumber,
            gender: item.gender,
            maritalStatus: item.maritalStatus,
            relation: item.relation
          });
        });

        payload = payload1;

        this.$store
          .dispatch("policy/fetchCalculate", payload)
          .then(res => {
            if (res.code == 6001) {
              this.$showNotification(res.msg);
            } else {
              this.amount = res.data;

              this.payment.premiTotal = res.data.premiTotal + "";
              this.payment.paymentTotal = res.data.paymentTotal + "";

              // set payment
              this.$store.commit("policy/SET_PAYMENT", this.payment);

              this.isLoading = true;
            }
          })
          .catch(e => {
            this.$showNotification(e.more_info);
            console.error(e);
          })
          .finally(() => {
            this.$hideLoading();
          });
      }
    },
    getPaymentMethodList() {
      this.$store
        .dispatch("policy/fetchListPaymentMethod")
        .then(res => {
          this.paymentMethodList = res;
        })
        .catch(e => {
          console.error(e);
        });
    },
    next() {
      this.$showLoading();
      let tempPayload = this.$store.getters["policy/form"];
      let payload = cloneDeep(tempPayload);
      payload.policy_period = this.paymentType;
      // delete key useless
      // policy holder
      delete payload.policyHolder.hari;
      delete payload.policyHolder.bulan;
      delete payload.policyHolder.tahun;
      // kartu kk base64
      delete payload.familyCard.base64;
      // foto ktp base64
      for (let index = 0; index < payload.insured.length; index++) {
        delete payload.insured[index].hari;
        delete payload.insured[index].bulan;
        delete payload.insured[index].tahun;
        delete payload.insured[index].radioAlamat;
        delete payload.insured[index].documents[0].base64;
      }

      // policy registration
      this.$store
        .dispatch("policy/policyRegistration", payload)
        .then(res => {
          if (res.code == 6001) {
            this.$showNotification(res.msg);
          } else {
            let SummaryFinal = {
              noPolis: res.data.polisNo,
              urlIseller: res.data.iseller_url,
              policyId: res.data.policy_id,
              policyPeriod: this.paymentType
            };
            this.$store.commit("policy/SET_SUMMARY_FINAL", SummaryFinal);

            this.$router.push({ name: "PedulicareSummaryFinal" });
          }
        })
        .catch(e => {
          this.$showNotification(e.more_info);
          console.error(e);
        })
        .finally(() => {
          this.$hideLoading();
        });
    }
  },

  created() {
    this.initSummary();
  }
};
</script>
<style lang="scss" scoped>
.wrap-summary {
  @apply min-h-screen;
  box-shadow: #ccc 0 2px 4px 0;

  .summary-box-button {
    @apply w-full;
    @apply h-11;
    @apply text-sm;
    @apply rounded-md;
    @apply px-3;
    @apply flex;
    @apply justify-between;
    @apply items-center;
    @apply border;
    @apply cursor-pointer;

    &.pemegang {
      @apply text-app-primary;
      @apply border-app-primary;
    }

    &.tertanggung {
      @apply text-app-label-2;
      @apply border-app-label-2;
    }

    img {
      @apply w-2;
    }
  }

  .wrap-input-icon span {
    @apply leading-5;
    @apply absolute;
    @apply right-0;
    @apply p-3;
    @apply pointer-events-none;
  }
}
</style>
