<template>
  <div class="section" :class="title ? 'with-title' : 'without-title'">
    <div v-if="title" class="top-title">{{ title }}</div>
    <slot></slot>
  </div>
</template>

<script>
export default {
  name: "CardBox",

  props: {
    title: {
      type: String,
      default: ""
    }
  }
};
</script>

<style lang="scss" scoped>
.section {
  @apply relative;
  @apply w-full;
  @apply bg-white;
  @apply rounded-xl;
  @apply text-black;

  .top-title {
    @apply absolute;
    @apply box-border;
    @apply text-white;
    @apply font-bold;
    @apply inline-block;
    @apply bg-center;
    @apply pt-3;
    @apply px-9;
    @apply pb-4;
    @apply left-1/2;
    @apply whitespace-nowrap;
    top: -9px;
    background: url("../../../assets/img/general/bg-top-title.png") no-repeat;
    background-size: 100% 52px;
    transform: translateX(-50%);
  }

  &.with-title {
    @apply pb-6;
    @apply pt-12;
  }

  &.without-title {
    @apply pb-6;
    @apply pt-1;
  }
}
</style>
