<template>
  <div class="insured-summary-display">
    <div class="text-center">
      <div class="text-app-label-4 font-bold text-sm pb-2">
        Biaya Premi yang harus dibayar:
      </div>
      <!-- 12 bulan -->
      <div v-if="paymentType === 'P1'">
        <div class="wrap-amount">
          Rp {{ amountFormat(amount.premiTotal / totalInsured) }}
        </div>
        <div class="text-app-label-4 font-bold text-sm pb-4 pt-1">
          untuk 12 (dua belas) bulan
        </div>
      </div>
      <!-- 6 bulan -->
      <div v-else>
        <div class="wrap-amount">
          Rp {{ amountFormat(amount.premiTotal / totalInsured) }}
        </div>
        <div class="text-app-label-4 font-bold text-sm pb-4 pt-1">
          untuk 6 (enam) bulan
        </div>
      </div>
    </div>

    <div class="wrap-card">
      <div class="card card-1">
        <div>
          Santunan Rawat Inap, per hari maks 31 hari
        </div>
      </div>
      <div class="card card-2">
        Rp 900.000
      </div>
      <div class="card card-3">
        <div>
          Santunan Tunai Perawatan ICU/ICCU/
          <!--  -->
          NICU/PICU
        </div>
      </div>
      <div class="card card-4">
        Rp 10.000.000
      </div>
    </div>

    <div class="text-sm text-app-primary font-bold text-right px-4 pt-2">
      <div class="cursor-pointer" @click="openDocument('benefits')">
        Deskripsi dari Manfaat >
      </div>
      <div class="cursor-pointer" @click="openDocument('exclusions')">
        Informasi Pengecualian Polis >
      </div>
    </div>

    <div class="border-b mt-3 mb-5 mx-4 border-gray-400"></div>

    <!-- informasi personal -->
    <div class="px-4">
      <div class="font-bold pb-2">Informasi Personal</div>
      <div class="text-app-label-3 text-sm">
        <!-- nama lengkap -->
        <div class="flex pb-1">
          <div class="field-name">
            <div class="field-name">Nama Lengkap</div>
          </div>
          <div class="mx-3">:</div>
          <div>{{ datas.fullName }}</div>
        </div>
        <!-- no telepon -->
        <div class="flex pb-1">
          <div class="field-name">
            <div class="field-name">No Telepon</div>
          </div>
          <div class="mx-3">:</div>
          <div>{{ datas.phoneNumber }}</div>
        </div>
        <!-- email -->
        <div class="flex pb-1">
          <div class="field-name">
            <div class="field-name">Email</div>
          </div>
          <div class="mx-3">:</div>
          <div>{{ datas.email }}</div>
        </div>
        <!-- no ktp -->
        <div class="flex">
          <div class="field-name">
            <div class="field-name">No KTP</div>
          </div>
          <div class="mx-3">:</div>
          <div>{{ datas.identityNumber }}</div>
        </div>
      </div>
    </div>
    <!-- end informasi personal -->

    <!-- informasi alamat -->
    <!-- <div class="px-4 mt-4 mb-4">
      <div class="font-bold pb-2">Informasi Alamat</div>
      <div class="text-app-label-3 text-sm"> -->
    <!-- alamat lengkap -->
    <!-- <div class="flex pb-1">
          <div class="field-name">
            <div class="field-name">Alamat Lengkap</div>
          </div>
          <div class="mx-3">:</div>
          <div>{{ datas.fullAddress }}</div>
        </div> -->
    <!-- provinsi lengkap -->
    <!-- <div class="flex pb-1">
          <div class="field-name">
            <div class="field-name">Provinsi</div>
          </div>
          <div class="mx-3">:</div>
          <div>{{ datas.provinceName }}</div>
        </div> -->
    <!-- alamat tinggal -->
    <!-- <div class="flex pb-1">
          <div class="field-name">
            <div class="field-name">Alamat Tinggal</div>
          </div>
          <div class="mx-3">:</div>
          <div>{{ datas.fullAddressNow }}</div>
        </div> -->
    <!-- provinsi tinggal -->
    <!-- <div class="flex">
          <div class="field-name">
            <div class="field-name">Provinsi</div>
          </div>
          <div class="mx-3">:</div>
          <div>{{ datas.provinceNameNow }}</div>
        </div>
      </div>
    </div> -->
    <!-- end informasi alamat -->

    <div class="border-b mt-5 mb-5 mx-4 border-gray-400"></div>

    <!-- informasi ahliwaris -->
    <div class="px-4 mt-4 mb-4">
      <div class="font-bold">Informasi Ahli Waris</div>

      <div v-for="(ahliwaris, index) in datas.heirs" :key="index">
        <div class="font-bold pb-2 pt-1">#{{ index + 1 }}</div>
        <div class="text-app-label-3 text-sm">
          <!-- alamat lengkap -->
          <div class="flex pb-1">
            <div class="field-name-2">
              <div class="field-name-2">Nama Lengkap</div>
            </div>
            <div class="mx-3">:</div>
            <div>{{ ahliwaris.fullName }}</div>
          </div>
          <!-- tanggal lahir -->
          <div class="flex pb-1">
            <div class="field-name-2">
              <div class="field-name-2">Tanggal Lahir</div>
            </div>
            <div class="mx-3">:</div>
            <div>{{ ahliwaris.dateOfBirth }}</div>
          </div>
          <!-- hubungan tertanggung -->
          <div class="flex pb-1">
            <div class="field-name-2">
              <div class="field-name-2">Hubungan Tertanggung</div>
            </div>
            <div class="mx-3">:</div>
            <div>{{ listRelation[ahliwaris.relation - 1] }}</div>
          </div>
          <!-- benefit -->
          <div class="flex">
            <div class="field-name-2">
              <div class="field-name-2">Benefit %</div>
            </div>
            <div class="mx-3">:</div>
            <div>{{ ahliwaris.percentage }}%</div>
          </div>
        </div>
      </div>
    </div>
    <!-- end informasi ahliwaris -->
  </div>
</template>
<script>
import { amountFormat } from "@/mixins/utils";
export default {
  name: "InsuredSummaryDisplay",

  props: {
    datas: {
      type: Object,
      default: () => {},
      required: true
    },
    paymentType: {
      type: String,
      default: "A"
    },
    amount: {
      type: Object,
      default: () => {}
    },
    index: {
      type: Number
    },
    listRelation: {
      type: Array
    },
    totalInsured: {
      type: Number
    }
  },

  methods: {
    amountFormat,
    choosedItems(val) {
      this.$emit("choosedItems", val);
    },
    openDocument(val) {
      if (val === "benefits") {
        this.$router.push({ name: "PedulicareBenefits" });
      } else {
        this.$router.push({ name: "PedulicarePolicyExclusions" });
      }
    }
  }
};
</script>
<style lang="scss" scoped>
.insured-summary-display {
  .wrap-amount {
    @apply text-app-primary;
    @apply bg-app-secondary;
    @apply py-2 px-4;
    @apply text-2xl;
    @apply font-bold;
    @apply inline-block;
    @apply rounded-lg;
  }

  .wrap-card {
    @apply mx-4;
    @apply flex;
    @apply flex-wrap;
    @apply justify-center;
    @apply items-center;
    @apply border;
    @apply border-app-border;
    @apply rounded-xl;
    // @apply md:m-auto;
    // @apply max-w-sm;

    .card {
      @apply flex;
      @apply justify-center;
      @apply items-center;
      @apply px-2;
      @apply sm:px-5;
      @apply h-24;
      @apply w-1/2;
      @apply text-sm;
      @apply border;
      @apply border-app-border;
    }

    .card-2,
    .card-4 {
      @apply font-bold;
      @apply text-center;
    }

    .card-1 {
      @apply border-t-0;
      @apply border-l-0;
    }

    .card-2 {
      @apply border-t-0;
      @apply border-l-0;
      @apply border-r-0;
    }

    .card-3 {
      @apply border-t-0;
      @apply border-b-0;
      @apply border-l-0;
    }

    .card-4 {
      @apply border-0;
    }
  }

  .field-name {
    width: 110px;
  }

  .field-name-2 {
    width: 150px;
  }
}
</style>
