<template>
  <div>
    <div class="marital-items">
      <div
        class="items"
        :class="choosed - 1 === index ? 'bg-app-secondary' : ''"
        v-for="(data, index) in datas"
        :key="index"
        @click="choosedItems(index)"
      >
        <img
          v-if="choosed - 1 === index"
          src="@/assets/img/asuransi/pedulicare/icon-choosed.svg"
          alt="icon choosed"
          class="w-5"
        />
        <img
          v-else
          src="@/assets/img/asuransi/pedulicare/icon-unchoosed.svg"
          alt="icon unchoosed"
          class="w-5"
        />
        <p
          class="pl-3"
          :class="choosed === data ? 'font-bold text-app-primary' : ''"
        >
          {{ data }}
        </p>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: "MaritalItems",

  props: {
    datas: {
      type: Array,
      default: function() {
        return [];
      },
      required: true
    },
    choosed: {
      type: Number
    }
  },

  methods: {
    choosedItems(val) {
      this.$emit("choosedItems", val + 1);
    }
  }
};
</script>
<style lang="scss" scoped>
.marital-items {
  @apply overflow-auto;
  @apply max-h-64;

  .items {
    @apply px-3;
    @apply text-base;
    @apply h-12;
    @apply flex;
    @apply items-center;
    @apply cursor-pointer;
    @apply hover:bg-app-secondary;
    border-bottom: 1px solid #eee;

    &:last-child {
      @apply border-b-0;
    }
  }
}
</style>
