<template>
  <div class="policy-summary-display">
    <!-- informasi personal -->
    <div class="px-4">
      <div class="font-bold pb-2">Informasi Personal</div>
      <div class="text-app-label-3 text-sm">
        <!-- nama lengkap -->
        <div class="flex pb-1">
          <div class="field-name">
            <div class="field-name">Nama Lengkap</div>
          </div>
          <div class="mx-3">:</div>
          <div>{{ datas.fullName }}</div>
        </div>
        <!-- no telepon -->
        <div class="flex pb-1">
          <div class="field-name">
            <div class="field-name">No Telepon</div>
          </div>
          <div class="mx-3">:</div>
          <div>{{ datas.phoneNumber }}</div>
        </div>
        <!-- email -->
        <div class="flex pb-1">
          <div class="field-name">
            <div class="field-name">Email</div>
          </div>
          <div class="mx-3">:</div>
          <div>{{ datas.email }}</div>
        </div>
        <!-- no ktp -->
        <div class="flex">
          <div class="field-name">
            <div class="field-name">No KTP</div>
          </div>
          <div class="mx-3">:</div>
          <div>{{ datas.identityNumber }}</div>
        </div>
      </div>
    </div>
    <!-- end informasi personal -->

    <!-- informasi alamat -->
    <div class="px-4 mt-4 mb-4">
      <div class="font-bold pb-2">Informasi Alamat</div>
      <div class="text-app-label-3 text-sm">
        <!-- alamat lengkap -->
        <div class="flex pb-1">
          <div class="field-name">
            <div class="field-name">Alamat Lengkap</div>
          </div>
          <div class="mx-3">:</div>
          <div>{{ address[0].address }}</div>
        </div>
        <!-- Kecamatan -->
        <div class="flex pb-1">
          <div class="field-name">
            <div class="field-name">Kecamatan</div>
          </div>
          <div class="mx-3">:</div>
          <div>{{ address[0].kecamatan }}</div>
        </div>
        <!-- Kelurahan -->
        <div class="flex pb-1">
          <div class="field-name">
            <div class="field-name">Kelurahan</div>
          </div>
          <div class="mx-3">:</div>
          <div>{{ address[0].kelurahan }}</div>
        </div>
        <!-- Kota -->
        <div class="flex pb-1">
          <div class="field-name">
            <div class="field-name">Kota</div>
          </div>
          <div class="mx-3">:</div>
          <div>{{ address[0].kota }}</div>
        </div>
        <!-- Provinsi -->
        <div class="flex pb-1">
          <div class="field-name">
            <div class="field-name">Provinsi</div>
          </div>
          <div class="mx-3">:</div>
          <div>{{ address[0].province }}</div>
        </div>
        <!-- Negara -->
        <div class="flex pb-1">
          <div class="field-name">
            <div class="field-name">Negara</div>
          </div>
          <div class="mx-3">:</div>
          <div>{{ address[0].country }}</div>
        </div>
      </div>
    </div>
    <!-- end informasi alamat -->
  </div>
</template>
<script>
export default {
  name: "PolicySummaryDisplay",

  props: {
    datas: {
      type: Object,
      default: () => {},
      required: true
    },
    address: {
      type: Array,
      required: true
    }
  },

  methods: {
    choosedItems(val) {
      this.$emit("choosedItems", val);
    }
  }
};
</script>
<style lang="scss" scoped>
.policy-summary-display {
  .field-name {
    width: 110px;
  }
}
</style>
