<template>
  <div>
    <div class="relation-items">
      <div v-for="(data, index) in datas" :key="index">
        <div
          v-show="isShow(index)"
          class="items"
          :class="choosed === data ? 'bg-app-secondary' : ''"
          @click="choosedItems(index + 1)"
        >
          <img
            v-if="choosed - 1 === index"
            src="@/assets/img/asuransi/pedulicare/icon-choosed.svg"
            alt="icon choosed"
            class="w-5"
          />
          <img
            v-else
            src="@/assets/img/asuransi/pedulicare/icon-unchoosed.svg"
            alt="icon unchoosed"
            class="w-5"
          />
          <p
            class="pl-3"
            :class="choosed - 1 === index ? 'font-bold text-app-primary' : ''"
          >
            {{ data }}
          </p>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: "RelationItems",

  props: {
    datas: {
      type: Array,
      default: function() {
        return [];
      },
      required: true
    },
    choosed: {
      type: Number
    },
    access: {
      type: String,
      default: ""
    },
    gender: {
      type: Number
    },
    isBeneficiary: {
      type: Boolean,
      default: false
    }
  },

  methods: {
    choosedItems(val) {
      if (this.access === "tertanggung") {
        // tertanggung
        if (val !== 1) {
          this.$emit("choosedItems", val);
        }
      } else {
        this.$emit("choosedItems", val);
      }
    },
    isShow(index) {
      if (this.isBeneficiary === true && index === 0) return false;

      if (this.gender) {
        if (this.gender === 1) {
          if (index === 2 || index === 4) return false;
          else return true;
        } else {
          if (index === 1 || index === 3) return false;
          else return true;
        }
      } else return true;
    }
  }
};
</script>
<style lang="scss" scoped>
.relation-items {
  @apply overflow-auto;
  @apply max-h-64;

  .items {
    @apply px-3;
    @apply text-base;
    @apply h-12;
    @apply flex;
    @apply items-center;
    @apply cursor-pointer;
    @apply hover:bg-app-secondary;
    border-bottom: 1px solid #eee;

    &:last-child {
      @apply border-b-0;
    }
  }
}
</style>
