<template>
  <div class="insurance-homepage pb-5">
    <!-- navbar -->
    <base-navbar
      :title="$t('homepage.lang1')"
      icon="black"
      color="bg-banner-home-page text-black"
      :route="goBack()"
    />
    <!-- end navbar -->

    <!-- hero -->
    <div class="hero">
      <img src="@/assets/img/asuransi/homepage/home-banner.svg" alt="banner" />
    </div>
    <!-- end hero -->

    <!-- section psac -->
    <div class="p-5 pb-0" v-for="(data, index) in datas" :key="index">
      <!-- card -->
      <div class="card w-full rounded-lg">
        <!-- card-head -->
        <div
          class="card-header flex items-center font-bold p-4 rounded-lg rounded-b-none"
          :style="{
            'background-color': data.background_color_product_name,
            color: data.primary_color
          }"
        >
          <img class="card-icon mr-2" :src="data.url_icon" />
          <div class="">{{ data.product_name }}</div>
        </div>
        <!-- card body -->
        <div class="card-body bg-white px-5 py-3 rounded-lg rounded-t-none">
          <!-- card content -->
          <div class="card-content pb-2">
            <div
              class="line-left-vertical"
              :style="{
                background: data.primary_color
              }"
            ></div>
            <div class="font-bold text-lg pt-1">
              {{ data.title_promo_1 }}
              <!-- <span
                v-if="data.product_name == 'Siji Corona'"
                class="text-app-primary"
                >*</span
              > -->
            </div>
            <div class="font-bold pt-2">
              {{ data.title_promo_2 }}
            </div>
            <!-- point -->
            <div
              class="flex pl-2 pt-2"
              v-for="(point, pointIndex) in data.list_point"
              :key="pointIndex"
            >
              <div class="text-xs pt-0.5">•</div>
              <div class="pl-2 text-sm">
                {{ point.point }}
              </div>
            </div>
          </div>
          <!-- end card content -->
          <!-- button -->
          <button
            class="btn-fill lg mt-3 rounded-md"
            @click="goToInsurance(data.url_destination)"
          >
            {{ $t("homepage.lang6") }}
          </button>
          <div
            class="text-xs text-app-primary mt-2"
            v-if="data.product_name == 'Siji Corona'"
          >
            {{ $t("homepage.lang7") }}
          </div>
        </div>
        <!-- end card body -->
      </div>
    </div>
    <!-- end section -->
  </div>
</template>
<script>
// base
import BaseNavbar from "@/components/Base/Navbar.vue";

export default {
  name: "HomePage",

  components: {
    BaseNavbar
  },

  data: () => ({
    modalShare: false,
    datas: null
  }),

  created() {
    // let result;
    // if (process.env.VUE_APP_BASE_DOMAIN === "pre") {
    //   result = "https://asuransi-pre.pedulisehat.id/sijicorona";
    // } else {
    //   result = "https://asuransi.pedulisehat.id/sijicorona";
    // }
    // this.goToInsurance(result, ",_self");
    // this.fetchHomePage();
  },

  methods: {
    goToInsurance(url) {
      window.open(url, "_self");
    },
    goBack() {
      let result;
      if (process.env.VUE_APP_BASE_DOMAIN === "pre") {
        result = "https://pre.pedulisehat.id";
      } else {
        result = "https://www.pedulisehat.id";
      }
      return result;
    },
    fetchHomePage() {
      this.$showLoading();
      this.$store
        .dispatch("policy/fetchHomePage")
        .then(res => {
          this.datas = res;
        })
        .catch(e => {
          console.error(e);
        })
        .finally(() => {
          this.$hideLoading();
        });
    }
  }
};
</script>
<style lang="scss" scoped>
.insurance-homepage {
  @apply min-h-screen;
  background: #fbfbfb;
  box-shadow: #ccc 0 2px 4px 0;

  .card {
    box-shadow: #ccc 0px 0px 3px 0px;

    .card-header {
      .card-icon {
        width: 20px;
      }
    }

    .card-content {
      @apply relative;
      @apply pl-4;

      .line-left-vertical {
        @apply absolute;
        @apply left-0;
        @apply h-full w-1;
        @apply rounded-full;
      }
    }
  }
}

// end footer
</style>
