<template>
  <div class="policy-data pb-5">
    <!-- navbar -->
    <base-navbar :title="$t('myInsurance.lang1')" />
    <!-- end navbar -->

    <div class="wrapper py-3 rounded-md" v-if="datas">
      <!-- section 1 -->
      <div class="px-3">
        <div class="flex">
          <img
            src="https://res.cloudinary.com/dqgl4hkkx/image/upload/v1627552934/insurance-home/siji.png"
            alt="img"
            class="w-20"
          />
          <div class="flex flex-col justify-center pl-3">
            <div class="pb-2 font-medium">SiJi Corona Protection</div>
            <div
              class="bg-app-secondary text-app-primary text-sm font-medium py-1 px-4 fit-content rounded"
              v-if="datas.policy_status == 40"
            >
              {{ $t("global.effective") }}
            </div>
            <div
              class="bg-app-input text-app-label-3 text-sm font-medium py-1 px-4 fit-content rounded"
              v-else
            >
              {{ $t("global.expired") }}
            </div>
          </div>
        </div>

        <div class="flex text-sm pt-4">
          <div class="text-app-label-4 font-medium">
            {{ $t("myInsurance.lang2") }}:
          </div>
          <div class="font-bold pl-1">{{ datas.policy_id }}</div>
        </div>
        <div class="flex text-sm pt-1">
          <div class="text-app-label-4 font-medium">
            {{ $t("myInsurance.lang3") }}:
          </div>
          <div class="font-bold pl-1">{{ "Simas Jiwa" }}</div>
        </div>

        <div class="flex py-4">
          <button class="btn-outlined mr-2">
            {{ $t("myInsurance.lang4") }}
          </button>
          <button class="btn-fill ml-2" @click="activeModal = true">
            {{ $t("myInsurance.lang5") }}
          </button>
        </div>
      </div>
      <!-- end section 1 -->

      <div class="border-b"></div>
      <!-- section 2 -->
      <div class="pt-4 px-3">
        <div class="flex justify-between items-end">
          <div class="font-medium">{{ $t("myInsurance.lang1") }}</div>
          <div
            class="font-bold text-xs text-app-primary"
            @click="checkDetail()"
          >
            {{ $t("myInsurance.lang6") }}
          </div>
        </div>
        <!-- policy holder -->
        <div class="flex justify-between items-end text-sm pt-3">
          <div class="font-medium text-app-label-4">
            {{ $t("myInsurance.lang7") }}:
          </div>
          <div class="font-bold text-sm">
            {{ datas.policy_holder.full_name }}
          </div>
        </div>
        <!-- insured -->
        <div class="flex justify-between items-end text-sm pt-3">
          <div class="font-medium text-app-label-4">
            {{ $t("myInsurance.lang8") }}:
          </div>
          <div class="font-bold text-sm">
            {{ datas.policy_ins_person[0].full_name }}
          </div>
        </div>
        <!-- sum insured -->
        <div class="flex justify-between items-end text-sm pt-3">
          <div class="font-medium text-app-label-4">
            {{ $t("myInsurance.lang9") }}:
          </div>
          <div class="font-bold text-sm">
            10.000.000 (Silver)
          </div>
        </div>
        <!-- protection period -->
        <div class="flex justify-between items-end text-sm pt-3">
          <div class="font-medium text-app-label-4">
            {{ $t("myInsurance.lang10") }}:
          </div>
          <div class="font-bold text-sm">
            1 Sep 2019 - 31 Aug 2020
          </div>
        </div>
      </div>
      <!-- end section 2 -->
    </div>

    <!-- section 3 -->
    <div class="wrapper rounded-md mt-4 mb-3">
      <div class="text-sm text-app-label-4">
        <!-- public replay -->
        <div class="px-3 flex justify-between items-center py-4 cursor-pointer">
          <div class="underline">{{ $t("myInsurance.lang11") }}</div>
          <img
            src="@/assets/img/general/icon-chevron-right.svg"
            alt="icon right"
            class="h-3"
          />
        </div>
        <div class="border-b"></div>
        <!-- personal replay -->
        <div class="px-3 flex justify-between items-center py-4 cursor-pointer">
          <div class="underline">{{ $t("myInsurance.lang12") }}</div>
          <img
            src="@/assets/img/general/icon-chevron-right.svg"
            alt="icon right"
            class="h-3"
          />
        </div>
      </div>
    </div>
    <div class="h-12"></div>
    <!-- end section 3 -->

    <div class="wrap-whatsapp">
      <div class="whatsapp" @click="goToWhatsapp">
        <img src="@/assets/img/general/icon-whatsapp.svg" alt="icon whatsapp" />
        <span>{{ $t("global.whatsapp_contact") }}</span>
      </div>
    </div>

    <!-- modal -->
    <modal
      title="Proses Klaim"
      v-show="activeModal"
      @close="activeModal = false"
    >
      <div>
        <claim-proccess />
      </div>
    </modal>
  </div>
</template>
<script>
// base
import BaseNavbar from "@/components/Base/Navbar.vue";
import Modal from "@/components/Base/Modal.vue";

// component
import ClaimProccess from "@/components/Asuransi/Siji/ClaimProccess.vue";

export default {
  name: "PolicyData",

  components: {
    BaseNavbar,
    ClaimProccess,
    Modal
  },

  data: () => ({
    datas: null,
    activeModal: false
  }),

  methods: {
    goToWhatsapp() {
      window.open(
        "https://api.whatsapp.com/send?phone=6281230009479&text=Halo%20,%20Saya%20mau%20konsultasi%20asuransi%20di%20pedulisehat.id",
        "_blank"
      );
    },
    checkDetail() {
      this.$router.push({
        name: "PolicyDetail"
      });
    },
    fetchDetail() {
      this.$showLoading();
      this.$store
        .dispatch("detail/fetchDetail", {
          policy_id: this.$route.params.policyId
        })
        .then(res => {
          this.datas = res;
        })
        .catch(e => {
          console.error(e);
        })
        .finally(() => {
          this.$hideLoading();
        });
    }
  },

  created() {
    this.fetchDetail();
  }
};
</script>
<style lang="scss" scoped>
.policy-data {
  @apply p-3;
  min-height: calc(100vh - 56px);
  background: #fbfbfb;
  box-shadow: #ccc 0 2px 4px 0;

  .wrapper {
    box-shadow: #ccc 0px 0px 3px 0px;
    @apply bg-white;
  }

  .wrap-whatsapp {
    @apply flex;
    @apply justify-center;
    @apply items-center;
    @apply absolute bottom-0 left-0;
    @apply w-full;

    .whatsapp {
      @apply bg-white;
      @apply py-2 px-7;
      @apply my-4;
      @apply rounded-3xl;
      @apply cursor-pointer;

      img {
        @apply w-5;
        @apply inline;
        @apply mr-3;
      }

      span {
        @apply text-app-primary;
        @apply font-bold;
        @apply text-sm;
      }
    }
  }
}
</style>
