<template>
  <div class="policy-detail pb-5">
    <!-- navbar -->
    <base-navbar :title="$t('myInsurance.lang1')" />
    <!-- end navbar -->

    <div v-if="datas">
      <!-- policy data -->
      <div class="wrapper py-3 rounded-md">
        <div class="px-3">
          <div class="flex">
            <img
              src="https://res.cloudinary.com/dqgl4hkkx/image/upload/v1627552934/insurance-home/siji.png"
              alt="img"
              class="w-20"
            />
            <div class="flex flex-col justify-center pl-3">
              <div class="pb-2 font-medium">SiJi Corona Protection</div>
              <div
                class="bg-app-secondary text-app-primary text-sm font-medium py-1 px-4 fit-content rounded"
                v-if="datas.policy_status == 40"
              >
                {{ $t("global.effective") }}
              </div>
              <div
                class="bg-app-input text-app-label-3 text-sm font-medium py-1 px-4 fit-content rounded"
                v-else
              >
                {{ $t("global.expired") }}
              </div>
            </div>
          </div>
        </div>

        <div class="px-3">
          <div class="flex text-sm pt-4">
            <div class="text-app-label-4 font-medium">
              {{ $t("myInsurance.lang2") }}:
            </div>
            <div class="font-bold pl-1">{{ datas.policy_id }}</div>
          </div>
          <div class="flex text-sm pt-1">
            <div class="text-app-label-4 font-medium">
              {{ $t("myInsurance.lang3") }}:
            </div>
            <div class="font-bold pl-1">{{ "Simas Jiwa" }}</div>
          </div>
        </div>

        <div class="pt-6 px-3">
          <div class="flex justify-between items-end">
            <div class="font-medium text-lg">
              {{ $t("global.data_arg", { data: $t("myInsurance.lang7") }) }}
            </div>
          </div>

          <!-- fullname -->
          <div class="flex justify-between items-end text-sm pt-4">
            <div class="font-medium text-app-label-4">
              {{ $t("form.full_name") }}:
            </div>
            <div class="font-bold text-sm">
              {{ datas.policy_holder.full_name }}
            </div>
          </div>

          <!-- ktp number -->
          <div class="flex justify-between items-end text-sm pt-4">
            <div class="font-medium text-app-label-4">
              {{ $t("form.ktp_number") }}:
            </div>
            <div class="font-bold text-sm">
              {{ datas.policy_holder.id_card }}
            </div>
          </div>

          <div class="border-b pt-4"></div>

          <!-- email -->
          <div class="flex justify-between items-end text-sm pt-4">
            <div class="font-medium text-app-label-4">
              {{ $t("form.email") }}:
            </div>
            <div class="font-bold text-sm">
              {{ datas.policy_holder.email }}
            </div>
          </div>

          <!-- npwp -->
          <div class="flex justify-between items-end text-sm pt-4">
            <div class="font-medium text-app-label-4">
              {{ $t("form.npwp") }}:
            </div>
            <div class="font-bold text-sm">
              {{ datas.policy_holder.tax_number || "-" }}
            </div>
          </div>

          <!-- phone number -->
          <div class="flex justify-between items-end text-sm pt-4">
            <div class="font-medium text-app-label-4">
              {{ $t("form.phone_number") }}:
            </div>
            <div class="font-bold text-sm">
              {{ datas.policy_holder.mobile_number }}
            </div>
          </div>

          <div class="border-b pt-4"></div>

          <!-- address -->
          <div class="flex justify-between items-end text-sm pt-4">
            <div class="font-medium text-app-label-4">
              {{ $t("form.address") }}:
            </div>
            <div class="font-bold text-sm">
              <span> {{ datas.policy_holder.city_name }}, </span>
              <span>
                {{ datas.policy_holder.province_name }}
              </span>
            </div>
          </div>

          <!-- postal code -->
          <div class="flex justify-between items-end text-sm pt-4">
            <div class="font-medium text-app-label-4">
              {{ $t("form.zip_code") }}:
            </div>
            <div class="font-bold text-sm">
              {{ datas.policy_holder.postal_code }}
            </div>
          </div>

          <!-- full address -->
          <div class="flex justify-between items-end text-sm pt-4">
            <div class="font-medium text-app-label-4">
              {{ $t("form.full_address") }}:
            </div>
            <div class="font-bold text-sm">
              {{ datas.policy_holder.address }}
            </div>
          </div>
        </div>
      </div>

      <!-- insured data -->
      <div class="wrapper py-3 rounded-md mt-6">
        <div class="pt-3 px-3">
          <div class="flex justify-between items-end">
            <div class="font-medium text-lg">
              {{ $t("global.data_arg", { data: $t("myInsurance.lang8") }) }}
            </div>
          </div>

          <!-- relationship -->
          <div class="flex justify-between items-end text-sm pt-4">
            <div class="font-medium text-app-label-4">
              {{ $t("form.relationship") }}:
            </div>
            <div class="font-bold text-sm">
              {{ datas.policy_ins_person[0].relationship }}
            </div>
          </div>

          <!-- fullname -->
          <div class="flex justify-between items-end text-sm pt-4">
            <div class="font-medium text-app-label-4">
              {{ $t("form.full_name") }}:
            </div>
            <div class="font-bold text-sm">
              {{ datas.policy_ins_person[0].full_name }}
            </div>
          </div>

          <!-- ktp number -->
          <div class="flex justify-between items-end text-sm pt-4">
            <div class="font-medium text-app-label-4">
              {{ $t("form.ktp_number") }}:
            </div>
            <div class="font-bold text-sm">
              {{ datas.policy_ins_person[0].id_card }}
            </div>
          </div>

          <div class="border-b pt-4"></div>

          <!-- email -->
          <div class="flex justify-between items-end text-sm pt-4">
            <div class="font-medium text-app-label-4">
              {{ $t("form.email") }}:
            </div>
            <div class="font-bold text-sm">
              {{ datas.policy_ins_person[0].email }}
            </div>
          </div>

          <!-- npwp -->
          <div class="flex justify-between items-end text-sm pt-4">
            <div class="font-medium text-app-label-4">
              {{ $t("form.npwp") }}:
            </div>
            <div class="font-bold text-sm">
              {{ datas.policy_ins_person[0].tax_number || "-" }}
            </div>
          </div>

          <!-- phone number -->
          <div class="flex justify-between items-end text-sm pt-4">
            <div class="font-medium text-app-label-4">
              {{ $t("form.phone_number") }}:
            </div>
            <div class="font-bold text-sm">
              {{ datas.policy_ins_person[0].mobile_number }}
            </div>
          </div>

          <div class="border-b pt-4"></div>

          <!-- address -->
          <div class="flex justify-between items-end text-sm pt-4">
            <div class="font-medium text-app-label-4">
              {{ $t("form.address") }}:
            </div>
            <div class="font-bold text-sm">
              <span> {{ datas.policy_ins_person[0].city_name }}, </span>
              <span>
                {{ datas.policy_ins_person[0].province_name }}
              </span>
            </div>
          </div>

          <!-- postal code -->
          <div class="flex justify-between items-end text-sm pt-4">
            <div class="font-medium text-app-label-4">
              {{ $t("form.zip_code") }}:
            </div>
            <div class="font-bold text-sm">
              {{ datas.policy_ins_person[0].postal_code }}
            </div>
          </div>

          <!-- full address -->
          <div class="flex justify-between items-end text-sm pt-4">
            <div class="font-medium text-app-label-4">
              {{ $t("form.full_address") }}:
            </div>
            <div class="font-bold text-sm">
              {{ datas.policy_ins_person[0].address }}
            </div>
          </div>
        </div>
      </div>

      <!-- beneficiary data -->
      <div class="wrapper py-3 rounded-md mt-6">
        <div class="pt-3 px-3">
          <div class="flex justify-between items-end">
            <div class="font-medium text-lg">
              {{ $t("global.data_arg", { data: $t("myInsurance.lang13") }) }}
            </div>
          </div>

          <div v-for="(data, index) in datas.beneficiaries" :key="index">
            <div class="font-medium text-sm pt-4">
              No. {{ index + 1 }} {{ $t("myInsurance.lang13") }}
            </div>
            <!-- fullname -->
            <div class="flex justify-between items-end text-sm pt-4">
              <div class="font-medium text-app-label-4">
                {{ $t("form.full_name") }}:
              </div>
              <div class="font-bold text-sm">
                {{ data.full_name }}
              </div>
            </div>

            <!-- borthday -->
            <div class="flex justify-between items-end text-sm pt-4">
              <div class="font-medium text-app-label-4">
                {{ $t("form.birthday") }}:
              </div>
              <div class="font-bold text-sm">
                {{ reverseDate(data.birth_date) }}
              </div>
            </div>

            <!-- relationship -->
            <div class="flex justify-between items-end text-sm pt-4">
              <div class="font-medium text-app-label-4">
                {{ $t("form.relationship") }}:
              </div>
              <div class="font-bold text-sm">
                {{ data.relationship }}
              </div>
            </div>

            <!-- benefit -->
            <div class="flex justify-between items-end text-sm pt-4">
              <div class="font-medium text-app-label-4">
                {{ $t("form.benefit") }}:
              </div>
              <div class="font-bold text-sm">{{ data.benefit }}%</div>
            </div>

            <div
              class="border-b pt-4"
              v-if="index + 1 !== datas.beneficiaries.length"
            ></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
// base
import BaseNavbar from "@/components/Base/Navbar.vue";

// utils
import { reverseDate } from "@/mixins/utils";

export default {
  name: "PolicyDetail",

  components: {
    BaseNavbar
  },

  data: () => ({
    datas: null,
    activeModal: true
  }),

  methods: {
    reverseDate,
    goToWhatsapp() {
      window.open(
        "https://api.whatsapp.com/send?phone=6281230009479&text=Halo%20,%20Saya%20mau%20konsultasi%20asuransi%20di%20pedulisehat.id",
        "_blank"
      );
    },
    fetchDetail() {
      this.$showLoading();
      this.$store
        .dispatch("detail/fetchDetail", {
          policy_id: this.$route.params.policyId
        })
        .then(res => {
          this.datas = res;
        })
        .catch(e => {
          console.error(e);
        })
        .finally(() => {
          this.$hideLoading();
        });
    }
  },

  created() {
    this.fetchDetail();
  }
};
</script>
<style lang="scss" scoped>
.policy-detail {
  @apply p-3;
  min-height: calc(100vh - 56px);
  background: #fbfbfb;
  box-shadow: #ccc 0 2px 4px 0;

  .wrapper {
    box-shadow: #ccc 0px 0px 3px 0px;
    @apply bg-white;
  }
}
</style>
