<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="description" content="Semakin mudah dan cepat memiliki asuransi terpercaya untuk keluarga Indonesia">
    <!-- meta title -->
    <meta property="og:title" content="asuransi.pedulisehat.id - Platform Asuransi Kesehatan Indonesia">
    <!-- meta description -->
    <meta name="description" content="Semakin mudah dan cepat memiliki asuransi terpercaya untuk keluarga Indonesia">    
    <meta property="og:description" content="Semakin mudah dan cepat memiliki asuransi terpercaya untuk keluarga Indonesia">

    <link rel="icon" sizes="32x32" href="<%= BASE_URL %>favicon.ico">
    <link rel="icon" sizes="16x16" href="<%= BASE_URL %>favicon.ico">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
