* {
  box-sizing: border-box;
}

.fit-content {
  width: fit-content;
}

.nav-wrapper {
  @apply fixed;
  @apply top-0;
  @apply left-0;
  @apply z-40;
  @apply w-full;

  .nav {
    @apply flex;
    @apply items-center;
    @apply text-base;
    @apply px-5;
    @apply font-semibold;
    @apply h-14;

    img {
      @apply mr-4;
      @apply w-5;
      @apply h-5;
      @apply cursor-pointer;
    }
  }
}

.bg-banner-home-page {
  background-color: #e6ffe6;
}

.custom-w-20 {
  width: 20%;
}

.custom-w-16 {
  width: 16%;
}

.custom-w-28 {
  width: 28%;
}

.btn-outlined,
.btn-fill,
.btn-fill-rounded,
.btn-outlined-gray {
  @apply border;
  @apply rounded-lg;
  @apply py-2;
  @apply text-sm;
  @apply font-bold;
  @apply w-full;
  transition: 0.3s;

  &.lg {
    @apply py-3;
  }

  &.xl {
    @apply py-3;
    @apply text-base;
  }
}

.btn-not-full {
  @apply border;
  @apply rounded-md;
  @apply text-sm;
  @apply font-bold;
  transition: 0.3s;
}

.wrap-upload {
  @apply flex;
  @apply flex-col;
  @apply items-center;
  @apply justify-center;
  @apply border;
  @apply border-app-primary;
  @apply rounded-md;
  @apply cursor-pointer;
  @apply overflow-hidden;
  width: 90px;
  height: 90px;

  img.upload {
    width: 30px;
  }

  img.file {
    width: 100%;
    height: 100%;
  }

  span {
    @apply mt-1;
    @apply text-app-primary;
  }

  .loading-bar {
    display: flex;
    margin: 0 6px;
    height: 10px;
    width: 80%;
    box-shadow: inset 0px 0px 0px 1px #c8c8cd;
    border-radius: 50px;
    overflow: hidden;

    @keyframes progress-animation {
      0% {
        width: 0%;
      }
      20% {
        width: 10%;
      }
      40% {
        width: 30%;
      }
      50% {
        width: 60%;
      }
      100% {
        width: 90%;
      }
    }

    .progress-bar {
      @apply flex;
      @apply bg-app-primary;
      height: 100%;
      width: 90%;
      animation: progress-animation 3s ease-in-out;
    }
  }
}

.btn-outlined {
  @apply border-app-primary text-app-primary;
  // @apply hover:text-white;
  // @apply hover:bg-app-primary;
}

.btn-outlined-gray {
  @apply border-app-label-3 text-app-label-3;
  // @apply hover:text-white;
  // @apply hover:bg-app-primary;
}

.btn-fill,
.btn-primary {
  @apply border-0;
  @apply bg-app-primary text-white;
  @apply hover:bg-app-primary-hover;
}

.btn-fill-rounded,
.btn-primary {
  @apply border-0;
  @apply rounded-full;
  @apply bg-app-primary text-white;
  @apply hover:bg-app-primary-hover;
}

button[disabled="disabled"] {
  border-color: #e5e7eb !important;
  background-color: #e5e7eb !important;
  color: white !important;
}

.divider {
  @apply w-full h-2;
  background: #f8f8f8;
}

.input,
.input-choice,
.input-icon {
  @apply w-full;
  @apply h-11;
  @apply text-sm;
  @apply bg-app-input;
  @apply rounded-md;
}

.input {
  @apply px-3;
}

.input-choice {
  @apply px-3;
  @apply flex;
  @apply justify-between;
  @apply items-center;

  .placeholder {
    @apply text-app-placeholder;
  }

  img {
    @apply w-2;
  }
}

.input-icon {
  @apply pl-3;
  @apply pr-9;
}

input::-webkit-input-placeholder {
  /* Edge */
  @apply text-app-placeholder;
}

input:-ms-input-placeholder {
  /* Internet Explorer */
  @apply text-app-placeholder;
}

input::placeholder {
  @apply text-app-placeholder;
}

.radio-button {
  @apply w-5 h-5;
  @apply rounded-full;
  @apply border border-gray-400;
  @apply relative;

  img {
    display: none;
  }

  &.active {
    @apply border border-app-primary;

    img {
      display: block;
      @apply absolute;
      width: 67%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

.input-choice[error="true"],
input[error="true"],
.wrap-upload[error="true"] {
  @apply border;
  @apply border-red-700;
}

.wrap-iframe {
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  z-index: 99;
  background: #e5e7eb;

  &:before {
    content: "Loading...";
    font-weight: bold;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  iframe {
    margin-top: 56px;
    z-index: 999;
    position: relative;
  }
}

.why-list {
  position: relative;
  width: 100%;
  margin-bottom: 30px;
  padding: 20px 10px 15px;
  box-sizing: border-box;
  border: 1px solid rgba(253, 202, 90, 0.5);
  border-radius: 20px;

  .list-title {
    position: absolute;
    transform: translateX(-50%);
    top: -10px;
    left: 50%;
    color: #000;
    font-weight: 500;
    white-space: nowrap;
    background-color: #fff;
    padding: 0 23px;

    &::before {
      content: "";
      display: inline-block;
      width: 5px;
      height: 5px;
      background: #ffde8b;
      border-radius: 50%;
      position: absolute;
      left: 0;
      top: 7px;
    }

    &::after {
      content: "";
      display: inline-block;
      width: 5px;
      height: 5px;
      background: #ffde8b;
      border-radius: 50%;
      position: absolute;
      right: 0;
      top: 7px;
    }
  }

  .cnt {
    vertical-align: middle;
    margin-right: 108px;
    font-size: 14px;
    color: #666666;
  }

  &.list-1 {
    &::after {
      content: "";
      width: 81px;
      height: 65px;
      position: absolute;
      right: 14px;
      bottom: 4px;
      background: url(../img/asuransi/siji/list-1.png) no-repeat;
      background-size: 81px 65px;
    }
  }

  &.list-2 {
    .cnt {
      margin-left: 108px;
      margin-right: 0;
    }

    &::after {
      content: "";
      width: 90px;
      height: 75px;
      position: absolute;
      left: 8px;
      bottom: 4px;
      background: url(../img/asuransi/siji/list-2.png) no-repeat;
      background-size: 90px 75px;
    }
  }

  &.list-3 {
    margin-bottom: 15px;

    &::after {
      content: "";
      width: 95px;
      height: 84px;
      position: absolute;
      right: 14px;
      bottom: 0;
      background: url(../img/asuransi/siji/list-3.png) no-repeat;
      background-size: 95px 84px;
    }
  }
}

.sinarmas-small {
  display: inline-block;
  vertical-align: text-top;
  width: 13px;
  height: 13px;
  border-radius: 2px;
  background: url(../img/asuransi/siji/sinarmas.png) no-repeat;
  background-size: 13px;
}

.location-list-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3000;
  height: 100vh;
  width: 100%;

  .mask {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3000;
    height: 100vh;
    width: 100%;
    background-color: #000;
    opacity: 0.8;
  }

  .province {
    border-radius: 6px 6px 0 0;
    position: fixed;
    z-index: 3001;

    bottom: 0;
    width: 100%;
    height: 394px;
    background-color: #fff;
    // position: relative;
    .close {
      position: absolute;
      right: 14px;
      top: 20px;
      background: url(../img/asuransi/siji/close.png) no-repeat;
      width: 12px;
      height: 12px;
      background-size: contain;
    }
    .province-title {
      padding: 20px 16px 10px;
      font-size: 16px;
      font-weight: bold;
    }

    .region-choose-wrap {
      // padding: 4px 0 20px 0;
      // padding-bottom: 14px;
      border-bottom: 1px solid #ccc;

      .region-choose-left {
        margin-left: 12px;
        margin-right: 8px;
        &.left-1 {
          display: inline-block;
          vertical-align: middle;

          width: 7px;
          height: 7px;
          background: url(../img/asuransi/siji/1-level.png) no-repeat;
          background-size: contain;
        }
        &.left-2 {
          display: inline-block;
          vertical-align: middle;
          width: 7px;
          height: 50px;
          background: url(../img/asuransi/siji/2-level.png) no-repeat;
          background-size: contain;
        }
      }

      .region-choose {
        display: inline-block;
        vertical-align: middle;

        width: 90%;
        // padding: 4px 0 20px 8px;

        .region-title {
          font-size: 14px;
          padding: 12px 0;
        }

        span {
          margin-right: 40px;
          display: block;

          &.choosed {
            display: block;
            font-weight: bold;
            // padding: 10px 0;
            color: #43ac43;
            // border-bottom: 3px solid #43ac43;
          }
        }
      }
    }

    .province-list {
      .region-items {
        height: 300px;
        overflow: auto;

        .list-items {
          cursor: pointer;
          padding: 11px 16px;
          font-size: 14px;

          &::after {
            display: block;
            content: "";
            clear: both;
          }

          p {
            float: left;
            width: 85%;
          }

          &.choosed-region {
            font-weight: bold;
            color: #43ac43;
          }
        }
      }
    }
  }
}
.toggle-checkbox:checked {
  @apply right-0 border-green-400;
  right: 0;
  border-color: #68d391;
}
.toggle-checkbox:checked + .toggle-label {
  @apply bg-app-primary;
  background-color: #43ac43;
}

.paymentPopup-wrapper {
  position: fixed;
  z-index: 3000;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;

  .mask {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3000;
    height: 100vh;
    width: 100%;
    background-color: #000;
    opacity: 0.8;
  }

  .content {
    position: fixed;
    z-index: 3001;
    bottom: 0;
    background: #fff;
    width: 100%;
    border-radius: 20px 20px 0 0;
    padding: 16px 16px 10px;
    box-sizing: border-box;
    max-width: 620px;
    transform: translateX(-50%);
    left: 50%;

    .close {
      position: absolute;
      top: 15px;
      right: 16px;
      width: 12px;
      height: 12px;
      background: url(../img/asuransi/siji/close.png) no-repeat;
      background-size: 12px;
    }
  }
}
