<template>
  <div id="wrapper">
    <div class="page-wrapper">
      <div :class="showNavbar()">
        <div class="wrapper">
          <router-view></router-view>
        </div>
      </div>

      <!-- base notification/toast -->
      <base-notification />
      <base-loading />
    </div>
  </div>
</template>

<script>
import { browserVersion } from "@/mixins/utils";

export default {
  name: "Wrapper",
  watch: {
    $route: {
      immediate: true,
      handler(to) {
        // always hide loading when change route
        this.$hideLoading();

        window.scrollTo(0, 0);
        document.title =
          to.meta.title ||
          "pedulisehat.id - Platform Donasi Kesehatan no. 1 Indonesia ";
      }
    }
  },
  methods: {
    showNavbar() {
      return !browserVersion().android ? "page-inner" : "";
    }
  }
};
</script>
<style lang="scss">
.page-wrapper {
  @apply relative;
  @apply min-h-screen;
  @apply m-auto;
  @apply bg-white;
  @apply max-w-screen-sm;

  .page-inner {
    @apply pt-14;
  }

  .wrapper {
    @apply w-full;
  }
}
</style>
