<template>
  <div class="base-form-group">
    <div class="relative">
      <slot />
    </div>
    <div v-if="hasErrors" class="mt-1 overflow-hidden">
      <div
        v-for="(error, errorIndex) in activeErrorMessages"
        :key="errorIndex"
        class="text-red-700 text-xs pl-1"
      >
        {{ error }}
      </div>
    </div>
  </div>
</template>

<script>
import { singleErrorExtractorMixin } from "vuelidate-error-extractor";

export default {
  name: "FormGroup",
  mixins: [singleErrorExtractorMixin]
};
</script>
