<template>
  <div class="modal">
    <!-- overlay -->
    <div class="overlay"></div>

    <div class="content">
      <!-- icon close -->
      <div class="close" @click="close"></div>

      <div class="content-inner" :class="noMaxHeight ? 'no-max-height' : ''">
        <!-- title -->
        <p class="title" v-if="title" :class="titleCenter ? 'text-center' : ''">
          {{ title }}
        </p>

        <!-- slot content -->
        <slot></slot>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: "Modal",

  props: {
    title: {
      type: String,
      default: ""
    },
    titleCenter: {
      type: Boolean,
      default: false
    },
    noMaxHeight: {
      type: Boolean,
      default: false
    }
  },

  methods: {
    close() {
      this.$emit("close");
    }
  }
};
</script>
<style lang="scss" scoped>
.modal {
  @apply block;
  @apply fixed;
  @apply top-0 left-0;
  @apply z-40;
  @apply h-screen;
  @apply w-full;

  .overlay {
    @apply absolute;
    @apply top-0 left-0;
    @apply z-40;
    @apply h-screen;
    @apply w-full;
    @apply bg-black;
    @apply opacity-80;
  }

  .content {
    @apply absolute;
    @apply bg-white;
    @apply m-auto;
    @apply left-1/2;
    @apply z-50;
    @apply rounded-md;
    @apply top-1/2;
    @apply left-1/2;
    width: 90%;
    @apply md:w-96;
    transform: translate(-50%, -50%);

    .close {
      @apply inline-block;
      @apply cursor-pointer;
      @apply z-50;
      @apply absolute;
      @apply right-0;
      background: url(../../assets/img/general/icon-close-modal.svg) no-repeat;
      @apply bg-contain;
      width: 30px;
      height: 60px;
      top: -58px;
    }

    .content-inner {
      @apply overflow-auto;
      @apply pt-5;
      max-height: 380px;

      &.no-max-height {
        max-height: none;
      }

      .title {
        @apply px-4;
        @apply pb-4;
        @apply text-xl;
        @apply font-bold;
      }
    }
  }
}
</style>
