<template>
  <div class="nav-wrapper" v-if="showNavbar()">
    <div
      class="nav"
      :class="color || 'bg-white text-black border-b border-app-border'"
    >
      <img
        v-if="color"
        :src="
          icon === 'white'
            ? require('@/assets/img/general/icon-back-white.svg')
            : require('@/assets/img/general/icon-back-black.svg')
        "
        alt="icon back"
        @click="goBack()"
      />
      <img
        v-else
        src="@/assets/img/general/icon-back-black.svg"
        alt="icon back"
        @click="goBack()"
      />
      <span>{{ title }}</span>
    </div>
  </div>
</template>
<script>
import { browserVersion } from "@/mixins/utils";

export default {
  name: "Navbar",

  props: {
    title: {
      type: String,
      default: ""
    },
    color: {
      type: String,
      default: ""
    },
    route: {
      type: String,
      default: ""
    },
    icon: {
      type: String,
      default: "white"
    }
  },

  methods: {
    goBack() {
      if (this.route !== "") {
        location.href = this.route;
      } else {
        this.$router.go(-1);
      }
    },
    showNavbar() {
      return !browserVersion().android ? true : false;
    }
  }
};
</script>
