<template>
  <div class="toast" v-if="showNotification">
    <div class="toast-dialog">
      <div class="toast-content">
        <span> {{ message }} </span>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
export default {
  name: "BaseNotification",

  computed: {
    ...mapGetters({
      message: "general/message",
      showNotification: "general/showNotification"
    })
  },

  watch: {
    showNotification(val) {
      if (val) {
        this.show();
      }
    }
  },

  methods: {
    show() {
      let self = this;
      setTimeout(function() {
        self.$store.dispatch("general/refreshNotification");
      }, 2000);
    }
  }
};
</script>

<style lang="scss">
.toast {
  @apply w-screen;
  @apply h-screen;
  @apply fixed;
  @apply flex;
  @apply justify-center;
  @apply items-center;
  @apply z-50;
  @apply top-0;
  @apply left-0;

  .toast-dialog {
    @apply text-white;
    @apply font-medium;
    @apply rounded-lg;
    @apply px-4;
    @apply py-2;
    max-width: 90%;
    background: rgba(40, 40, 40, 0.75);
  }
}
</style>
