<template>
  <div>
    <div class="payment-list">
      <div
        class="items"
        :class="choosed === data.bank_code ? 'bg-app-secondary' : ''"
        v-for="(data, index) in datas"
        :key="index"
        @click="choosedItems(data)"
      >
        <img :src="JSON.parse(data.image).image" alt="gopay logo" />
        <p
          class="pl-3"
          :class="
            choosed === data.bank_code ? 'font-bold text-app-primary' : ''
          "
        >
          {{ data.channel_name }}
        </p>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: "PaymentList",

  props: {
    datas: {
      type: Array,
      default: function() {
        return [];
      },
      required: true
    },
    choosed: {
      type: String,
      default: ""
    }
  },

  methods: {
    choosedItems(val) {
      this.$emit("choosedItems", val);
    }
  }
};
</script>
<style lang="scss" scoped>
.payment-list {
  @apply overflow-auto;
  @apply max-h-64;

  .items {
    @apply px-4;
    @apply text-base;
    @apply h-12;
    @apply flex;
    @apply items-center;
    @apply cursor-pointer;
    @apply hover:bg-app-secondary;
    border-bottom: 1px solid #eee;

    img {
      max-width: 55px;
    }

    &:last-child {
      @apply border-b-0;
    }
  }
}
</style>
