<template>
  <div class="share-social p-4">
    <div class="flex justify-center mb-5">
      <div class="flex flex-col items-center w-1/3">
        <ShareNetwork
          network="facebook"
          :url="`${url}_1`"
          :title="message"
          :description="message"
          :quote="message"
        >
          <img
            src="@/assets/img/general/facebook.svg"
            class="w-14 mb-2 cursor-pointer"
            alt="facebook"
            @click="socialShareCount(1)"
          />
        </ShareNetwork>

        <span>Facebook</span>
      </div>
      <div class="flex flex-col items-center w-1/3">
        <ShareNetwork network="whatsapp" :url="`${url}_2`" :title="message">
          <img
            src="@/assets/img/general/whatsapp.svg"
            class="w-14 mb-2 cursor-pointer"
            alt="whatsapp"
            @click="socialShareCount(2)"
          />
        </ShareNetwork>
        <span>Whatsapp</span>
      </div>
      <div class="flex flex-col items-center w-1/3">
        <ShareNetwork network="line" :url="`${url}_5`" :title="message">
          <img
            src="@/assets/img/general/line.svg"
            class="w-14 mb-2 cursor-pointer"
            alt="line"
            @click="socialShareCount(5)"
          />
        </ShareNetwork>
        <span>Line</span>
      </div>
    </div>
    <div class="flex justify-center">
      <div class="flex flex-col items-center w-1/3">
        <ShareNetwork
          network="twitter"
          :url="`${url}_3`"
          :title="message"
          :description="message"
          :quote="message"
        >
          <img
            src="@/assets/img/general/twitter.svg"
            class="w-14 mb-2 cursor-pointer"
            alt="twitter"
          />
        </ShareNetwork>
        <span>Twitter</span>
      </div>
      <div class="flex flex-col items-center w-1/3">
        <img
          src="@/assets/img/general/linkedin.svg"
          class="w-14 mb-2 cursor-pointer"
          alt="linkedin"
          @click="linkedinShare()"
        />
        <span>Linkedin</span>
      </div>
      <div class="flex flex-col items-center w-1/3">
        <ShareNetwork network="telegram" :url="`${url}_9`" :title="message">
          <img
            src="@/assets/img/general/telegram.svg"
            class="w-14 mb-2 cursor-pointer"
            alt="telegram"
            @click="socialShareCount(9)"
          />
        </ShareNetwork>
        <span>Telegram</span>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: "ShareSocial",

  data: () => ({
    message: "",
    url: ""
  }),

  methods: {
    getMsgSocialShare() {
      let payload = {
        item_id: "999999998",
        item_short_link: "",
        item_type: 4,
        remark: ""
      };
      this.$store
        .dispatch("general/socialShare", payload)
        .then(res => {
          this.message = res.forwarding_desc["1"];
          this.url = res.url;
        })
        .catch(e => {
          console.error(e);
        });
    },
    socialShareCount(targetType) {
      let payload = {
        item_id: "999999998",
        item_type: 4,
        scene: 1,
        target_type: targetType
      };
      this.$store
        .dispatch("general/socialShareCount", payload)
        .then(() => {})
        .catch(e => {
          console.error(e);
        });
    },
    linkedinShare() {
      this.socialShareCount(8);
      window.open(
        `https://www.linkedin.com/sharing/share-offsite/?url=${this.url}_8`,
        "_blank"
      );
    }
  },

  created() {
    this.getMsgSocialShare();
  }
};
</script>
<style lang="scss" scoped>
.share-social {
  @apply overflow-auto;
  @apply max-h-64;
}
</style>
