<template>
  <div class="claim-proccess">
    <!-- segment wrapper -->
    <div class="segment-wrapper">
      <!-- segment 1 -->
      <div class="segment-1">
        <div class="subtitle">Syarat dan Ketentuan Klaim :</div>
        <div class="processes">
          <p class="procs">
            <span class="number">1</span>
            <span>
              Pengajuan klaim hanya bisa dilakukan setelah melewati Masa Tunggu
              30 hari
            </span>
          </p>

          <p class="procs">
            <span class="number">2</span>
            <span>
              Untuk kasus Tertanggung meninggal dunia, pengajuan klaim paling
              lama 90 hari sejak Tertanggung meninggal atau akhir masa asuransi
            </span>
          </p>

          <p class="procs">
            <span class="number">3</span>
            <span>
              Proses pengajuan klaim dapat dilakukan dengan menghubungi
              <strong>Customer Service PT Asuransi Simas Jiwa</strong> :
            </span>
            <br />
            <span>• WhatsApp Chat: 0882-1245-7999</span><br />
            <span>• Telepon: (021) - 2854 7999</span><br />
            <span>• Email: cs@simasjiwa.co.id</span>
          </p>
          <p class="procs">
            <span class="number">4</span>
            <span>
              Dokumen yang perlu disiapkan:
            </span>
            <br />
            <span>• Polis (asli);</span><br />
            <span
              >• Fotokopi bukti identitas diri Pemegang Polis yang masih
              berlaku; dan</span
            ><br />
            <span>• Formulir pengajuan Manfaat Asuransi dari Penanggung.</span>
          </p>

          <p class="procs">
            <span class="number">5</span>
            <span>
              <strong dir="ltr">Jika Tertanggung masih hidup:</strong>
            </span>
            <br />
            <span>• Polis (asli);</span><br />
            <span
              >• Surat keterangan meninggal dunia dari Instansi Pemerintah yang
              berwenang;</span
            ><br />
            <span
              >• Surat keterangan sebab-sebab meninggal dunia dari dokter
              (apabila diperlukan);</span
            >
            <span
              >• Surat keterangan dari Kepolisian dalam hal meninggal dunia
              tidak wajar atau karena kecelakaan;</span
            >
            <span>• Hasil visum et repertum (bila diperlukan);</span>
            <span
              >• Surat keterangan dari Kedutaan Besar Republik Indonesia (KBRI)
              setempat dalam hal meninggal dunianya di luar negeri;</span
            >
          </p>

          <p class="procs">
            <span class="number">6</span>
            <span>
              <strong dir="ltr"
                >Jika Tertanggung meninggal dunia, perlu menambahkan beberapa
                dokumen selain yang sudah dijabarkan di no 5:</strong
              >
            </span>
            <br />
            <span
              >• Fotokopi bukti identitas diri dari Peserta dan pihak yang
              ditunjuk yang masih berlaku, berupa:</span
            ><br />
            <span>- Kartu Keluarga.</span><br />
            <span>- E-KTP/Paspor/Akte Lahir.</span><br />
            <span
              >• Dokumen lainnya yang berhubungan dengan dokumen tersebut di
              atas.</span
            >
          </p>
        </div>
      </div>
      <!-- end segment 1 -->
    </div>
    <!-- end segment wrapper -->
  </div>
</template>
<script>
export default {
  name: "ClaimProccess",
  data: () => ({
    datas: null
  })
};
</script>
<style lang="scss" scoped>
.claim-proccess {
  .segment-wrapper {
    @apply px-5 pt-3 pb-5;

    .segment-1 {
      .title {
        @apply font-semibold;
        @apply text-lg;
      }
      .subtitle {
        @apply font-medium;
      }
      .processes {
        @apply ml-2;
        @apply mt-3;
        @apply relative;
        @apply text-app-label-2;

        &::before {
          content: "";
          @apply pr-3;
          @apply absolute;
          @apply left-0;
          @apply top-1.5;
          @apply inline-block;
          @apply border-l;
          @apply border-app-primary;
          height: 78%;
        }

        .procs {
          @apply relative;
          @apply pl-6;
          @apply pb-5;

          .number {
            @apply rounded-full;
            @apply text-white;
            @apply text-center;
            @apply font-bold;
            @apply text-xs;
            @apply leading-5;
            @apply inline-block;
            @apply w-5 h-5;
            @apply absolute;
            left: -9px;
            top: 2px;
            background: linear-gradient(
              45deg,
              rgba(0, 149, 0, 1) 0%,
              rgba(81, 219, 0, 1) 50%
            );
          }
        }
      }
    }

    .segment-2 {
      .title {
        @apply mt-2;
        @apply font-semibold;
        @apply text-lg;
      }
      .rows {
        @apply mt-4;
        @apply grid;
        @apply grid-cols-2;
        @apply gap-3;

        button {
          @apply px-5;
          @apply text-left;
        }
      }
    }
  }
}
</style>
