<template>
  <!-- modal alamat -->
  <div class="location-list-wrapper">
    <div class="mask"></div>
    <div class="province first-region">
      <span @click="close" class="close"></span>
      <p class="province-title first-region-title">
        {{ province ? "Kota" : "Provinsi" }}
      </p>

      <div class="region-choose-wrap">
        <div
          :class="
            province ? 'region-choose-left left-2' : 'region-choose-left left-1'
          "
        ></div>
        <div class="region-choose">
          <span
            @click="clickProvince(null)"
            :class="
              province ? 'region-title level-1' : 'region-title level-1 choosed'
            "
            >{{ province ? province : "Provinsi" }}</span
          >
          <span
            @click="clickCity(null)"
            v-show="province"
            :class="
              city ? 'region-title level-2' : 'region-title level-2 choosed'
            "
            >{{ city ? city : "Kota" }}</span
          >
        </div>
      </div>

      <div class="province-list first-region-list">
        <div class="region-items">
          <div
            v-show="!province"
            v-for="data in listProvince"
            v-bind:key="data.id"
            class="list-items"
            @click="clickProvince(data)"
          >
            <p>{{ data.name }}</p>
          </div>

          <div
            v-show="province"
            v-for="data in listCity"
            v-bind:key="data.id"
            class="list-items"
            @click="clickCity(data)"
          >
            <p>{{ data.name }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import { orderBy } from "lodash";

export default {
  name: "ModalLocation",
  data() {
    return {
      province: null,
      city: null,
      listProvince: [],
      listCity: []
    };
  },

  methods: {
    getListProvince() {
      this.$store
        .dispatch("sijiPolicy/fetchListProvince")
        .then(res => {
          this.listProvince = orderBy(res, "name", "asc");
        })
        .catch(e => {
          console.error(e);
        })
        .finally(() => {
          this.$hideLoading();
        });
    },

    getListCity(cid) {
      this.$store
        .dispatch("sijiPolicy/fetchListCity", {
          cid
        })
        .then(res => {
          this.listCity = orderBy(res, "name", "asc");
        })
        .catch(e => {
          console.error(e);
        })
        .finally(() => {
          this.$hideLoading();
        });
    },

    clickProvince(data) {
      if (data) {
        this.getListCity(data.cid);
        this.province = data.name;
      } else {
        this.province = null;
        this.city = null;
      }
    },

    clickCity(data) {
      if (data) {
        this.modalLocation = false;
        this.city = data.name;
        this.$emit("choosedLocation", {
          province: this.province,
          city: this.city
        });
        this.close();
      } else {
        this.city = null;
      }
    },

    close() {
      this.$emit("close");
    }
  },

  created() {
    this.getListProvince();
  }
};
</script>
<style lang="scss" scoped>
.policy-summary-display {
  .field-name {
    width: 110px;
  }
}
</style>
