<template>
  <div>Child</div>
</template>
<script>
export default {
  name: "Child",
  props: {
    msg: String
  },
  data() {
    return {
      isLoggedIn: false
    };
  }
};
</script>
<style>
/*  */
</style>
