<template>
  <div>
    <Nav></Nav>
    <Parent></Parent>

    <div
      v-for="todo in todos"
      :key="todo.id"
      data-test="todo"
      class="flex items-center mb-4"
      :class="[todo.completed ? 'completed' : '']"
    >
      <p class="mr-3">
        {{ todo.text }}
      </p>
      <input
        type="checkbox"
        v-model="todo.completed"
        data-test="todo-checkbox"
      />
    </div>

    <form @submit.prevent="createTodo" data-test="form-todo">
      <input
        class="border"
        type="text"
        v-model="inputTodo"
        data-test="new-todo"
      />
    </form>
  </div>
</template>
<script>
import Nav from "./Nav.vue";
import Parent from "./Parent.vue";

export default {
  name: "TodoApp",
  components: {
    Nav,
    Parent
  },
  data() {
    return {
      inputTodo: "",
      todos: [
        {
          id: 1,
          text: "Learn Vue Testing",
          completed: false
        }
      ]
    };
  },
  methods: {
    createTodo() {
      this.todos.push({
        id: this.todos.length + 1,
        text: this.inputTodo,
        completed: false
      });

      this.inputTodo = "";
    }
  }
};
</script>
<style>
.completed {
  @apply line-through;
  @apply text-green-500;
}
</style>
