<template>
  <div class="wrap-beneficiary-data">
    <base-navbar title="Isi Data untuk Polis" />

    <div class="text-center px-5">
      <div class="font-bold text-app-title pt-5 pb-4 text-lg">
        Data Penerima Manfaat
      </div>

      <div class="text-sm">
        Setiap Tertanggung dapat memiliki maksimal lima Penerima Manfaat untuk
        menerima kompensasi. Total Benefit % dari semua Penerima Manfaat untuk
        setiap Tertanggung maks 100%.
      </div>

      <!-- step introducer components -->
      <div class="py-4">
        <step-introducer :datas="stepData" :active="3" />
      </div>
      <!-- end step introducer components -->
    </div>

    <div class="divider"></div>

    <div v-if="renderComponent">
      <div v-for="(data, index) in form" :key="index">
        <div class="px-5">
          <div class="wrap-input pb-5">
            <div>
              <!-- children tertanggung -->
              <div
                v-for="(ahliwaris, subIndex) in data.beneficiaries"
                :key="subIndex"
              >
                <div class="flex justify-between items-center mt-2">
                  <div class="font-bold my-4">
                    NO. {{ subIndex + 1 }} Penerima Manfaat
                  </div>
                  <img
                    class="h-6"
                    src="@/assets/img/general/icon-trash.png"
                    @click="deleteBeneficary(index, subIndex)"
                  />
                </div>

                <!-- full name -->
                <form-group
                  label="Nama Lengkap"
                  :validator="
                    $v.form.$each.$iter[index].beneficiaries.$each.$iter[
                      subIndex
                    ].full_name
                  "
                >
                  <input
                    type="text"
                    class="input"
                    v-model="ahliwaris.full_name"
                    placeholder="Nama Lengkap"
                    :error="
                      $v.form.$each.$iter[index].beneficiaries.$each.$iter[
                        subIndex
                      ].full_name.$error
                    "
                  />
                </form-group>

                <!-- Jenis Kelamin -->
                <form-group
                  label="Jenis Kelamin"
                  :validator="
                    $v.form.$each.$iter[index].beneficiaries.$each.$iter[
                      subIndex
                    ].gender
                  "
                >
                  <div
                    class="input-choice mt-4"
                    :error="
                      $v.form.$each.$iter[index].beneficiaries.$each.$iter[
                        subIndex
                      ].gender.$error
                    "
                  >
                    <span class="placeholder">
                      Jenis Kelamin
                    </span>

                    <div class="flex w-1/2 justify-center items-center">
                      <div
                        class="w-1/2 flex items-center cursor-pointer"
                        @click="clickRadioGender(1, index, subIndex)"
                      >
                        <div
                          class="radio-button"
                          :class="ahliwaris.gender === 1 ? 'active' : ''"
                        >
                          <img
                            src="@/assets/img/general/icon-checklist-radio.svg"
                            alt="icon checklist radio"
                          />
                        </div>
                        <span class="ml-3 font-bold text-sm">Pria</span>
                      </div>
                      <div
                        class="w-1/2 flex items-center cursor-pointer"
                        @click="clickRadioGender(2, index, subIndex)"
                      >
                        <div
                          class="radio-button"
                          :class="ahliwaris.gender === 2 ? 'active' : ''"
                        >
                          <img
                            src="@/assets/img/general/icon-checklist-radio.svg"
                            alt="icon checklist radio"
                          />
                        </div>
                        <span class="ml-3 font-bold text-sm">Wanita</span>
                      </div>
                    </div>
                  </div>
                </form-group>

                <!-- relationship -->
                <form-group
                  label="Silahkan pilih jenis hubungan"
                  :validator="
                    $v.form.$each.$iter[index].beneficiaries.$each.$iter[
                      subIndex
                    ].relationship
                  "
                >
                  <div
                    class="input-choice mt-4"
                    @click="showModal(index, subIndex, ahliwaris.relationship)"
                    :error="
                      $v.form.$each.$iter[index].beneficiaries.$each.$iter[
                        subIndex
                      ].relationship.$error
                    "
                  >
                    <span class="text-app-label" v-if="ahliwaris.relationship">
                      {{ RelationItemsData[ahliwaris.relationship - 1] }}
                    </span>
                    <span class="placeholder" v-else>
                      Silahkan pilih jenis hubungan
                    </span>
                    <img
                      src="@/assets/img/general/icon-chevron-right.svg"
                      alt="icon right"
                    />
                  </div>
                </form-group>

                <!-- tanggal lahir -->
                <div class="text-sm py-3">Tanggal Lahir</div>

                <div class="flex">
                  <!-- hari -->
                  <div class="w-1/3 mr-2">
                    <form-group
                      label="Tanggal"
                      :validator="
                        $v.form.$each.$iter[index].beneficiaries.$each.$iter[
                          subIndex
                        ].hari
                      "
                    >
                      <input
                        type="text"
                        v-model="ahliwaris.hari"
                        class="input"
                        placeholder="HH"
                        :error="
                          $v.form.$each.$iter[index].beneficiaries.$each.$iter[
                            subIndex
                          ].hari.$error
                        "
                      />
                    </form-group>
                  </div>
                  <!-- bulan -->
                  <div class="w-1/3 mr-2">
                    <form-group
                      label="Bulan"
                      :validator="
                        $v.form.$each.$iter[index].beneficiaries.$each.$iter[
                          subIndex
                        ].bulan
                      "
                    >
                      <input
                        type="text"
                        v-model="ahliwaris.bulan"
                        class="input"
                        placeholder="BB"
                        :error="
                          $v.form.$each.$iter[index].beneficiaries.$each.$iter[
                            subIndex
                          ].bulan.$error
                        "
                      />
                    </form-group>
                  </div>
                  <!-- tahun -->
                  <div class="w-1/3">
                    <form-group
                      label="Tahun"
                      :validator="
                        $v.form.$each.$iter[index].beneficiaries.$each.$iter[
                          subIndex
                        ].tahun
                      "
                    >
                      <input
                        type="text"
                        v-model="ahliwaris.tahun"
                        class="input"
                        placeholder="TTTT"
                        :error="
                          $v.form.$each.$iter[index].beneficiaries.$each.$iter[
                            subIndex
                          ].tahun.$error
                        "
                      />
                    </form-group>
                  </div>
                </div>

                <!-- benefit -->
                <form-group
                  v-if="data.beneficiaries.length === 1"
                  label="Manfaat Asuransi"
                >
                  <div class="wrap-input-icon relative mt-4">
                    <span class="pr-3 font-bold text-app-placeholder">%</span>
                    <input
                      type="text"
                      class="input-icon"
                      v-model="ahliwaris.benefit"
                      placeholder="Manfaat Asuransi"
                    />
                  </div>
                </form-group>

                <form-group
                  v-else
                  label="Manfaat Asuransi"
                  :validator="
                    $v.form.$each.$iter[index].beneficiaries.$each.$iter[
                      subIndex
                    ].benefit
                  "
                >
                  <div class="wrap-input-icon relative mt-4">
                    <span class="pr-3 font-bold text-app-placeholder">%</span>
                    <input
                      type="text"
                      class="input-icon"
                      v-model="ahliwaris.benefit"
                      placeholder="Manfaat Asuransi"
                      :error="
                        $v.form.$each.$iter[index].beneficiaries.$each.$iter[
                          subIndex
                        ].benefit.$error
                      "
                    />
                  </div>
                </form-group>
              </div>
              <!-- end benefit -->

              <!-- add beneficary  -->
              <div class="wrap-add-data">
                <div class="add-data" @click="addBeneficary(index)">
                  <img
                    src="@/assets/img/asuransi/pedulicare/icon-person-add.svg"
                    alt="icon person add"
                  />
                  <span>Tambah Penerima Manfaat Lain</span>
                </div>
              </div>
              <div class="text-sm text-app-label-2 text-center">
                Maks 5 Orang
              </div>
            </div>
          </div>
        </div>

        <div
          class="divider"
          v-if="form.length > 1 && index < form.length - 1"
        ></div>
      </div>
    </div>

    <div class="flex mb-10 px-6">
      <div class="w-4">
        <div
          class="radio-button cursor-pointer"
          :class="{ active: terms }"
          @click="terms = !terms"
        >
          <img
            src="@/assets/img/general/icon-checklist-radio.svg"
            alt="icon checklist radio"
          />
        </div>
      </div>
      <span class="ml-4 text-sm text-app-placeholder">
        Silakan baca dan centang untuk setuju dengan
        <span class="text-app-blue-terms" @click="getRiplayPersonal"
          >RIPLAY Personal</span
        >
      </span>
    </div>

    <div class="divider"></div>

    <div class="py-3 px-5">
      <button class="btn-fill mr-2 sm:mr-3 xl" @click="next">
        Kumpulkan
      </button>
    </div>

    <!-- modal -->
    <modal title="Orang ini adalah" v-if="activeModal" @close="closeModal">
      <div>
        <relation-items
          :isBeneficiary="true"
          :gender="tempGender"
          :datas="RelationItemsData"
          :choosed="choosedModal"
          @choosedItems="choosedItems"
        />
      </div>
    </modal>

    <!-- benefit percentage -->
    <modal
      title="Konfirmasi"
      v-if="confirmationModal"
      @close="confirmationModal = false"
    >
      <div class="p-4">
        <p class="text-app-title text-lg text-center">
          Manfaat % untuk <strong>{{ ahliwaris }}</strong> akan menjadi 100%,
          konfirmasi?
        </p>
        <div class="grid grid-cols-2 gap-2 mt-5">
          <button class="btn-outlined xl" @click="confirmationModal = false">
            Tidak
          </button>
          <button class="btn-fill xl" @click="automationBenefit">
            Ya
          </button>
        </div>
      </div>
    </modal>

    <!-- payment popup -->
    <div class="paymentPopup-wrapper" v-show="modalPayment">
      <div class="paymentPopup">
        <div class="mask"></div>
        <div class="content">
          <div class="close" @click="modalPayment = false"></div>
          <p class="text-app-title text-md text-center">Jumlah Total</p>
          <p class="font-bold text-app-title mt-3 text-3xl text-center">
            Rp {{ amountFormat(payment.sum_product_amount) }}
          </p>
          <p class="font-bold text-app-title mt-3 text-md">Detail</p>
          <div class="grid grid-cols-2 mt-2">
            <p class="text-app-title text-md">Premi:</p>
            <p class="text-app-title text-md text-right">
              Rp {{ amountFormat(payment.premi_fee) }}
            </p>
          </div>
          <div class="grid grid-cols-2 mt-1">
            <p class="text-app-title text-md">Biaya Cetak Polis:</p>
            <p class="text-app-title text-md text-right">
              Rp {{ amountFormat(payment.printing_fee) }}
            </p>
          </div>
          <div class="grid grid-cols-2 mt-1">
            <p class="text-app-title text-md">Biaya Admin:</p>
            <p class="text-app-title text-md text-right">
              Rp {{ amountFormat(payment.admin_fee) }}
            </p>
          </div>
          <div class="grid grid-cols-2 mt-1">
            <p class="text-app-title text-md">Biaya Saluran Pembayaran:</p>
            <p class="text-app-title text-md text-right">
              Rp {{ amountFormat(payment.other_fee) }}
            </p>
          </div>
          <button class="btn-fill mt-5 xl" @click="makePayment">
            Bayar
          </button>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
// plugins
import { map, split } from "lodash";
// utils
import { getAge, isValidDate, amountFormat } from "@/mixins/utils";

// vuelidate
import {
  required,
  minLength,
  maxLength,
  numeric,
  between,
  maxValue
} from "vuelidate/lib/validators";

// base
import BaseNavbar from "@/components/Base/Navbar.vue";
import StepIntroducer from "@/components/Base/StepIntroducer.vue";
import Modal from "@/components/Base/Modal.vue";
import FormGroup from "@/components/Base/FormGroup.vue";

// components
import RelationItems from "@/components/Asuransi/Pedulicare/RelationItems.vue";

export default {
  name: "SijiBeneficiaryDataForm",

  components: {
    BaseNavbar,
    StepIntroducer,
    Modal,
    FormGroup,
    RelationItems
  },

  data: () => ({
    stepData: [
      "Data Pemegang Polis",
      "Data Tertanggung",
      "Data Penerima Manfaat"
    ],
    RelationItemsData: [
      "Saya Sendiri",
      "Suami",
      "Istri",
      "Ayah",
      "Ibu",
      "Anak",
      "Adik-Kakak Kandung"
    ],
    activeModal: false,
    confirmationModal: false,
    choosedModal: "",
    targetModal: {},
    form: null,
    tempGender: null,
    terms: false,
    isLoading: false,
    renderComponent: true,
    modalPayment: false,
    payment: {
      order_no: "",
      admin_fee: 0,
      printing_fee: 0,
      sum_product_amount: 0,
      premi_fee: 0,
      other_fee: amountFormat(0)
    },
    ahliwaris: null
  }),

  validations: {
    form: {
      $each: {
        beneficiaries: {
          required,
          minLength: minLength(1),
          $each: {
            full_name: {
              required
            },
            gender: {
              required
            },
            hari: {
              required,
              numeric,
              minLength: minLength(2),
              maxLength: maxLength(2),
              between: between(1, 31)
            },
            bulan: {
              required,
              numeric,
              minLength: minLength(2),
              maxLength: maxLength(2),
              between: between(1, 12)
            },
            tahun: {
              required,
              numeric,
              minLength: minLength(4),
              maxLength: maxLength(4)
            },
            relationship: {
              required
            },
            benefit: {
              required,
              numeric,
              maxValue: maxValue(100)
            }
          }
        }
      }
    }
  },

  mounted() {
    if (this.form[0].beneficiaries[0].full_name === "") {
      map(this.form, (item, index) => {
        this.form[index].beneficiaries.length = 1;
      });

      this.forceRerender();
    }
  },

  methods: {
    amountFormat,
    initData() {
      this.form = this.$store.getters["sijiPolicy/policyBeneficiary"];
      const policyId = this.$route.params.policyId;
      const popupPayment = this.$route.params.popupPayment;
      if (policyId) {
        if (popupPayment) {
          this.$showLoading();
          this.$store
            .dispatch("sijiPolicy/getInsured", { policyId })
            .then(res => {
              this.$store.commit("sijiPolicy/SET_POLICY_ID", policyId);
              this.$store.commit("sijiPolicy/SET_P_INS_ID", res.p_ins_id);
              this.getBenefeciary(policyId, popupPayment);
            })
            .catch(e => {
              console.error(e);
            })
            .finally(() => {
              this.$hideLoading();
            });
        }
      }

      this.isLoading = true;
    },

    getBenefeciary(policyId, popupPayment) {
      this.$showLoading();
      this.$store
        .dispatch("sijiPolicy/getBeneficiary", { policyId })
        .then(res => {
          if (res.beneficiaries) {
            this.form = [res];
            map(this.form, item => {
              map(item.beneficiaries, subItem => {
                subItem.relationship = subItem.relationship_raw;
                subItem.tahun = split(subItem.birth_date, "-")[0];
                subItem.bulan = split(subItem.birth_date, "-")[1];
                subItem.hari = split(subItem.birth_date, "-")[2];
              });
            });

            if (popupPayment) {
              this.terms = true;
              this.next();
            }
          }
        })
        .catch(e => {
          console.error(e);
        })
        .finally(() => {
          this.$hideLoading();
        });
    },

    clickRadioGender(value, index, subIndex) {
      this.form[index].beneficiaries[subIndex].gender = value;
      this.tempGender = value;
      this.form[index].beneficiaries[subIndex].relationship = null;
      this.forceRerender();
    },

    showModal(index, subIndex, val) {
      this.targetModal = {
        index,
        subIndex
      };
      this.choosedModal = Number(val);
      this.activeModal = true;
    },

    closeModal() {
      this.activeModal = false;
    },

    choosedItems(val) {
      let index = this.targetModal.index;
      let subIndex = this.targetModal.subIndex;
      let countPasangan = 0;

      map(this.form[index].beneficiaries, item => {
        // istri or suami
        if (item.relationship == 1 || item.relationship == 2) {
          countPasangan++;
        }
      });

      // relationship istri or suami tidak boleh lebih dari 1
      if (countPasangan < 1) {
        // set value relationship
        this.form[index].beneficiaries[subIndex].relationship = val;
      } else {
        // jika ingin edit dari suami or istri ke yang lain
        if (
          this.form[index].beneficiaries[subIndex].relationship == 1 ||
          this.form[index].beneficiaries[subIndex].relationship == 2
        ) {
          this.form[index].beneficiaries[subIndex].relationship = val;
        } else {
          if (val == 1 || val == 2) {
            this.$showNotification(
              "Tertanggung tidak boleh mempunyai Pasangan lebih dari 1"
            );
          } else {
            this.form[index].beneficiaries[subIndex].relationship = val;
          }
        }
      }

      // close modal when after choosed
      this.closeModal();
    },

    forceRerender() {
      // remove the my-component component from the DOM
      this.renderComponent = false;

      this.$nextTick(() => {
        // add my-component component in DOM
        this.renderComponent = true;
      });
    },

    addBeneficary(index) {
      if (this.form[index].beneficiaries.length < 5) {
        this.tempGender = null;
        this.form[index].beneficiaries.push({
          full_name: "",
          gender: null,
          hari: "",
          bulan: "",
          tahun: "",
          relationship: null,
          benefit: null
        });
      }

      this.forceRerender();
    },

    deleteBeneficary(index, subIndex) {
      if (this.form[index].beneficiaries.length > 1) {
        this.form[index].beneficiaries.splice(subIndex, 1);
        this.forceRerender();
      }
    },

    checkError() {
      let result = false;
      map(this.form, (item, index) => {
        map(item.beneficiaries, (subItem, subIndex) => {
          let full_name = this.$v.form.$each.$iter[index].beneficiaries.$each
            .$iter[subIndex].full_name.$error;

          let hari = this.$v.form.$each.$iter[index].beneficiaries.$each.$iter[
            subIndex
          ].hari.$error;

          let bulan = this.$v.form.$each.$iter[index].beneficiaries.$each.$iter[
            subIndex
          ].bulan.$error;

          let tahun = this.$v.form.$each.$iter[index].beneficiaries.$each.$iter[
            subIndex
          ].tahun.$error;

          let relationship = this.$v.form.$each.$iter[index].beneficiaries.$each
            .$iter[subIndex].relationship.$error;

          if (item.beneficiaries.length === 1 && !subItem.benefit) {
            this.confirmationModal = true;
            this.ahliwaris = subItem.full_name;

            if (full_name || hari || bulan || tahun || relationship)
              result = true;
          } else {
            let benefit = this.$v.form.$each.$iter[index].beneficiaries.$each
              .$iter[subIndex].benefit.$error;

            if (full_name || hari || bulan || tahun || relationship || benefit)
              result = true;
          }
        });
      });

      return result;
    },

    automationBenefit() {
      this.confirmationModal = false;
      map(this.form, item => {
        map(item.beneficiaries, (subItem, subIndex) => {
          if (subIndex === 0) {
            subItem.benefit = 100;
          }
        });
      });
    },

    validationBenefit() {
      let result = false;
      let totalPercentage = 0;
      let totalInsured = 0;

      map(this.form, item => {
        totalInsured += 1;
        map(item.beneficiaries, subItem => {
          totalPercentage += Number(subItem.benefit);
        });
      });

      if (totalPercentage === totalInsured * 100) {
        result = true;
      }

      return result;
    },

    // usia 18 - 64
    validateAge() {
      let result = 0;

      map(this.form, item => {
        map(item.beneficiaries, subItem => {
          // join date of birth
          let birth_date = `${subItem.tahun}/${subItem.bulan}/${subItem.hari}`;
          // jika kurang dari 18 tahun maka tidak bisa
          if (getAge(birth_date) < 18) {
            result++;
          }
        });
      });

      return result;
    },

    // check is valid date ex: 29/02/2000 = false
    checkIsValidDate() {
      let result = 0;

      map(this.form, item => {
        map(item.beneficiaries, subItem => {
          if (
            isValidDate(
              subItem.tahun,
              Number(subItem.bulan - 1),
              subItem.hari
            ) == false
          ) {
            result++;
          }
        });
      });

      return result;
    },

    allData() {
      const beneficiaries = [];
      map(this.form, item => {
        map(item.beneficiaries, subItem => {
          // mapping
          var birth_date = `${subItem.tahun}-${subItem.bulan}-${subItem.hari}`;
          subItem.birth_date = birth_date;

          beneficiaries.push({
            full_name: subItem.full_name,
            gender: subItem.gender,
            birth_date,
            relationship: subItem.relationship,
            benefit: Number(subItem.benefit)
          });
        });
      });
      const data = {
        locale: "id",
        p_ins_id: this.$store.getters["sijiPolicy/pInsId"],
        policy_id: this.$store.getters["sijiPolicy/policyId"],
        beneficiaries
      };

      return data;
    },

    getRiplayPersonal() {
      this.$v.$touch();

      // check all error validate (vuelidate)
      if (!this.checkError()) {
        const listBeneficiary = [];
        map(this.form, item => {
          map(item.beneficiaries, subItem => {
            // mapping
            listBeneficiary.push({
              full_name: subItem.full_name,
              birth_date: `${subItem.tahun}-${subItem.bulan}-${subItem.hari}`,
              relationship: subItem.relationship,
              benefit: Number(subItem.benefit)
            });
          });
        });
        const data = {
          policy_id: this.$store.getters["sijiPolicy/policyId"],
          listBeneficiary
        };

        this.$showLoading();
        this.$store
          .dispatch("sijiPolicy/fetchRiplayPersonal", data)
          .then(res => {
            location.href = res.link;
          })
          .catch(e => {
            this.$showNotification(e.msg);
            console.error(e);
          })
          .finally(() => {
            this.$hideLoading();
          });
      }
    },

    submitData(policy_id) {
      this.$showLoading();
      this.$store
        .dispatch("sijiPolicy/beneficiarySubmitData", { policy_id })
        .then(res => {
          this.makeOrder(res.policy_id);
        })
        .catch(e => {
          this.$showNotification(e.msg);
          console.error(e);
        })
        .finally(() => {
          this.$hideLoading();
        });
    },

    makeOrder(policy_id) {
      this.$showLoading();
      this.$store
        .dispatch("sijiPolicy/makeOrder", { policy_id })
        .then(res => {
          // set data form
          this.payment.order_no = res.order_no;
          this.payment.admin_fee = res.admin_fee;
          this.payment.printing_fee = res.printing_fee;
          this.payment.sum_product_amount =
            res.sum_product_amount + res.printing_fee;
          this.payment.premi_fee = res.sum_product_amount;
          this.modalPayment = true;
          this.$store.commit("sijiPolicy/SET_POLICY_BENEFICIARY", this.form);
          console.log("FORM", this.form);
          // next
        })
        .catch(e => {
          this.$showNotification(e.msg);
          console.error(e);
        })
        .finally(() => {
          this.$hideLoading();
        });
    },

    makePayment() {
      this.modalPayment = false;
      const data = {
        order_no: this.payment.order_no,
        sum_payable_amount: this.payment.sum_product_amount,
        sum_actual_paid_amount: this.payment.sum_product_amount,
        sum_transfer_money: 0,
        pay_platform: 7,
        terminal: 10
      };
      this.$showLoading();
      this.$store
        .dispatch("sijiPolicy/makePayment", data)
        .then(res => {
          const link = JSON.parse(res.third_platform_data);
          location.href = link.urlCheckout;
          console.log(res);
        })
        .catch(e => {
          this.$showNotification(e.msg);
          console.error(e);
        })
        .finally(() => {
          this.$hideLoading();
        });
    },

    next() {
      this.$v.$touch();

      // check all error validate (vuelidate)
      if (!this.checkError()) {
        if (this.checkIsValidDate() < 1) {
          if (this.validateAge() < 1) {
            // check validate benefit expect 100%
            if (this.validationBenefit()) {
              if (!this.terms)
                this.$showNotification("Harap setuju dengan Riplay Personal");
              else {
                this.$showLoading();
                this.$store
                  .dispatch(
                    "sijiPolicy/beneficiaryRegistration",
                    this.allData()
                  )
                  .then(res => {
                    this.submitData(res.policy_id);
                  })
                  .catch(e => {
                    this.$showNotification(e.msg);
                    console.error(e);
                  })
                  .finally(() => {
                    this.$hideLoading();
                  });
              }
            } else {
              if (!this.confirmationModal)
                this.$showNotification("Kalkulasi Benefit Harus 100%");
            }
          } else {
            this.$showNotification(
              "Usia minimal penerima manfaat adalah 18 tahun"
            );
          }
        } else {
          this.$showNotification("Tanggal lahir tidak valid");
        }
      }
    }
  },

  created() {
    this.initData();
  }
};
</script>
<style lang="scss" scoped>
.wrap-beneficiary-data {
  @apply min-h-screen;
  box-shadow: #ccc 0 2px 4px 0;

  .wrap-add-data {
    @apply flex;
    @apply justify-center;
    @apply items-center;

    .add-data {
      @apply flex;
      @apply justify-center;
      @apply items-center;
      @apply bg-white;
      @apply border border-app-primary;
      @apply py-2 px-7;
      @apply mt-6 mb-2;
      @apply rounded-3xl;
      @apply cursor-pointer;

      img {
        @apply w-5;
        @apply inline;
        @apply mr-3;
      }

      span {
        @apply text-app-primary;
        @apply font-bold;
        @apply text-sm;
      }
    }
  }

  .wrap-input-icon span {
    @apply leading-5;
    @apply absolute;
    @apply right-0;
    @apply p-3;
    @apply pointer-events-none;
  }
}
</style>
