<template>
  <div class="siji-index">
    <!-- navbar -->
    <base-navbar
      title="SiJi Corona Protection"
      color="bg-app-blue text-white"
    />
    <!-- end navbar -->

    <!-- hero -->
    <div class="hero bg-app-blue">
      <div class="top-wrapper">
        <img
          src="@/assets/img/asuransi/siji/header-banner.png"
          alt="header-banner"
          class="header-banner w-4/6 m-2"
        />
      </div>
      <div class="info-banner">
        Asuransi jiwa yang dapat membantumu jika kamu positif Covid-19
      </div>
      <img
        class="pt-24"
        src="@/assets/img/asuransi/siji/banner.svg"
        alt="banner"
      />
    </div>
    <!-- end hero -->

    <!-- section-wrapper -->
    <div class="section-wrapper">
      <!-- section 1 -->
      <card-box class="section-1">
        <div class="title">
          <img
            src="@/assets/img/asuransi/siji/kutip.png"
            alt="kutip"
            class="kutip"
          />
          Peduli Sehat Memilih Yang Terbaik Untukmu
          <img
            src="@/assets/img/asuransi/siji/kutip.png"
            alt="kutip"
            class="kutip"
          />
        </div>
        <div class="bantuan-hingga">Bantuan Hingga</div>
        <div class="bantuan-persen">225%</div>
        <div class="btn-fill-rounded btn-gabung" @click="scrollToJoin">
          Gabung Sekarang
        </div>
        <div class="donatur-bergabung">
          <img
            src="@/assets/img/asuransi/siji/donatur-bergabung.png"
            alt="donatur-bergabung"
            class="donatur-bergabung"
          />
          <div class="jumlah">
            2656 donatur telah bergabung
          </div>
        </div>
      </card-box>
      <!-- end section 1 -->

      <!-- section 2 -->
      <card-box class="section-2">
        <div class="title">
          <img
            src="@/assets/img/asuransi/siji/kutip.png"
            alt="kutip"
            class="kutip"
          />
          Pilihan Paket
          <img
            src="@/assets/img/asuransi/siji/kutip.png"
            alt="kutip"
            class="kutip"
          />
        </div>
        <div class="pilihan-paket">
          <ul>
            <template v-for="(tab, index) in tabs">
              <li
                v-bind:key="index"
                class="tab"
                :class="
                  activeTab === index
                    ? 'text-app-primary border-app-primary border-b-2'
                    : 'text-gray-400'
                "
                @click="activeTab = index"
                v-text="tab"
              ></li>
            </template>
          </ul>
          <div class="paket">
            <!-- Bronze -->
            <div v-show="activeTab === 0">
              <template v-for="(text, index) in paket.title">
                <div v-bind:key="index">
                  <div class="title-paket" v-text="text"></div>
                  <div
                    class="description-paket"
                    v-text="paket.bronze[index]"
                  ></div>
                </div>
              </template>
            </div>

            <!-- Silver -->
            <div v-show="activeTab === 1">
              <template v-for="(text, index) in paket.title">
                <div v-bind:key="index">
                  <div class="title-paket" v-text="text"></div>
                  <div
                    class="description-paket"
                    v-text="paket.silver[index]"
                  ></div>
                </div>
              </template>
            </div>

            <!-- Gold -->
            <div v-show="activeTab === 2">
              <template v-for="(text, index) in paket.title">
                <div v-bind:key="index">
                  <div class="title-paket" v-text="text"></div>
                  <div
                    class="description-paket"
                    v-text="paket.gold[index]"
                  ></div>
                </div>
              </template>
            </div>

            <!-- Platinum -->
            <div v-show="activeTab === 3">
              <template v-for="(text, index) in paket.title">
                <div v-bind:key="index">
                  <div class="title-paket" v-text="text"></div>
                  <div
                    class="description-paket"
                    v-text="paket.platinum[index]"
                  ></div>
                </div>
              </template>
            </div>
          </div>
        </div>
      </card-box>
      <!-- end section 2 -->

      <!-- section 3 -->
      <card-box class="section-3">
        <div class="benefit-1">
          <div class="background"></div>
          <div class="wrapper">
            <img
              src="@/assets/img/asuransi/siji/benefit-1.png"
              alt="benefit-1"
            />
            <div class="title">Keuntungan dari SiJi Corona Protection?</div>
          </div>
          <div class="description">
            Perlindungan Termasuk
            <br />
            <br />
            1. Jika positif terdiagnosa Covid-19, jika dapat dibuktikan oleh tes
            lab dan surat dokter. Uang pertanggungan yang didapat= 100%.
            <br />
            <br />
            2. Jika meninggal dunia setelah positif terdiagnosa Covid-19. Uang
            pertanggungan tambahan yang didapat = 125%.
          </div>
        </div>
        <div class="benefit-2">
          <div class="background"></div>
          <div class="wrapper">
            <div class="title">
              Aku sudah punya BPJS. Apa perlu SiJi Corona Protection?
            </div>
            <img
              src="@/assets/img/asuransi/siji/benefit-2.png"
              alt="benefit-2"
            />
          </div>
          <div class="description">
            SiJi Corona Protection tidak berbenturan dengan BPJS. Kamu dapat
            menggunakan dua-duanya untuk melengkapi satu sama lain.
          </div>
        </div>
        <div class="info">
          *Peduli Sehat hanya bertindak sebagai perantara dari
          <span class="sinarmas-small"></span> PT Asuransi Simas Jiwa untuk
          menjual produk SiJI Corona Protection.
        </div>
      </card-box>
      <!-- end section 3 -->

      <!-- section 4 -->
      <card-box title="Cakupan Usia" class="section-4">
        <div class="title">
          Umur 6 bulan - 64 tahun dapat masuk dalam cakupan tertanggung asuransi
        </div>
        <img
          src="@/assets/img/asuransi/siji/cakupan-usia.svg"
          alt="cakupan-usia"
          class="cakupan-usia"
        />
      </card-box>
      <!-- end section 4 -->

      <!-- section 5 -->
      <card-box title="Bebas Penggunaan Uang Pertanggungan" class="section-5">
        <div class="title">
          Kamu dapat menggunakan uang pertanggungan asuransi untuk kebutuhan ini
        </div>
        <img
          src="@/assets/img/asuransi/siji/bebas-penggunaan.png"
          alt="bebas-penggunaan"
          class="bebas-penggunaan"
        />
      </card-box>
      <!-- end section 5 -->

      <!-- section 6 -->
      <card-box title="Mengapa Asuransi Peduli Sehat?" class="section-6">
        <div class="why-list list-1 mt-5">
          <p class="list-title">Transparan & Mudah Dimengerti</p>
          <p class="cnt">
            Semua kondisi yang dilindungi, serta syarat & ketentuan terangkum di
            halaman produk
          </p>
        </div>

        <div class="why-list list-2">
          <p class="list-title">Transaction 100% Online</p>
          <p class="cnt">
            Beli asuransi secara online, tanpa proses administrasi yang
            menyusahkan
          </p>
        </div>

        <div class="why-list list-3">
          <p class="list-title">Premi Terjangkau</p>
          <p class="cnt">
            Dengan premi terjangkau, kamu bisa mendapatkan perlindungan untuk
            setiap kebutuhan
          </p>
        </div>
      </card-box>
      <!-- end section 6 -->
    </div>
    <!-- end section wrapper -->

    <!-- segment wrapper -->
    <div class="segment-wrapper">
      <!-- segment 1 -->
      <div class="segment-1">
        <div class="title">Proses Klaim</div>
        <div class="subtitle">Syarat dan Ketentuan Klaim :</div>
        <div class="processes">
          <p class="procs">
            <span class="number">1</span>
            <span>
              Pengajuan klaim hanya bisa dilakukan setelah melewati Masa Tunggu
              30 hari
            </span>
          </p>

          <p class="procs">
            <span class="number">2</span>
            <span>
              Untuk kasus Tertanggung meninggal dunia, pengajuan klaim paling
              lama 90 hari sejak Tertanggung meninggal atau akhir masa asuransi
            </span>
          </p>

          <p class="procs">
            <span class="number">3</span>
            <span>
              Proses pengajuan klaim dapat dilakukan dengan menghubungi
              <strong>Customer Service PT Asuransi Simas Jiwa</strong> :
            </span>
            <br />
            <span>• WhatsApp Chat: 0882-1245-7999</span><br />
            <span>• Telepon: (021) - 2854 7999</span><br />
            <span>• Email: cs@simasjiwa.co.id</span>
          </p>
          <p class="procs">
            <span class="number">4</span>
            <span>
              Dokumen yang perlu disiapkan:
            </span>
            <br />
            <span>• Polis (asli);</span><br />
            <span
              >• Fotokopi bukti identitas diri Pemegang Polis yang masih
              berlaku; dan</span
            ><br />
            <span>• Formulir pengajuan Manfaat Asuransi dari Penanggung.</span>
          </p>

          <p class="procs">
            <span class="number">5</span>
            <span>
              <strong dir="ltr">Jika Tertanggung masih hidup:</strong>
            </span>
            <br />
            <span>• Polis (asli);</span><br />
            <span
              >• Surat keterangan meninggal dunia dari Instansi Pemerintah yang
              berwenang;</span
            ><br />
            <span
              >• Surat keterangan sebab-sebab meninggal dunia dari dokter
              (apabila diperlukan);</span
            >
            <span
              >• Surat keterangan dari Kepolisian dalam hal meninggal dunia
              tidak wajar atau karena kecelakaan;</span
            >
            <span>• Hasil visum et repertum (bila diperlukan);</span>
            <span
              >• Surat keterangan dari Kedutaan Besar Republik Indonesia (KBRI)
              setempat dalam hal meninggal dunianya di luar negeri;</span
            >
          </p>

          <p class="procs">
            <span class="number">6</span>
            <span>
              <strong dir="ltr"
                >Jika Tertanggung meninggal dunia, perlu menambahkan beberapa
                dokumen selain yang sudah dijabarkan di no 5:</strong
              >
            </span>
            <br />
            <span
              >• Fotokopi bukti identitas diri dari Peserta dan pihak yang
              ditunjuk yang masih berlaku, berupa:</span
            ><br />
            <span>- Kartu Keluarga.</span><br />
            <span>- E-KTP/Paspor/Akte Lahir.</span><br />
            <span
              >• Dokumen lainnya yang berhubungan dengan dokumen tersebut di
              atas.</span
            >
          </p>
        </div>
      </div>
      <!-- end segment 1 -->

      <!-- segment 2 -->
      <div class="segment-2" ref="segment-2">
        <div class="title">Pilih Rencana Paket</div>
        <div class="rows">
          <button
            v-for="data in plans"
            v-bind:key="data.sku_key"
            :class="data.sku_key == sku_key ? 'btn-fill' : 'btn-outlined-gray'"
            @click="sku_key = data.sku_key"
          >
            {{ data.title }} <br />
            {{ data.desc }}
          </button>
        </div>
      </div>
      <!-- end segment 2 -->
    </div>
    <!-- end segment wrapper -->

    <div class="flex mt-5 mb-10 px-6">
      <label for="toggle" class="text-sm text-app-label-3"
        >Apa kamu perlu untuk mencetak hardcopy dari polis? (Biaya tambahan Rp
        50.000)</label
      >
      <div
        class="relative inline-block w-10 mx-3 align-middle select-none transition duration-200 ease-in"
      >
        <input
          type="checkbox"
          v-model="is_print"
          id="toggle"
          class="toggle-checkbox absolute block w-6 h-6 rounded-full bg-white border-4 appearance-none cursor-pointer"
        />
        <label
          for="toggle"
          class="toggle-label block overflow-hidden h-6 rounded-full bg-gray-300 cursor-pointer"
        ></label>
      </div>
    </div>

    <div class="flex mt-5 mb-10 px-6">
      <div class="w-4">
        <div
          class="radio-button cursor-pointer"
          :class="{ active: terms }"
          @click="terms = !terms"
        >
          <img
            src="@/assets/img/general/icon-checklist-radio.svg"
            alt="icon checklist radio"
          />
        </div>
      </div>
      <span class="ml-5 text-sm text-app-label-3">
        Silakan baca dan centang untuk setuju dengan
        <span class="text-app-blue-terms" @click="modalStatementHealth = true"
          >Pernyataan Calon Nasabah & Pernyataan Kesehatan</span
        >
        ,
        <span class="text-app-blue-terms" @click="modalTermsConditions = true"
          >Syarat & Ketentuan SiJi Corona Protection</span
        >
        dan
        <span class="text-app-blue-terms" @click="getRiplayGeneral"
          >RIPLAY Umum</span
        >
      </span>
    </div>

    <!-- footer -->
    <div class="footer">
      <div class="wrap-whatsapp">
        <div class="whatsapp" @click="goToWhatsapp">
          <img
            src="@/assets/img/general/icon-whatsapp.svg"
            alt="icon whatsapp"
          />
          <span>Kontak WhatsApp</span>
        </div>
      </div>

      <!-- share -->
      <div class="wrap-share">
        <button class="btn-outlined mr-2 sm:mr-3 xl" @click="modalShare = true">
          Bagikan
        </button>
        <button class="btn-fill ml-2 sm:ml-3 xl" @click="next">
          Bergabung
        </button>
      </div>
      <!-- end share -->
    </div>
    <!-- end footer -->

    <!-- modal statement display -->
    <modal
      title="Pernyataan Calon Nasabah & Pernyataan Kesehatan"
      v-if="modalStatementHealth"
      @close="modalStatementHealth = false"
    >
      <div class="px-4 pb-4">
        <div v-html="statementHealth"></div>

        <button class="btn-fill xl mt-4" @click="modalStatementHealth = false">
          Mengerti
        </button>
      </div>
    </modal>
    <!-- end term conditions statement display -->

    <!-- modal statement display -->
    <modal
      title="Syarat & Ketentuan SiJi Corona Protection"
      v-if="modalTermsConditions"
      @close="modalTermsConditions = false"
    >
      <div class="px-4 pb-4">
        <div v-html="termsConditions"></div>

        <button class="btn-fill xl mt-4" @click="modalTermsConditions = false">
          Mengerti
        </button>
      </div>
    </modal>
    <!-- end modal term conditions display -->

    <!-- modal share social -->
    <modal
      title="Just One Click to Share Your Care"
      titleCenter
      v-if="modalShare"
      @close="modalShare = false"
    >
      <div class="px-4 pb-4">
        <share-social />
      </div>
    </modal>
    <!-- end modal share social -->
  </div>
</template>
<script>
// base
import BaseNavbar from "@/components/Base/Navbar.vue";
import ShareSocial from "@/components/Base/ShareSocial.vue";
import Modal from "@/components/Base/Modal.vue";

// components
import CardBox from "@/components/Asuransi/Pedulicare/CardBox.vue";

export default {
  name: "PedulicareIndex",

  components: {
    BaseNavbar,
    CardBox,
    ShareSocial,
    Modal
  },

  data: () => ({
    modalShare: false,
    activeTab: 0,
    tabs: ["Bronze", "Silver", "Gold", "Platinum"],
    paket: {
      title: [
        "1. Uang Pertanggungan Positif Terdiagnosa Covid-19",
        "2. Uang Pertanggungan jika Meninggal Dunia",
        "3. Biaya Premi",
        "4. Cakupan Usia",
        "5. Periode Asuransi"
      ],
      bronze: [
        "Rp 5.000.000",
        "Rp 6.250.000",
        "Rp 367.000",
        "6 bulan - 64 tahun",
        "12 bulan"
      ],
      silver: [
        "Rp 10.000.000",
        "Rp 12.500.000",
        "Rp 734.000",
        "6 bulan - 64 tahun",
        "12 bulan"
      ],
      gold: [
        "Rp 15.000.000",
        "Rp 18.750.000",
        "Rp 1.101.000",
        "6 bulan - 64 tahun",
        "12 bulan"
      ],
      platinum: [
        "Rp 20.000.000",
        "Rp 25.000.000",
        "Rp 1.468.000",
        "6 bulan - 64 tahun",
        "12 bulan"
      ]
    },
    plans: [
      {
        title: "Bronze",
        desc: "Uang Pertanggungan 5 juta",
        sku_key: "siji-COVID-19-A"
      },
      {
        title: "Silver",
        desc: "Uang Pertanggungan 10 juta",
        sku_key: "siji-COVID-19-B"
      },
      {
        title: "Gold",
        desc: "Uang Pertanggungan 15 juta",
        sku_key: "siji-COVID-19-C"
      },
      {
        title: "Platinum",
        desc: "Uang Pertanggungan 20 juta",
        sku_key: "siji-COVID-19-D"
      }
    ],
    sku_key: "siji-COVID-19-A",
    is_print: false,
    modalStatementHealth: false,
    modalTermsConditions: false,
    terms: false,
    statementHealth: null,
    termsConditions: null,
    riplayGeneral: null
  }),

  methods: {
    scrollToJoin() {
      var element = this.$refs["segment-2"];
      var top = element.offsetTop;

      window.scrollTo(0, top);
    },
    next() {
      if (!this.terms)
        this.$showNotification(
          "Harap setuju dengan Pernyataan Calon Nasabah & Pernyataan Kesehatan, dll"
        );
      else {
        this.$store.commit("sijiPolicy/SET_COMMODITY_ITEM", [
          {
            sku_number: 1,
            is_print: this.is_print,
            sku_key: this.sku_key
          }
        ]);
        this.$store.commit("sijiPolicy/SET_POLICY_ID", null);
        this.$store.commit("sijiPolicy/SET_P_INS_ID", null);
        this.$store.commit("sijiPolicy/SET_POLICY_HOLDER", {
          full_name: "",
          id_card: null,
          email: "",
          mobile_number: "",
          gender: null,
          province_name: "",
          city_name: "",
          postal_code: "",
          address: "",
          commodity_item: null,
          tax_number: ""
        });
        this.$store.commit("sijiPolicy/SET_INSURED_PERSON", {
          policy_id: null,
          full_name: "",
          id_card: null,
          email: "",
          mobile_number: "",
          gender: null,
          province_name: "",
          city_name: "",
          postal_code: "",
          address: "",
          relationship: null,
          locale: "id"
        });
        this.$store.commit("sijiPolicy/SET_POLICY_BENEFICIARY", [
          {
            beneficiaries: [
              {
                full_name: "",
                gender: null,
                relationship: null,
                hari: "",
                bulan: "",
                tahun: "",
                birth_date: ""
              }
            ]
          }
        ]);
        //SijiPolicyHolderForm
        this.$router.push({ name: "SijiPolicyHolderForm" });
      }
    },
    goToWhatsapp() {
      window.open(
        "https://api.whatsapp.com/send?phone=6281230009479&text=Halo%20,%20Saya%20mau%20konsultasi%20asuransi%20di%20pedulisehat.id",
        "_blank"
      );
    },
    initSiji() {
      this.getStatementHealth();
      this.getTermsConditions();
    },
    getStatementHealth() {
      this.$showLoading();
      this.$store
        .dispatch("sijiPolicy/fetchStatementHealth")
        .then(res => {
          this.statementHealth = res;
        })
        .catch(e => {
          console.error(e);
        })
        .finally(() => {
          this.$hideLoading();
        });
    },
    getTermsConditions() {
      this.$showLoading();
      this.$store
        .dispatch("sijiPolicy/fetchTermsConditions")
        .then(res => {
          this.termsConditions = res;
        })
        .catch(e => {
          console.error(e);
        })
        .finally(() => {
          this.$hideLoading();
        });
    },
    getRiplayGeneral() {
      this.$showLoading();
      this.$store
        .dispatch("sijiPolicy/fetchRiplayGeneral", { sku_key: this.sku_key })
        .then(res => {
          location.href = res.Link;
        })
        .catch(e => {
          console.error(e);
        })
        .finally(() => {
          this.$hideLoading();
        });
    }
  },

  created() {
    this.initSiji();
  }
};
</script>
<style lang="scss" scoped>
.top-wrapper {
  @apply flex;
  @apply pl-2;
  @apply items-center;
}

.info-banner {
  @apply w-3/4;
  @apply px-4;
  @apply py-2;
  @apply text-app-blue;
  @apply bg-app-blue-light;
  @apply rounded-full;
  @apply text-xs;
  @apply absolute;
  @apply text-center;
  margin-top: 5%;
  left: 13%;
}

.section-wrapper {
  @apply bg-app-blue;
  @apply px-3;
  @apply pb-4;

  .section-1 {
    @apply py-2;

    .title {
      @apply mt-3;
      @apply text-sm;
      @apply justify-center;
      @apply text-gray-600;
      @apply flex;

      img {
        @apply w-4;
        @apply h-3;
        @apply mx-2;
      }
    }

    .bantuan-hingga {
      @apply mt-2;
      @apply text-xl;
      @apply text-center;
    }

    .bantuan-persen {
      @apply mt-2;
      @apply text-5xl;
      @apply text-center;
      @apply font-bold;
      @apply text-app-orange-2;
    }

    .btn-gabung {
      @apply w-3/5;
      @apply m-auto;
      @apply mt-5;
      @apply mb-8;
      @apply text-center;
      @apply cursor-pointer;
    }

    .donatur-bergabung {
      @apply flex;
      @apply items-center;
      @apply bg-yellow-50;
      @apply -mb-2;
      @apply rounded-xl;
      @apply p-1;

      img {
        @apply w-2/12;
        @apply mb-0.5;
      }

      .jumlah {
        @apply text-sm;
        @apply text-app-orange;
        @apply ml-1;
      }
    }
  }

  .section-2 {
    @apply mt-6;

    .title {
      @apply mt-5;
      @apply text-sm;
      @apply justify-center;
      @apply text-gray-600;
      @apply flex;

      img {
        @apply w-4;
        @apply h-3;
        @apply mx-2;
      }
    }

    .pilihan-paket {
      @apply mt-4;

      ul {
        @apply flex;

        .tab {
          @apply cursor-pointer;
          @apply py-2;
          @apply px-2;
          @apply text-base;
          @apply m-auto;
        }
      }

      .paket {
        @apply w-full;
        @apply p-4;
        @apply border-t;

        .title-paket {
          @apply text-app-label-2;
          @apply pb-1;
          @apply mt-3.5;
        }
        .description-paket {
          @apply text-app-label;
          @apply font-bold;
          @apply mx-5;
        }
      }
    }
  }

  .section-3 {
    @apply mt-6;
    @apply pt-4;

    .background {
      @apply bg-yellow-50;
      @apply h-14;
      @apply m-8;
      @apply rounded-full;
    }
    .wrapper {
      @apply flex;
      @apply -mt-28;
      @apply items-center;

      .title {
        @apply font-semibold;
        @apply text-base;
        @apply -mt-2;
        @apply text-yellow-900;
      }

      img {
        @apply h-20;
        @apply mb-8;
      }
    }

    .benefit-1 .wrapper .title {
      @apply mr-14;
    }

    .benefit-2 .wrapper .title {
      @apply ml-14;
    }

    .description {
      @apply text-app-label-2;
      @apply mx-6;
      @apply -mt-3;
    }

    .info {
      @apply text-app-label-3;
      @apply mx-6;
      @apply mt-7;
      @apply text-xs;
    }
  }

  .section-4 {
    @apply mt-6;

    .title {
      @apply text-app-label;
      @apply text-center;
      @apply m-2;
    }
    .cakupan-usia {
      @apply w-7/12;
      @apply m-auto;
      @apply mt-5;
    }
  }

  .section-5 {
    @apply mt-6;

    .title {
      @apply text-app-label;
      @apply text-center;
      @apply m-2;
    }
    .bebas-penggunaan {
      @apply w-10/12;
      @apply m-auto;
      @apply mt-5;
    }
  }

  .section-6 {
    @apply mt-6;
    @apply px-6;
  }
}

.segment-wrapper {
  @apply p-5;

  .segment-1 {
    .title {
      @apply font-semibold;
      @apply text-lg;
    }
    .subtitle {
      @apply font-medium;
      @apply mt-3;
    }
    .processes {
      @apply ml-2;
      @apply mt-3;
      @apply relative;
      @apply text-app-label-2;

      &::before {
        content: "";
        @apply pr-3;
        @apply absolute;
        @apply left-0;
        @apply top-1.5;
        @apply inline-block;
        @apply border-l;
        @apply border-app-primary;
        height: 80%;
      }

      .procs {
        @apply relative;
        @apply pl-6;
        @apply pb-5;

        .number {
          @apply rounded-full;
          @apply text-white;
          @apply text-center;
          @apply font-bold;
          @apply text-xs;
          @apply leading-5;
          @apply inline-block;
          @apply w-5 h-5;
          @apply absolute;
          left: -9px;
          top: 2px;
          background: linear-gradient(
            45deg,
            rgba(0, 149, 0, 1) 0%,
            rgba(81, 219, 0, 1) 50%
          );
        }
      }
    }
  }

  .segment-2 {
    .title {
      @apply mt-2;
      @apply font-semibold;
      @apply text-lg;
    }
    .rows {
      @apply mt-4;
      @apply grid;
      @apply grid-cols-2;
      @apply gap-3;

      button {
        @apply px-5;
        @apply text-left;
      }
    }
  }
}
// footer
.footer {
  background: #f8f8f8;

  .wrap-whatsapp {
    @apply flex;
    @apply justify-center;
    @apply items-center;
    padding-bottom: 83px;

    .whatsapp {
      @apply bg-white;
      @apply py-2 px-7;
      @apply my-7;
      @apply rounded-3xl;
      @apply cursor-pointer;

      img {
        @apply w-5;
        @apply inline;
        @apply mr-3;
      }

      span {
        @apply text-app-primary;
        @apply font-bold;
        @apply text-sm;
      }
    }
  }

  .wrap-share {
    @apply flex;
    @apply justify-center;
    @apply items-center;
    @apply bg-white;
    @apply py-3 px-4;
    @apply border-t;
    @apply border-app-border;
    @apply fixed;
    @apply bottom-0;
    @apply w-full;
    @apply max-w-screen-sm;
    transition: 0.3s;

    button {
      @apply w-1/2;
    }
  }
}
// end footer
</style>
