<template>
  <div class="wrap-policy-holder">
    <base-navbar title="Lengkapi Data Polis" />

    <div class="text-center px-5">
      <div class="font-bold text-app-title pt-5 pb-4 text-lg">
        Data Pemegang Polis
      </div>

      <div class="text-sm">
        Pemegang Polis adalah orang yang bertugas memegang dan mengklaim
        asuransi jika tertanggung membutuhkannya.
      </div>

      <!-- step introducer components -->
      <div class="py-4">
        <step-introducer :datas="stepData" :active="1" />
      </div>
      <!-- end step introducer components -->
    </div>

    <div class="divider"></div>

    <div class="px-5">
      <div class="wrap-input pb-5">
        <!-- full name -->
        <form-group label="Nama Lengkap" :validator="$v.form.full_name">
          <input
            type="text"
            class="input mt-5"
            v-model="form.full_name"
            placeholder="Nama Lengkap"
            :error="$v.form.full_name.$error"
          />
        </form-group>

        <!-- nomor KTP -->
        <div class="flex">
          <form-group
            label="Nomor KTP"
            class="w-full"
            :validator="$v.form.id_card"
          >
            <input
              type="text"
              class="input mt-4"
              v-model="form.id_card"
              placeholder="Nomor KTP"
              :error="$v.form.id_card.$error"
            />
          </form-group>
          <!-- <button
            class="bg-app-primary ml-3 mt-4 px-3 py-1 text-white rounded-md"
            @click="parsingKtp()"
            :disabled="!form.id_card"
          >
            cek
          </button> -->
        </div>

        <!-- Jenis Kelamin -->
        <form-group label="Jenis Kelamin" :validator="$v.form.gender">
          <div class="input-choice mt-4">
            <span class="placeholder">
              Jenis Kelamin
            </span>

            <div class="flex w-1/2 justify-center items-center">
              <div
                class="w-1/2 flex items-center cursor-pointer"
                @click="clickRadioGender(1)"
              >
                <div
                  class="radio-button"
                  :class="form.gender === 1 ? 'active' : ''"
                >
                  <img
                    src="@/assets/img/general/icon-checklist-radio.svg"
                    alt="icon checklist radio"
                  />
                </div>
                <span class="ml-3 font-bold text-sm">Pria</span>
              </div>
              <div
                class="w-1/2 flex items-center cursor-pointer"
                @click="clickRadioGender(2)"
              >
                <div
                  class="radio-button"
                  :class="form.gender === 2 ? 'active' : ''"
                >
                  <img
                    src="@/assets/img/general/icon-checklist-radio.svg"
                    alt="icon checklist radio"
                  />
                </div>
                <span class="ml-3 font-bold text-sm">Wanita</span>
              </div>
            </div>
          </div>
        </form-group>

        <!-- email -->
        <form-group label="E-mail" :validator="$v.form.email">
          <input
            type="email"
            class="input mt-4"
            v-model="form.email"
            placeholder="E-mail"
            :error="$v.form.email.$error"
          />
        </form-group>

        <!-- phone number -->
        <form-group label="No Telepon" :validator="$v.form.mobile_number">
          <input
            type="text"
            class="input mt-4"
            v-model="form.mobile_number"
            placeholder="No Telepon"
            :error="$v.form.mobile_number.$error"
          />
        </form-group>

        <!-- address -->
        <form-group label="Alamat" class="mt-4" :validator="$v.form.city_name">
          <div class="input-choice mt-4" @click="modalLocation = true">
            <span
              class="text-app-label"
              v-if="form.province_name && form.city_name"
            >
              {{ form.province_name + ", " + form.city_name }}
            </span>
            <span class="placeholder" v-else>
              Alamat
            </span>
            <img
              src="@/assets/img/general/icon-chevron-right.svg"
              alt="icon right"
            />
          </div>
        </form-group>

        <!-- postal_code -->
        <form-group label="Kode Pos" class="mt-4" :validator="$v.postal_code">
          <input
            type="text"
            class="input"
            v-model="form.postal_code"
            placeholder="Kode Pos"
            :error="$v.form.postal_code.$error"
          />
        </form-group>
        <!-- alamat tinggal -->
        <form-group label="Alamat Lengkap" :validator="$v.address">
          <input
            type="text"
            class="input mt-4"
            v-model="form.address"
            placeholder="Alamat Lengkap"
            :error="$v.form.address.$error"
          />
        </form-group>
      </div>
    </div>

    <div class="divider"></div>

    <div class="py-3 px-5">
      <button class="btn-fill mr-2 sm:mr-3 xl" @click="next">
        Berikutnya
      </button>
    </div>

    <!-- modal alamat -->
    <modal-location
      v-show="modalLocation"
      @close="modalLocation = false"
      @choosedLocation="choosedLocation"
    >
    </modal-location>
  </div>
</template>
<script>
// utils
import {
  required,
  minLength,
  maxLength,
  email,
  numeric
} from "vuelidate/lib/validators";

// base
import BaseNavbar from "@/components/Base/Navbar.vue";
import StepIntroducer from "@/components/Base/StepIntroducer.vue";
import FormGroup from "@/components/Base/FormGroup.vue";

//components
import ModalLocation from "@/components/Asuransi/Siji/ModalLocation.vue";

export default {
  name: "SijiPolicyHorderForm",

  components: {
    BaseNavbar,
    StepIntroducer,
    FormGroup,
    ModalLocation
  },

  data: () => ({
    stepData: [
      "Data Pemegang Polis",
      "Data Tertanggung",
      "Data Penerima Manfaat"
    ],
    MaritalItemsData: ["Belum Menikah", "Menikah", "Janda", "Duda"],
    form: null,
    canNext: false,
    modalLocation: false
  }),

  validations: {
    form: {
      full_name: {
        required
      },
      id_card: {
        required,
        numeric,
        minLength: minLength(16),
        maxLength: maxLength(16)
      },
      gender: {
        required
      },
      email: {
        required,
        email
      },
      mobile_number: {
        required,
        numeric,
        minLength: minLength(10)
      },
      province_name: {
        required
      },
      city_name: {
        required
      },
      postal_code: {
        required,
        numeric
      },
      address: {
        required
      }
    }
  },
  methods: {
    initData() {
      this.form = this.$store.getters["sijiPolicy/policyHolder"];
      const policyId = this.$route.params.policyId;
      if (policyId) {
        this.$store.commit("sijiPolicy/SET_POLICY_ID", policyId);
        this.$showLoading();
        this.$store
          .dispatch("sijiPolicy/getPolicy", { policyId })
          .then(res => {
            this.form = res;
          })
          .catch(e => {
            console.error(e);
          })
          .finally(() => {
            this.$hideLoading();
          });
      }
    },

    parsingKtp() {
      this.$v.form.id_card.$touch();
      if (!this.$v.form.id_card.$error) {
        this.$showLoading();
        this.$store
          .dispatch("sijiPolicy/ktpParsing", {
            identityNumber: this.form.id_card
          })
          .then(res => {
            if (res.age < 1) {
              this.$showNotification("Nomor KTP Tidak Ditemukan");
            } else {
              this.canNext = true;
              this.$showNotification("Nomor KTP Ditemukan");
            }
          })
          .catch(e => {
            console.error(e);
          })
          .finally(() => {
            this.$hideLoading();
          });
      }
    },

    // set gender
    clickRadioGender(value) {
      this.form.gender = value;
    },

    choosedLocation(val) {
      this.form.province_name = val.province;
      this.form.city_name = val.city;
    },

    next() {
      this.$v.$touch();

      if (!this.$v.$invalid) {
        // ktp not registered
        setTimeout(() => {
          // if (this.canNext == true) {
          this.$showLoading();
          this.form.commodity_item = JSON.stringify(
            this.$store.getters["sijiPolicy/commodityItem"]
          );
          this.form.tax_number = "";
          this.form.policy_id = this.$store.getters["sijiPolicy/policyId"];
          this.$store
            .dispatch("sijiPolicy/policyRegistration", this.form)
            .then(res => {
              // set data form
              this.$store.commit("sijiPolicy/SET_POLICY_ID", res.policy_id);
              this.$store.commit("sijiPolicy/SET_POLICY_HOLDER", this.form);
              // next
              this.$router.push({
                name: "SijiInsuredDataForm",
                params: {
                  policyId: this.$route.params.policyId
                }
              });
            })
            .catch(e => {
              this.$showNotification(e.msg);
              console.error(e);
            })
            .finally(() => {
              this.$hideLoading();
            });
          // } else {
          //   this.$showNotification("Silahkan klik cek nomor KTP");
          // }
        }, 500);
      }
    }
  },

  created() {
    this.initData();
  }
};
</script>
<style lang="scss" scoped>
.wrap-policy-holder {
  @apply min-h-screen;
  box-shadow: #ccc 0 2px 4px 0;

  .unpaid-img {
    width: 100%;
    max-width: 420px;
    margin: 0 auto;
  }
}
</style>
