<template>
  <div class="underwriting-failed">
    <base-navbar title="" :route="getGoBack()" />

    <!-- status gagal -->
    <div class="flex flex-col justify-center items-center w-full">
      <img src="@/assets/img/general/payment-warning.svg" alt="warning" />

      <div class="font-bold text-center">
        <div class="text-2xl pt-6 pb-3">{{ $t("asuransi.lang1") }}</div>
        <div class="text-lg">
          {{ message }}
        </div>
      </div>

      <button class="btn-fill xl mt-10" @click="backToAsurance()">
        {{ $t("asuransi.lang2") }}
      </button>
    </div>
    <!-- end status gagal -->
  </div>
</template>
<script>
// base
import BaseNavbar from "@/components/Base/Navbar.vue";

export default {
  name: "UnderWritingFailed",
  components: {
    BaseNavbar
  },

  data: () => ({
    message: ""
  }),

  methods: {
    getMessage() {
      this.message = localStorage.getItem("message-underwriting");
    },
    getGoBack() {
      let urlStr = location.host;
      let result;
      if (urlStr.indexOf("pre.pedulisehat.id") != -1) {
        result = "https://asuransi-pre.pedulisehat.id/sijicorona.html";
      } else {
        result = "https://asuransi.pedulisehat.id/sijicorona.html";
      }

      return result;
    },
    backToAsurance() {
      location.href = this.getGoBack();
    }
  },

  created() {
    this.getMessage();
  }
};
</script>
<style lang="scss" scoped>
.underwriting-failed {
  @apply px-4;
  @apply flex;
  @apply flex-col;
  @apply items-center;
  @apply justify-center;
  min-height: calc(100vh - 56px);
  box-shadow: #ccc 0 2px 4px 0;

  img {
    width: 250px;
  }
}
</style>
